[2017-11-13 11:32] andresmgot commented on #418
Indeed the current events-based pods follow the `queuing model` approach. In the docs we use the 'pubsub' notation to express that the function will be triggered PUBlishing messages to the SUBscribed functions (it doesn't refer to the queueing model, it may be confusing).

Every replica of the same function will use the same [group](https://kafka.apache.org/documentation/#intro_consumers) so the m

[2017-11-13 12:38] ccll commented on #418
Thanks for the detailed explanation, it's much clear now.

I was using a python3.4 runtime, and the messages were indeed send to only 1 of the consumers, but it's stick to 1 specific consumer, rather than round-robin-ed/distributed among all the consumers.

According to your linked doc, if I got it right, kafka achieve load-balance with consumer-group and partition together, partitions are assigne

[2017-11-13 14:47] andresmgot commented on #418
Yes, the default behavior is that only one partition (and consumer) receives the message. It is not configured to distribute messages among all the consumers. However if one pod dies, Kafka will keep sending messages to the other pods available.

[2017-11-13 17:14] andresmgot opened #426 "OS X DEV environment"
It is difficult to set up the Linux environment to build new features and run the integration test in a OS X environment.

We should provide the documentation and tools needed to build and test kubeless in OS X.

cc/ @phsiao

[2017-11-13 17:48] phsiao commented on #426
Some details of the issue:

[code]

It did spin up several components in minikube, but looks like it can't get the actual runtime to be running.

[code]

This is my kubecfg version

[code]

[2017-11-13 17:56] phsiao commented on #426
Also, I can build controller, and minikube ssh into the VM to setup/update new controller docker image, as well as runtime images for testing, just could not run the integration-tests.

[2017-11-13 18:07] phsiao commented on #426
Actually, later tests might be succeeding, I just was not patient enough to wait and let them run to its completion.

[code]

Will report back on the rest when it completes.

[2017-11-13 18:59] phsiao commented on #426
Here is after running for more than an hour.

[code]

And it has been stuck in the last test, "Test custom runtime image " for a long time and I don't have any reason to believe that it will make progress.

[2017-11-14 08:47] murali-reddy commented on #166
@ngtuna is there any thing left to do (not yet covered by https://github.com/kubeless/kubeless/tree/master/manifests/monitoring)

[2017-11-14 09:02] ccll commented on #361
According to kafka docs, kafka distributes messages across **partition**, and partitions are assigned to consumers.
Some related discussion here https://github.com/kubeless/kubeless/issues/418.
So I'd really like to know what is the story of **partition** behind this auto scaling feature.

[2017-11-14 09:24] sebgoa commented on #361
@ccll we configure the basic kafka setup before we had HPA working, so it is time to review our we use partitions and consumer groups...

short answer, let's review that setup.

[2017-11-14 09:26] sebgoa commented on #166
docs for sure, and a check the dashboard. I don't think that gus actually wrote a grafana dashboard for it...even though it is in the manifests directory

[2017-11-14 10:10] Henrike42 commented on #166
Are these monitoring manifests still supposed to work on Kubernetes > 1.7.3? I have set up kubeless on Kubernetes 1.7.8 and also installed the monitoring yamls. The dashboard with the title "Prometheus stats" is still working but "Kubernetes Pod Resources" is not working in my setup. In my understanding this is because the "Kubernetes Pod Resources" dashboard is based on container metrics exposed

[2017-11-14 10:28] #389 closed

[2017-11-14 10:54] murali-reddy commented on #166
I just deployed the manifests on 1.8, they setup prometheus and grafana fine. I could create a custom dashboard with kubeless metrics. Idea of this issue is to create grafana dashboard for kubeless that can be imported.

Not sure on "Kubernetes Pod Resources" dashboard is expected to work with 1.7.x

[2017-11-14 11:27] ccll opened #429 "kubeless CLI should respect current implicit namespace"
When `kubectl` is invoked without an explicit "--namespace" option, it respects the current namespace setting in current kubeconfig context.
So does Openshift's `oc` command which respect current project/namespace.
This saves a lot of typing, and less surprise, kubeless CLI should do this too.

More information:
https://github.com/ahmetb/kubectx
https://github.com/kubernetes/kubernetes/issues/4096

[2017-11-14 15:11] andresmgot commented on #429
👍 I agree

[2017-11-14 17:28] andresmgot commented on #355
I am going to close this since this is now supported (version 0.2.4) For the moment we will do this without a storage service but it is something that we consider doing soon

[2017-11-14 17:28] #355 closed

[2017-11-15 12:18] dlaidlaw commented on #7
I would be interested in simply deploying a Jar. Spring Boot, for example, can create a Jar with a web server built in, and fully configured for the service code. This would be  a passive kubeless runtime, where kubeless does not handle the triggering of the function.

Spring Boot has a health check on /health, but the path can be changed to /healthz via configuration. Similarly, Spring Boot can e

[2017-11-15 13:45] kishoreacesurf commented on #365
Is there any alternative for this?

[2017-11-15 15:30] andresmgot commented on #365
@kishoreacesurf what do you mean with alternative?

[2017-11-16 05:54] #429 closed

[2017-11-16 06:13] #420 closed

[2017-11-16 06:30] #402 closed

[2017-11-16 06:35] anguslees opened #432 "scripts/validate-vet always returns success"
See for example https://travis-ci.org/kubeless/kubeless/builds/302872599:
[code]

[2017-11-17 14:44] lghinet commented on #196
hello,
i am running kafka on a different port: 9094
is there any config where i can change that ?

[2017-11-17 16:30] murali-reddy opened #435 "Python runtime global interpretter lock implications"
Current use of bottle in python runtime [http event triggers](https://github.com/kubeless/kubeless/blob/master/docker/runtime/python-2.7/http-trigger/kubeless.py#L25) means parallel requrests are seralized. Bottle with standard wsgiref server can not handle conccurent requests due to [global interpretter lock](https://bottlepy.org/docs/dev/deployment.html).

Also any use of multithreading approach

[2017-11-19 15:08] phsiao commented on #426
I think my problem might be due to incompatible kubecfg (binary timestamp in late Oct).   Re-running with the current dev version of kubecfg.

[2017-11-19 15:21] phsiao commented on #426
Better, but stil have a few issues.

[code]

[2017-11-20 02:48] ccll opened #436 "Scheduled functions (cronjobs) leave behind lots of 'trigger-*' jobs"
After several days since I deployed a scheduled function in my cluster, there are hundreds of completed trigger `Jobs` left.

I'm wondering why the default history limit of k8s CronJobs not working?

![image](https://user-images.githubusercontent.com/5366582/32999949-19508c4a-cde0-11e7-9861-a67ee0f17d9e.png)

[2017-11-20 04:09] ngtuna commented on #436
@ccll I believe you're not running k8s v1.8. See this https://github.com/kubernetes/kubernetes/issues/52390#issuecomment-332654531

So the website says that but it applies for v1.8 and batch/v2beta1 cronjob. We're a bit behind of that as the batch/v2beta1 isn't supported yet. Will be soon :-)

[2017-11-20 08:28] andresmgot commented on #436
We still should specify the maxJobsHistory for people using v1.7

[2017-11-20 08:31] andresmgot commented on #426
We probably want to provide a docker environment in which you can mount your GOPATH and execute the unit and integration tests.

[2017-11-20 08:36] andresmgot commented on #196
Hello,

Unfortunately it is not possible to configure Kafka in a different port and make it work with Kubeless yet. I am curious about why that port setup is a best practice, could you elaborate?

[2017-11-20 09:04] lghinet commented on #196
because you want different security levels,
https://github.com/wurstmeister/kafka-docker/blob/master/README.md#listener-configuration

[2017-11-20 11:01] jbianquetti-nami commented on #320
Finally: https://github.com/kubeless/kubeless/pull/437

[2017-11-20 12:03] anguslees commented on #435
It can handle concurrent requests, just can't use more than one core's worth of CPU.  In particular, if a Function is making network calls to some other service then python will happily work on other requests while waiting for the response.

Also note that a naive multiprocessing setup will result in all request/response bodies being serialised/deserialised twice:  http <-> server <-> multiprocess

[2017-11-20 16:00] murali-reddy commented on #435
Yes there is concurrency, but no parallelism. With python runtime with GIL limitation, even in a multithreaded python program, at any time there is only one thread running on one core even on multi-core processor. With GIL, CPU intensive multi-threads is bad, and for i/o intensive apps much more light weight gevent or like would are typicall used.

Agree.

The point of this issue to be aware for G

[2017-11-20 17:23] murali-reddy commented on #404
Requirement for PV are added in to the documentation.
https://github.com/kubeless/kubeless#installation

[2017-11-20 17:23] #404 closed

[2017-11-20 17:53] murali-reddy commented on #388
In [latest release](https://github.com/kubeless/kubeless/releases/tag/v0.2.4) with commit https://github.com/kubeless/kubeless/commit/ff54b2ddcff73e58732206ce1adbb32cf5ba5f53 `call` no longer checks for `GetReadyPod`. You should not see any issue now.

[2017-11-20 17:53] #388 closed

[2017-11-21 06:52] murali-reddy opened #439 "kubeless cmd should validate values for the flags"
kubeless command should do input validation before creating the function object. We migh still post wrong function object through API server, atleast kubeless command should validate the inputs.

value specified for `--schedule` is not validated by kubeless command. function gets created, but controller fails to create cron job.

[code]
same with runtime `-runtime` flag.

[2017-11-21 08:42] murali-reddy opened #440 "ruby runtime: when multiple pods run kafka consumer errors out"
[code]

[2017-11-21 11:44] ccll commented on #436
@ngtuna Thanks, good to know that! k8s online docs are not versioned, so sometimes are misleading.

[2017-11-22 07:31] murali-reddy opened #443 "enforce required flags during function deploy"
make `--handler` required flag.

[code]

Also ensure either of `--runtime` or `--runtime-image` is passed

[code]

[2017-11-22 08:51] andresmgot commented on #443
@murali-reddy I discussed something similar to this with @anguslees. If we go down the path of validating every possible combination of inputs in the client we would end up with a pretty complex (and possible wrong) code. For example if --runtime is given --handler and --from-file should be present too, the same way that if --runtime-image is provided the --dependencies flag can only be used if th

[2017-11-22 09:18] murali-reddy commented on #443
Not sure why we go down on possible wrong path. If we know for sure something  _always_ fails at API server, we should fail fast and give proper UX to the user. Event If it means more work for developer then so be it.

Again we should fail fast and not wait for the controller to fail in the end. If we give wrong `handler`, client can easily verify if it exists in the file and fail. we dont need to

[2017-11-22 09:40] #439 closed

[2017-11-22 09:50] andresmgot commented on #443
Yes, I am not talking about format in the flags ( like `--runtime-image=1` that is easy to validate). I am talking about specific validation like incompatible flags (e.g. `--runtime-image=mygolangimage --dependencies ./glide.yaml` that are not that easy to validate in the client and that the controller already gives a proper error)

[2017-11-22 10:42] #385 closed

[2017-11-22 17:43] andresmgot commented on #440
@murali-reddy could you elaborate? I did a quick test deploying two pods and I didn't find that error:

[code]

[2017-11-22 17:47] andresmgot commented on #418
I am closing this issue since there is no action to take here. Please @ccll reopen it if there is something else that needs clarification/fixing.

[2017-11-22 17:47] #418 closed

[2017-11-23 04:37] murali-reddy opened #447 "Consider using CRD schema validators"
https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/#validation

this feature is in alpha in 1.8, and will be beta in 1.9

Should be helpful to first level of schema validation for the function objects.

[2017-11-23 10:59] sameersbn opened #449 "Cannot use kubeless 0.2.4 with a GKE cluster"
I've been noticing the following error message while creating an ingress route on a GKE cluster with kubeless 0.2.4 (ref: https://github.com/kubeless/kubeless/blob/master/docs/ingress.md).

[code]
It appears a similar fix https://github.com/kubeapps/kubeapps/pull/16 is required in kubeless.

edit:  corrected the description

[2017-11-23 11:29] murali-reddy commented on #436
I am observing that trigger pods getting piled up as well. Any one else see this issue. I used "* * * * *"

[code]

[2017-11-23 11:52] andresmgot commented on #449
@sameersbn my first reaction is `kubeless` has nothing to do with GCP, can you explain which command were you trying to use? (I have used GKE several times with Kubeless without issues)

[2017-11-23 11:57] andresmgot commented on #436
@murali-reddy that seems to happen when the function failed to be executed. I could reproduce it introducing an error in the `get-python` function:

[code]

This will keep creating pods due to the restart policy that is set to restart on failure. Seems that is better to set it to never restart the job, what do you think?

[2017-11-23 12:02] murali-reddy commented on #436
Yes. Never restart the job is one possible solution. But this issue has catastrophic effect.

[2017-11-23 12:05] sameersbn commented on #449
I created a cluster on GKE `gcloud container clusters create my-cluster` and followed  the instructions from https://github.com/kubeless/kubeless/blob/master/docs/ingress.md. The error message is observed while executing the `kubeless ingress create route1 --function get-python` command.

[2017-11-23 12:49] #432 closed

[2017-11-23 13:36] murali-reddy commented on #436
Are we dealing with below [job semantics](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#job-termination-and-cleanup)

[code]

[2017-11-23 14:55] andresmgot commented on #449
That's weird. It is true that the issue appears when trying to create a client but I haven't seen that before.

Anyway, I am working on the fix.

[2017-11-23 16:41] andresmgot commented on #436
I set the restarting policy to `Never` and added a `ActiveDeadlineSeconds` so the maximum number of jobs created is controlled.

[2017-11-24 10:12] andresmgot commented on #436
Fixed with #445

[2017-11-24 10:12] #449 closed

[2017-11-24 14:06] adnasa opened #453 "Allow for `--dependencies` flag under the `function update` command"
__kubeless version__: 0.3.0

Hello,
first, thank you for this awesome project.
Kubernetes is quite the uncharted territory for me, and I'm happy to see the barrier lower down thanks to this project.

---

#### summary

I've attempted to ~~deploy~~ update a function with a dependency that I've installed.
but I got the following response in the shell

__edit__: At the moment, the `--dependencies` fl

[2017-11-24 14:40] andresmgot commented on #453
Hi @adnasa,

If that is the first time you deploy a function you should use `kubeless function deploy` so your command should be something like:

[code]

Anyway, it is true that there isn't a good reason for not allowing to specify the `--dependencies` when updating a function.

[2017-11-24 14:46] adnasa commented on #453
ah I see. this only works under the `deploy` command?
but yes, I agree. I don't think it makes sense to discard or warn about the flag under the `update` command.

That sounds like a lacking feature?
One problem with this "limit" is that even when `dependencies` were specified during the `deploy`, the `package.json` would update over time.

[2017-11-24 14:48] andresmgot commented on #453
Yes, it sounds like a legitimate usage.

[2017-11-24 14:52] adnasa commented on #453
all right. I'll rename the title and update the description accordingly

[2017-11-24 14:56] adnasa commented on #453
done

[2017-11-24 15:01] andresmgot commented on #453
👍 thanks @adnasa

[2017-11-24 15:10] andresmgot commented on #320
Closing this since this is fixed in v0.3.0 🙂

[2017-11-24 15:10] #320 closed

[2017-11-25 23:30] sebgoa commented on #436
Isn't that the default behavior ?

kubeless creates a CronJob object. On the provided schedule, the CronJob runs the Job (which is a Pod that does not restart).

So every "schedule" you will see a new Job.

What we need to do is add a Job cleanup policy, something that most likely is in the Job schema.

cc: successfulJobsHistoryLimit

[2017-11-25 23:31] sebgoa commented on #436
ok never mind, that's what your fix does.

[2017-11-25 23:31] #436 closed

[2017-11-26 00:46] sebgoa commented on #449
@andresmgot so what was the reason for this ?

[2017-11-27 08:42] andresmgot commented on #449
either a change in the GKE side or an update in the `client-go`, I were not able to identify the exact reason,

[2017-11-27 08:46] andresmgot opened #454 "Reduce time of end-to-end tests"
Each build last around 12 minutes to be completed successfully. A big chunk of that time is consumed by the end-to-end tests (building a minikube environment and deploying all the examples). We could at least deploy all the examples in parallel so we don't need to wait in every example for the function to be deployed.

[2017-11-27 08:52] andresmgot opened #455 "Add "kubeless" namespace to default YAML"
It seems that there is no reason to split installation instructions in two steps (`kubectl create ns kubeless && kubectl create -f /path/to/yaml`). We can directly include the namespace in the published YAML.

[2017-11-27 09:04] andresmgot opened #456 "Publish master builds"
We should push controller images build in `master` along with the Kubeless manifest so people can get the latest bug fixes even if they have not been included in a release yet. For doing so we need to provision a S3 bucket for that purpose.

[2017-11-27 09:38] murali-reddy opened #457 "ingress routes not getting deleted on function delete"
Once function is deleted, ingress routes (ingress objects) added with `kubeless ingress create` are not getting deleted.

[2017-11-27 10:39] ngtuna commented on #457
This will be solved as part of the PR https://github.com/kubeless/kubeless/pull/413. I haven't had chance to update it yet. Will try to do it today.

[2017-11-28 09:08] andresmgot commented on #365
@alban @kishoreacesurf the feature is available since with Kubeless v0.3.0. The default timeout is set to 180s but you can modify this value using the flag `--timeout`. Please give it a try and reopen this issue if you find any trouble.

[2017-11-28 09:08] #365 closed

[2017-11-28 10:39] prydonius commented on #307
Currently, the kubeless CLI itself creates the Ingress resources. This means if we wanted to add an option to specify the ingress class, it would have to be provided for each individual function. Also, it means the app developer/function creator suddenly needs to be aware of Kubernetes concepts and what ingress class they need.

I recommend we avoid breaking that separation of concern by moving th

[2017-11-28 15:05] sebgoa commented on #307
I think there can be a default, and then specifying a specific ingress controller via an optional argument.

[2017-11-28 16:30] murali-reddy commented on #307
I think there are two problems here

- Should ingress resource be created by kubeless client or kubeless-controller. I agree with @prydonius for clean seperation of concerns (function developer vs cluster operator) client should not be creating ingress object. Client should just express the intent to create a route to function which can be captured in function spec.

- How to choose an ingress con

[2017-11-28 16:45] andresmgot commented on #426
@phsiao can you try the above PR? In particular the script `start-test-environment.sh`. It should start a minikube environment and give you a bash shell in which you can run `make binary && make controller-image CONTROLLER_IMAGE=bitnami/kubeless-controller:latest && make integration-tests`.

Let us know if that worked for you.

[2017-11-28 17:03] andresmgot commented on #307
We can add the ingress object definition to the Function spec (the same way we do with the pod template) that way if someone wants something different than the default it can be done specifying the function yaml.

Then the controller would be the one in charge of creating the Ingress object.

[2017-11-28 19:22] phsiao commented on #426
Commented my test in #458.

[2017-11-29 11:25] andresmgot opened #460 "Fix Kafka deployment in GKE"
Kafka deployment fails in GKE:

[code]

cc/ @jbianquetti-nami

[2017-11-29 11:52] jbianquetti-nami commented on #460
This happens because the volume is formatted as an ext4 filesystem.
The root cause needs to be fixed at the container level by removing the `lost+found` directory from the data volume before Kafka starts.  The directory will be created on the next `fsck` invocation.

A  temporary workaround can be done by adding an `initContainer` to the Kafka container that just deletes the directory if exists.

[2017-11-29 12:13] carlosrdrz commented on #460
There is another solution which would be to create a directory in the volume and use that instead of the volume root :)

[2017-11-30 10:27] ngtuna commented on #456
We have already pushed :latest controller image tag to dockerhub so everyone can just edit the manifest to try it out

[2017-11-30 10:28] ngtuna commented on #455
👍

[2017-11-30 12:00] jbianquetti-nami commented on #390
Openshift just released v3.7.0 stable today. I will give a try once the binary builds appear for 3.7.0 https://github.com/openshift/origin/releases

[2017-11-30 14:32] arapulido commented on #460
@andresmgot can you open a issue in the kafka container repo, please?

[2017-11-30 14:39] arapulido opened #463 "Remove the manifests folder if not used"
We are building hte manifests with the jsonnet files, not using the manifest folder anymore.

We should remove it to avoid confusion.

[2017-11-30 15:55] andresmgot commented on #460
They are already tracking the issue

[2017-11-30 17:06] SleepyBrett opened #464 "Helm chart images"
Currently the helm chart in the repo tries to pull docker.io/bitnami/kubeless-ui:development, this tag does not exist currently. My options are v0.1.0 (published 7 hours ago), latest (published 15 days ago), and v0.2.3 (published a month ago). This is very confusing.

On the kubeless-controller side the helm chart uses: bitnami/kubeless-controller@sha256:d07986d575a80179ae15205c6fa5eb3bf9f4f4f4623

[2017-11-30 18:08] sebgoa commented on #464
Thanks for the feedback, you are correct we should clean this up.

In the meantime, how about just creating kubeless with:

[code]

[2017-11-30 20:05] SleepyBrett opened #465 "Kubernetes events as triggers?"
This doesn't seem to be a current trigger type but I know I would find it very useful and a pretty easy win. Did I overlook it in the docs?

[2017-11-30 20:29] sebgoa commented on #465
you did not overlook. Currently we have http, pubsub and schedule triggers

but we don't have k8s event triggers.

You can use a pubsub trigger to do what you are asking for though, I did a basic demo here:
https://github.com/kubeless/functions/tree/master/incubator/controller

[2017-12-01 10:07] jbianquetti-nami commented on #390
I found several issues with trying to deploy kubeless v0.3.0 over Openshift v3.7.0.

[code]

Looking at the `kubeless-controller` logs, we can see:

[code]
So the problem still persists on v3.7.0 and seems to be related to the format of the CRD: "functions.k8s.io"

[2017-12-01 10:38] andresmgot commented on #390
It seems that we can tackle that specific issue specifying different parameters when defining the OwnerReference:
[code]

@ngtuna do you know if we can change the Kind and APIVersion to something else?

[2017-12-01 12:36] joek opened #467 "Avoid using k8s.io group in CRD"
Kubless is using the k8s.io group name in the CRD. Based on the feedback of Joe Beda the k8s.io group is dedicated to k8s core components (https://www.youtube.com/watch?v=WotK415iOQM).

I can try to compile a fix for that, but I am pretty new to kubless so I am not sure were it is used.

[2017-12-01 12:50] andresmgot commented on #456
That's fine but we could also publish the YAML files or the Kubeless CLI binaries so all the changes can be used.

[2017-12-01 14:14] andresmgot commented on #464
I have removed the old manifests from the repository. For the UI now we point to the [releases page of its repository](https://github.com/kubeless/kubeless-ui/releases).

Is there anything else I could be missing?

[2017-12-04 08:20] #463 closed

[2017-12-04 08:22] #453 closed

[2017-12-04 08:23] andresmgot commented on #453
Fixed @adnasa the flag will be available in the next release

[2017-12-04 08:29] andresmgot commented on #426
Closed with #458

[2017-12-04 08:29] #426 closed

[2017-12-04 16:39] andresmgot commented on #454
After #470 we have reduced the overall test time a 23% (from 13 minutes to 10). This is the summary of the time taken by each process:

 - Install dependencies and clone the repository: ~1min
 - Unit tests + Validation: ~1min
 - CLI binary build: 50s
 - Controller build: 50s
 - Minikube start: ~25s

The rest of the time is taken by the integration tests (~6 minutes). The most expensive actions are

[2017-12-04 16:39] #454 closed

[2017-12-05 10:54] andresmgot commented on #460
This is issue is fixed with #473 but I am going to leave this Issue open until we release a new version of Kubeless. If anyone steps into this issue it can be fixed executing:

[code]

And changing the reference to the Kafka image to the latest one available: `bitnami/kafka:1.0.0-r1`

[2017-12-05 10:56] murali-reddy opened #474 "support flexible service types for the service backing functions"
All the hosted FAAS solutions, automatically generates default API endpoint for the function

Google: `https://[YOUR_REGION]-[YOUR_PROJECT_ID].cloudfunctions.net/functionname`
Lambda : `https://api-id.execute-api.region-id.amazonaws.com/stage-name/{resourcePath}`
AWS: `http://<yourapp>.azurewebsites.net/api/<funcname>`

Default function endpoint is not user-friendly and [users can set up](http://d

[2017-12-05 11:18] andresmgot commented on #474
My 2 cents:
 - Use `NodePort` as default (safe and easy to use)
 - Make other options available specifying a raw Function Spec (documenting how to do it)

Also we would need to merge this solution with https://github.com/kubeless/kubeless/pull/424 cc/ @phsiao

[2017-12-05 11:19] murali-reddy opened #475 "introduce configmap for kubeless-controller"
So far kubeless-controller did not have any specific configuration for it's functioning or customization.

As we add functionality and support more use-cases in Kubeless we need to preserve the seperation of concerns of the function user and cluster/kubeless opertator.

We need to have a ConfigMap for the Kubeless controller. Options like below can all go into configmap for the controller.

- whic

[2017-12-05 11:24] murali-reddy opened #476 "move ingress object creation to kubeless controller"
In the curernt implementation ingress objects are created from Kubeless client, they should be moved to Kubeless controller. It fits naturally into controller than doing at client.

[2017-12-05 11:35] andresmgot commented on #475
I agree that we should introduce a configmap for storing the Kubeless configuration but I think that things related to how to expose a function should be in the function definition first (then we can have a global configuration in case is needed. That way you can have for example functions that are exposed to outside of the cluster and others that are internal for example.

In any case I think we

[2017-12-05 11:37] andresmgot commented on #399
The fix for CronJobs is already merged. It will be available in the next release.

[2017-12-06 01:08] murali-reddy opened #478 "rename `ingress` command to `route`"
`kubeless ingress` is for ` manage route to function on Kubeless`

[code]

This should be just for managing/customizing http endpoint for the function with user-specified host and paths in the url. This command should not be related to kubernetes ingress.

Renaming to `kubeless route` is more appropriate.

[2017-12-06 15:44] ngtuna commented on #399
closed via #466

[2017-12-06 15:44] #399 closed

[2017-12-06 20:36] murali-reddy opened #479 "use of namespace for function/route/autoscale"
What benefit we get with explicit use of Kubernetes namespace specified for below commands?

- kubeless function deploy
- kubeless autoscale
- kubeless route

On one hand it seems nice to give Kubernetish feel to Kubeless and let the function user deploy function in certain Kubernetes namespace etc. On the other hand why should function user be aware of Kuberntes name space and lead to potential p

[2017-12-07 18:25] SleepyBrett commented on #465
Thanks! Sitting in your talk now :)

[2017-12-08 06:29] #405 closed

[2017-12-08 09:56] ngtuna commented on #457
closed as the PR #413 has merged

[2017-12-08 09:56] #457 closed

[2017-12-08 14:54] leopoldodonnell opened #480 "The Zookeeper stateful set fails on Minikube for release for release V0.3.0"
kubeless fails to run/install correctly on minikube due to issues with the zookeeper stateful set configuration:

The following error is found in the logs for the `zoo` stateful set:

`Welcome to the Bitnami zookeeper container
Subscribe to project updates by watching https://github.com/bitnami/bitnami-docker-zookeeper
Submit issues and feature requests at https://github.com/bitnami/bitnami-docker

[2017-12-08 19:37] murali-reddy opened #481 "code restructuring"
It would be nice to organize the code a bit:

[code]
I liked how [Ark](https://github.com/heptio/ark) very cleanly organized by the noun and verb

[code]

Also CRD object specs are neatly laid out by version

[code]

[2017-12-08 20:40] murali-reddy opened #482 "Add Status to kubeless CRD objects"
We should add [resource status](https://kubernetes.io/docs/api-reference/v1.8/#resource-objects) to the function object, and any other CRD kubeless may have (e.g. runtime, trigger etc)

to start with function object should have Status along with [Spec](https://github.com/kubeless/kubeless/blob/master/pkg/spec/spec.go#L26)

[code]

[2017-12-09 05:19] javajon commented on #480
I'm getting same error with the same version on Minikube as @leopoldodonnell  reports.

It might be related to a release to a change in bitnami-docker-zookeeper: ["Migrate to non-root container approach."](https://github.com/bitnami/bitnami-docker-zookeeper/releases/tag/3.4.10-r4)

This v0.3.0 worked for me a week ago. After redeploying Kubeless v0.3.0 this error appeared.
Perhaps the Zookeeper ve

[2017-12-09 05:25] leopoldodonnell commented on #480
Thanks for the tip @javajon - this will save me some digging

[2017-12-09 16:27] sebgoa commented on #480
Hum, sorry about that guys.

Do not that kubeless HTTP triggered function do work without kafka. So even if this pods is failing the HTTP functions will deploy just fine.

[2017-12-09 19:03] sebgoa commented on #480
weird, I just did a fresh install of 0.3.0 and everything seems to be working.

@leopoldodonnell what version of minikube are you running ? Did you use the localkube or the kubeadm boostrapper ?

[2017-12-10 00:08] javajon commented on #480
Minikube: v0.24.1
Kubernetes 1.8.0
@leopoldodonnell noted these same versions above.

VirtualBox: Version 5.1.30 r118389 (Qt5.6.2)
Windows 10 (don't ask why ;-)

I tried a few fresh installs and everytime saw the same error in the logs.  I swear it worked about a week or two ago, using same versions.

[2017-12-10 04:29] leopoldodonnell commented on #480
just to set the record straight, I'm on OS X 10.13.1

[2017-12-11 09:01] ngtuna commented on #479
I agree point 1 that we should restrict use of namespace just to function. That makes sense that all objects should locate at the same namespace with the function they belong to. For the function namespace, I still think we should keep it as a logical separator: people might want to deploy the same function to multiple namespaces and we allow that. Think about the case user separates deployment en

[2017-12-11 09:18] ngtuna commented on #479
If we do that, we should be careful at this case:

There are two functions with the same name deployed via kubeless. Adding autoscale or ingress have to point out the exact function with the combination of function name and namespace.

So I suggest the `--namespace` is optional in autoscale/ingress. If it isn't specified, we set it to the first queried function's namespace. WDYT ?

[2017-12-11 09:36] ngtuna commented on #476
we can do it once the PR #477 is merged

[2017-12-11 09:42] murali-reddy commented on #479
I see use of namespace flag with Kubeless as mere convenience. If not specified by default Kubeless does pick the namespace configured in the current kubecfg, just like kubectl. So we should be able to deploy functions in different namespace. But I am okay to leave `--namespace` for the function deploy. Its not hard to support or remove it.

But i am more concerned on subsequent resources created

[2017-12-11 09:53] ngtuna commented on #481
That's good idea. I'll take it.

[2017-12-11 10:18] Henrike42 opened #484 "Improve metrics labels for runtime nodejs http-trigger"
At the moment the nodejs http-trigger uses the HTTP method name to log statistics for prometheus metrics.
In example docker/runtime/nodejs/http-trigger/kubeless.js lines 43ff
I would have expected that the label is a concatenation of the function's name and the HTTP method.
Then it's possible to see errors and execution time per HTTP triggered function.
What do you think?

[2017-12-11 10:21] ngtuna commented on #479
Yes we're on the same vision.

Not what I meant. I agreed to stick them all together in the same namespace with the function they belong to.

[2017-12-11 14:20] #455 closed

[2017-12-11 14:53] andresmgot commented on #482
does this require a `watcher` in the controller?

[2017-12-11 15:07] andresmgot commented on #484
It is true that right now you can only get metrics for the method GET or POST of a function (not the combination of both). For me it makes sense to add an additional metric to have the real total (regardless of the http method). Thoughts @sebgoa @murali-reddy ?

[2017-12-11 15:34] andresmgot commented on #460
This is now fixed in v0.3.1

[2017-12-11 15:34] #460 closed

[2017-12-11 15:37] andresmgot commented on #480
This should be fixed now fixed in v0.3.1 (details in the above PR #485).

@javajon @leopoldodonnell let us know if you still find any other issue.

[2017-12-11 16:43] sebgoa commented on #480
I tested v0.3.1 just now and it seems to work much better, thanks

[2017-12-11 17:15] murali-reddy commented on #482
Kubeless controller is/will be the source of change to function (or any other CRD api objects that may come), so dont see need for it.

[2017-12-11 18:03] leopoldodonnell commented on #480
Thanks @andresmgot 👍  this issue is closed

[2017-12-11 18:03] #480 closed

[2017-12-11 18:53] sebgoa commented on #479
we need to think multi-tenancy. Each user will access kubeless with its context that gives him/her privileges in certain contexts.

so function object will be namespaced for sure. I am not sure about the impact of the route and hpa being in the same namespace or not.

But it seems we could leave this implicit, with the route and hpa created in the same namespace as the existing function. User shou

[2017-12-11 19:05] sebgoa commented on #484
Pretty sure that what @Henrike42 means is that the label of the metric is not useful. you can really query it properly in prometheus query language or grafana.

We should add a the function name to the http method being used.

https://github.com/kubeless/kubeless/blob/master/docker/runtime/nodejs/http-trigger/kubeless.js#L43

[2017-12-12 05:01] murali-reddy opened #487 "hooks to integrate with cloud provider services"
Though all major cloud providers provide managed FAAS soltutions there is value proposition for users to run Kubeless on Kubernetes clusters provisioned on cloud providers.

When running Kubeless on cloud providers, its very likely Kubeless need to integrate with services like API gateway, route 53, IAM etc to provide seamless experiance.

Core of Kubeless controller should be desinged with view t

[2017-12-12 06:12] Henrike42 commented on #484
Exactly, in example that in case you have two http triggered functions named function1 and function2 in nodejs you would see labels in a grafana Dashboard like:

function1-GET
function1-POST
function2-GET
function2-POST
...

At the moment you'll only see GET and POST.

[2017-12-12 07:25] ngtuna commented on #479
@sebgoa @murali-reddy @andresmgot

So, everyone agree on the same page: all objects should be created at the same namespace with their function.

The last case: two functions with the same name. How does kubeless select which function when user creates its route/autoscale ?

My suggestion:
Because we want to remove `--namespace` flag at the route/autoscale creation, we can turn on the interactive

[2017-12-12 08:04] ngtuna commented on #156
I guess we can close this now

[2017-12-12 08:04] #156 closed

[2017-12-12 08:46] andresmgot commented on #482
what if the deployment crashes? or should the controller wait until the deployment is ready?

[2017-12-12 09:03] andresmgot commented on #479
Sorry for coming late. I don't think we should remove the `--namespace` flag from any command, IMHO, it should be always available. I don't think the kubeless CLI should search across namespaces (mostly because in a secure environment it won't be able to do so).

As I envision this we can follow the path of https://github.com/kubeless/kubeless/pull/477. Whenever a route/autoscale/<new resource> is

[2017-12-12 09:45] ngtuna commented on #478
solved by #483

[2017-12-12 09:45] #478 closed

[2017-12-12 10:09] ngtuna commented on #479
There was a direct discussion between @murali-reddy and myself; and we seemly agreed on mimicking kubectl'ish on kubeless cli. With route/autoscale features, from user perspective, all he/she wants to focus is the endpoint URL/autoscaling rule. Giving `--namespace` flag would make less sense to him/her. Anyway I don't have strong opinion on that. Technically it isn't hard. I think probably we can

[2017-12-12 11:05] andresmgot commented on #479
Correct me if I am wrong but if a user has its access limited (RBAC) to `namespace1` and `namespace2` and by default its kubeconfig is pointing to `namespace1`. How is he going to be able to add routes of the functions of `namespace2` if he cannot set the flag `--namespace`? (Maybe you can discover all the namespaces that a user have access, I assume it is not possible).

[2017-12-12 19:52] prakashsingh08 opened #488 "Not able to create HPA for custom metrics based autoscaling for sample metrics app provided"
Hi Team,
while implementing custom metrics based autoscaling we are getting below error during creation of HPA.

`error: error validating "sample-metrics-app.yaml": error validating data: the server could not find the requested resource; if you choose to ignore these errors, turn validation off with --validate=false`

mentioned file for HPA configuration is same as provided.
I am running in in def

[2017-12-12 19:55] sebgoa commented on #488
It looks like you are running on GKE, to be able to use HPA with custom metrics the API server needs special configurations.

So good catch, I don't think this will work on GKE.

I will dig into it.

-sebastien

[2017-12-12 20:48] viglesiasce commented on #488
Hey @prakashsingh08!

GKE does not enable alpha APIs by default. You will need to create an [Alpha Cluster](https://cloud.google.com/kubernetes-engine/docs/concepts/alpha-clusters) in order to use those APIs. Keep in mind that Alpha Clusters are automatically deleted after 30 days.

[2017-12-13 03:27] murali-reddy opened #489 "use kubernetes's code-generator for CustomResources definitions"
Here is the motivation: https://blog.openshift.com/kubernetes-deep-dive-code-generation-customresources/

Kubernetes [code generator](https://github.com/kubernetes/code-generator) to automatically generate typed clients, deep copy, informers, listers.

Here is a [samplel controller](https://github.com/kubernetes/sample-controller) that uses code-generator.

Need deep copy of Function objects for #

[2017-12-13 06:05] prakashsingh08 commented on #488
Thanks @viglesiasce  and @sebgoa , for quick response.
let me try with Alpha cluster.

-Prakash

[2017-12-13 06:52] prakashsingh08 commented on #488
Hi All,
 during installation of prometheus-operator i am getting below error.
`kubectl create -f prometheus-operator.yam`

`Error from server (Forbidden): error when creating "prometheus-operator.yaml": clusterroles.rbac.authorization.k8s.io "prometheus-operator" is forbidden: attempt to grant extra privileges: [PolicyRule{Resources:["thirdpartyresources"], APIGroups:["extensions"], Verbs:["create

[2017-12-13 08:03] ngtuna commented on #488
@prakashsingh08 for your above permission issue, this command should help:

[code]

Would love to hear your feedback after trying autoscaling on GKE.

[2017-12-13 09:00] prakashsingh08 commented on #488
Hi @ngtuna,
Thanks for your response.

while installing sample-prometheus-instance, I am getting below error.
`error: unable to recognize "sample-prometheus-instance.yaml": no matches for monitoring.coreos.com/, Kind=Prometheus`

any suggestion will be helpful.

[2017-12-13 14:47] bibinwilson opened #493 "Custom Metrics scaling: HPA did not receive metrics for any ready pods"
hi,

I am trying the custom metric autocaling as mentioned in https://github.com/kubeless/kubeless/tree/master/manifests/autoscaling

Kubernetes Env: GKE 1.8.4 with alpha features enabled

I am getting  error in HPA. Here is output of HPA.

<pre>Name:                                                                sample-tomcat-app-hpa
Namespace:

[2017-12-13 16:10] sebgoa commented on #493
honestly we have never tried the autoscaling on GKE. There might be some additional configuration of the controller-manager that are requried:

https://github.com/kubeless/kubeless/tree/master/manifests/autoscaling

we need to investigate. if you could help that would be awesome.

[2017-12-14 03:50] bibinwilson commented on #493
I am not sure if `--horizontal-pod-autoscaler-use-rest-clients=true` is set in the controller manager. As GKE is a managed kubernetes cluster, we do not have an option to edit the master configurations. I will post this in office GKE support forum and will get back to you.

[2017-12-14 11:16] murali-reddy opened #496 "do periodic reconciliation/sync in the control loop"
Its typical pattern to do periodic sycn in the control loop of the controller that does reconciliation.

Kubeless need to have a control loop to detect desired state != actual state and take corrective action and reflect the status as well. Change does not necessarily happen in user specified desired state which are notfied by API server. But changes to actual state needs reconciliation.

For inst

[2017-12-14 17:58] sebgoa commented on #493
thanks, I will also ping google :)

[2017-12-15 03:04] herryxu commented on #132
hey bro ,i get this problem too，Have you solved it yet ?

[2017-12-15 07:24] murali-reddy opened #500 "kubeless bash completion"
Could be good starter issue to contribute.

https://github.com/spf13/cobra/blob/master/bash_completions.md

[2017-12-15 08:52] andresmgot commented on #132
@herryxu how did you deploy Kafka?

[2017-12-15 09:31] ngtuna commented on #500
dup as #15 . Keep both here then we can close both once it's done.

[2017-12-15 09:37] murali-reddy commented on #500
Oops! Should have searched.

[2017-12-15 09:37] #500 closed

[2017-12-15 09:37] murali-reddy commented on #15
Could be good starter issue to contribute.

https://github.com/spf13/cobra/blob/master/bash_completions.md

[2017-12-15 09:38] ngtuna commented on #488
`monitoring.coreos.com/v1` is an extension from CoreOS prometheus-operator, not supported natively on k8s. Have you run successfully this below command ?

[code]

`monitoring.coreos.com/v1` will be created after that.

[2017-12-15 09:46] ngtuna commented on #493
@bibinwilson Yes that would be great to check out if GKE support custom configuration on the controller-manager. I am not sure about that. Can you try this query just to be sure that the apigroup `custom.metrics.k8s.io/v1beta1` works properly on your setup ?

[code]

Also, this guy is trying GKE as well #488 . It's great that you guys can connect and test GKE. Your feedbacks are really valuable. T

[2017-12-15 12:36] herryxu commented on #132
@andresmgot  use the source packages

[2017-12-15 16:00] sebgoa commented on #132
and can you tell us which version of kubeless you are using ? and which version of kubernetes ?

[2017-12-17 03:21] prakashsingh08 commented on #488
@ngtuna ,
`$ kubectl create -f prometheus-operator.yaml` .  this command ran successfully.

[2017-12-17 12:04] bibinwilson commented on #493
sure @ngtuna . I am working on it..If I get it to work, I will post my findings here. I will collaborate with @prakashsingh08.

[2017-12-19 01:11] gkarthiks opened #504 "Ingress route responds "Empty reply from server""
I am creating a `nodejs8` and `python` serveless function in `kubeless, v0.3.1 (cc6e694f)` deployed in my local Mac machine under `minikube, version: v0.24.1`.

I could successfully submit the function and it is executed successfully by `kubless function call`.

Now I am trying to set up the ingress as per this [Add route to Kubeless function Guide](https://github.com/kubeless/kubeless/blob/master

[2017-12-19 04:11] ngtuna commented on #504
@gkarthiks Can you check if your cluster has ingress-controller running somewhere ?

[2017-12-19 14:18] andresmgot opened #505 "PubSub python trigger high CPU usage"
The python pubsub trigger uses ~90% of CPU while been idle causing the Kubernetes Node to run out of resources:
[code]

[2017-12-19 18:31] gkarthiks commented on #504
@ngtuna I can see the routes I created in `minikube dashboard` under the `Ingress` tab as shown below.
![screen shot 2017-12-19 at 10 29 48 am](https://user-images.githubusercontent.com/30545166/34172680-bbd7773e-e4a7-11e7-83d8-defd615afa14.png)

[2017-12-20 06:07] Henrike42 opened #508 "Specify Function Runtime Image through Environment Variable not working"
It is possible to specify a custom function docker image via environment variables for the kubeless-controller deployment. Environment variables would be for example:
* NODEJS6_RUNTIME
* NODEJS8_RUNTIME
* ...
However, there seems to be a bug in the corresponding go coding at kubeless/langruntime.go GetFunctionImage lines 148 - 154. In particular the runtime information version is not taken into ac

[2017-12-20 08:03] murali-reddy commented on #487
#507 has some nice requiremetns. Leveraging Kube2iam.

[2017-12-20 08:13] #403 closed

[2017-12-20 09:35] andresmgot commented on #504
@gkarthiks those are the Ingress rules (you need an Ingress controller to manage them). If you are working with minikube you can enable the controller executing:
[code]
or you can deploy one manually:
[code]

[2017-12-20 09:35] andresmgot commented on #508
please go ahead 👍

[2017-12-20 12:11] joek opened #510 "Nodejs runtime is using musl libc"
Hi,
today I run into an issue with the nodejs runtime. As the image is using musl libc instead of glibc the gRPC binary module was not able to start.

[code]

As grpc is frequently used (e.g. to communicate with etcd) this issue might come up more frequent.

I tested using the node:8 image and it is working fine. Maybe it is an option to switch the base image. Please tell me if you appreciate a pu

[2017-12-20 14:26] andresmgot commented on #510
Hi,

yes, I think we should standardize the base image/OS that we are using for the different languages (some of them are using alpine and others debian). What do you think @sebgoa ?

[2017-12-20 15:41] sebgoa commented on #510
Agree, we should move to debian. But somehow it seems the two Dockerfile for node runtime are based on musl

https://github.com/kubeless/kubeless/tree/master/docker/runtime/nodejs

I don't know why the nodejs8 would work and not the nodejs6

but thanks @joek for the report, yes please a PR would be great.

[2017-12-20 15:55] silvasong opened #512 "no matches for apiextensions.k8s.io/, Kind=CustomResourceDefinition"
In the case of example installation, the following error information is reported.

kubectl  create -f https://github.com/kubeless/kubeless/releases/download/v0.3.0/kubeless-v0.3.0.yaml

[unable to recognize "https://github.com/kubeless/kubeless/releases/download/v0.3.0/kubeless-v0.3.0.yaml": no matches for apiextensions.k8s.io/, Kind=CustomResourceDefinition, error validating "https://github.com/k

[2017-12-20 16:31] andresmgot commented on #512
Hi @silvasong,

seems like you are trying to use an incompatible version, which version of `kubectl` and Kubernetes do you have? Note that the supported versions are 1.8.x and 1.7.x. You can retrieve that info executing `kubectl version`

[2017-12-20 22:32] joek commented on #510
@sebgoa actually I tested only nodejs8. All alpine ones are based on musl.

[2017-12-20 22:37] sebgoa commented on #510
ah ok, that makes sense then. Both are alpine based, so we need to change both.

[2017-12-21 00:17] gkarthiks commented on #504
Aah! I created the route before enabling the minikube ingress addons. That was the mistake I did.

I am closing this issue.

[2017-12-21 00:17] #504 closed

[2017-12-21 08:32] andresmgot opened #519 "Fix flaky pubsub-nodejs test"
This test is failing in some occasions:
https://travis-ci.org/kubeless/kubeless/jobs/319254378#L740

[2017-12-21 10:45] #443 closed

[2017-12-21 22:21] cmdshepard commented on #512
@andresmgot I was trying to install the Helm chart on 1.8 and ran into the same issue.

Kubernetes 1.8 uses `CustomResourceDefinition` instead of `ThirdPartyResource` (https://v1-8.docs.kubernetes.io/docs/tasks/access-kubernetes-api/migrate-third-party-resource/)

Are there any plans to migrate the chart to support 1.8?

[2017-12-21 22:52] sebgoa commented on #512
Hi, yes we need to update the chart.

you can actually deploy kubeless using a single `kubectl` command. Could you try:

[code]

[2017-12-21 23:05] cmdshepard commented on #512
@sebgoa thanks. I ended up fixing the chart. Will you accept a PR for it?

P.S. the `0.3.1` yaml file above works on k8s 1.8 @silvasong

[2017-12-21 23:05] sebgoa commented on #512
of course, would love a PR to fix the chart.

[2017-12-22 06:59] silvasong commented on #512
have already been solved . thx very much.

[2017-12-22 06:59] #512 closed

[2017-12-23 11:19] saurabhtmba2005 opened #522 "Facing issue with Function can not be created/updated"
I have create function as instructed by you on your git.. But we have face some error ..
Kubernetes version: v1.7.10
kubeless version: 0.3.1

[root@qakube1 kubeless]# kubeless function ls
NAME    NAMESPACE       HANDLER         RUNTIME         TYPE    TOPIC   DEPENDENCIES    STATUS
linux   default         test.foobar     python2.7       HTTP                            MISSING: Check controller log

[2017-12-24 15:39] skunkwerk opened #523 "Python 3.6 support"
Do I just need to update the two Dockerfiles here?
https://github.com/kubeless/kubeless/tree/master/docker/runtime/python-3.4

Also, the documentation here should be updated for Python 3:
https://github.com/kubeless/kubeless/blob/master/docs/runtimes.md

[2017-12-25 15:40] silvasong opened #525 "run get-python example function error"
use serverless framework plugin run get-python. throw the following error .
what's reason. thx.

serverless invoke -f hello -l

  Error --------------------------------------------------

  Service Unavailable

     For debugging logs, run again after setting the "SLS_DEBUG=*" environment variable.

  Stack Trace --------------------------------------------

Error: Service Unavailable
    at Reque

[2017-12-26 05:34] breakEval13 opened #526 "this is error ?"
Error from server (Forbidden): error when creating "k8s-server-less-ui.yaml": clusterroles.rbac.authorization.k8s.io "kubeless-ui" is forbidden: attempt to grant extra privileges: [PolicyRule{Resources:["pods"], APIGroups:[""], Verbs:["get"]} PolicyRule{Resources:["pods"], APIGroups:[""], Verbs:["list"]} PolicyRule{Resources:["pods/log"], APIGroups:[""], Verbs:["get"]} PolicyRule{Resources:["pods/

[2017-12-26 05:35] breakEval13 commented on #526
help me thanks

[2017-12-26 07:19] saurabhtmba2005 commented on #522
Help me as i stuck due to this

[2017-12-26 09:38] murali-reddy commented on #522
@saurabhtmba2005 did you enable RBAC version of kubeless manifest mentioned in [installation](https://github.com/kubeless/kubeless#installation) steps?

[2017-12-26 10:05] saurabhtmba2005 commented on #522
No.. Non rbac..
[root@qakube1 ~]# kubectl get pods -n kubeless
NAME                                  READY     STATUS    RESTARTS   AGE
kafka-0                               1/1       Running   1          3d
kubeless-controller-151920402-pjg46   1/1       Running   0          3d
zoo-0                                 1/1       Running   0          3d

[2017-12-26 10:06] saurabhtmba2005 commented on #522
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: controller-acct
  namespace: kubeless
---
apiVersion: v1
kind: Service
metadata:
  name: broker
  namespace: kubeless
spec:
  clusterIP: None
  ports:
  - port: 9092
  selector:
    kubeless: kafka
---
apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: kafka
  namespace: kubeless
spec:
  serviceName: broker
  template:
    metadat

[2017-12-26 10:13] saurabhtmba2005 commented on #522
Hi,

We are using ABAC authorization in kubernetes...

[2017-12-26 10:19] murali-reddy commented on #522
You need to use RBAC version.

[2017-12-26 10:43] saurabhtmba2005 commented on #522
Why as we are not using RBAC . will it works with ABAC as well

[2017-12-26 15:28] saurabhtmba2005 commented on #522
I have facing this issue with RBAC also ..
Can some body help me out..
User "system:serviceaccount:kubeless:controller-acct" cannot create configmaps in the namespace "kubeless".: "No policy matched." (post configmaps)

[2017-12-26 15:28] saurabhtmba2005 commented on #522
Please send the steps for configuration of Config map policy ..

[2017-12-26 16:55] murali-reddy commented on #522
Did not notice you already mentioned that ABAC is in use. Could not find any documentation on how to use Kubeless with ABAC and I never tried kubless with cluster using ABAC.

Could you try per the ABAC[ guidelines](https://kubernetes.io/docs/admin/authorization/abac/#a-quick-note-on-service-accounts) for the service account?

User: "system:serviceaccount:kubeless:controller-acct"
namespace: "kube

[2017-12-26 17:16] saurabhtmba2005 commented on #522
Hi,
Already resolved by adding "apiVersion": "abac.authorization.kubernetes.io/v1beta1", "kind": "Policy", "spec": {"user":"system:serviceaccount:kubeless:controller-acct","nonResourcePath": "*","namespace":"*","resource":"*","apiGroup":"*"}}

Thanks anyway

[2017-12-26 17:16] #522 closed

[2017-12-26 17:33] sebgoa commented on #522
Hi @saurabhtmba2005 can you confirm. You added the change above to your ABAC policy file and it solved the issue ?

or did you switch to RBAC ?

[2017-12-26 18:23] saurabhtmba2005 commented on #522
Yes i have added "apiVersion": "abac.authorization.kubernetes.io/v1beta1", "kind": "Policy", "spec": {"user":"system:serviceaccount:kubeless:controller-acct","nonResourcePath": "","namespace":"","resource":"","apiGroup":""}} line to our ABAC policy..

Now every thing is working fine..

[2017-12-26 18:29] sebgoa commented on #522
great, thanks for confirming

[2017-12-26 18:30] sebgoa commented on #526
What is your version of kubernetes ?
What is your version of kubeless ?

Do you have RBAC turned on ?

[2017-12-26 18:31] sebgoa commented on #525
Did you deploy the function properly ?
Can you invoke the function with the `kubeless` CLI ?
What version of k8s are you using ?
What version of kubeless are you using ?

[2017-12-26 18:32] sebgoa commented on #523
thanks, you are correct we need to update the docs since we support 3.4

I saw your PR for 3.6, we will merge it.

[2017-12-27 08:35] murali-reddy opened #528 "guideline for ABAC policies required for Kubeless controller"
Document the least permissive ABAC policies necessary for Kubeless controller to function in Kubernetes cluster with ABAC enabled.

refer: #522

[2017-12-27 11:12] ngtuna commented on #508
close via #518

[2017-12-27 11:12] #508 closed

[2017-12-27 11:13] ngtuna commented on #493
@bibinwilson Do you have any update on this ?

[2017-12-27 11:34] ngtuna commented on #523
Merged

[2017-12-27 11:34] #523 closed

[2017-12-27 15:05] ngtuna commented on #392
close #392 via #397

[2017-12-27 15:05] #392 closed

[2017-12-27 18:00] davewalk commented on #169
Hi, we're evaluating Kubeless against other FaaS projects and really like it, but also we write a lot of Go functions. Is there anything I can do to help with Go support?

[2017-12-27 18:05] sebgoa commented on #169
Hi @davewalk great to hear.

We are working on a refactor to be able to support more runtime in a much more flexible manner.

But you can get started experimenting by writing a custom runtime:

https://github.com/kubeless/kubeless/blob/master/docs/runtimes.md#custom-runtime-alpha

Basically your own docker image that can use the language that you want.

[2017-12-27 18:06] sebgoa commented on #169
This might help: https://github.com/kubeless/kubeless/pull/472/files

it is a new trigger (AWS SQS), it is fully functional for python function. We are not merging it because of the refactor mentioned.

[2017-12-27 18:07] sebgoa commented on #169
So basically what you can do right away is:

* build a docker image that exposes your function over a http server on port 8080
* use this custom runtime in kubeless

and you are good to go as a temporary "hack"

[2017-12-27 18:13] davewalk commented on #169
Gotcha, I can get going on that. Didn't know if I should wait for the re-factor. Do you have a timeframe on that?

[2017-12-27 18:24] sebgoa commented on #169
not yet, mid-february maybe. It involves decoupling the triggers and the language runtimes.

It would be nice to see what workflow you are looking for for Golang. Do you want to provide simple functions, do you want to provide a binary, do you want to pre-build a Docker image with all the dependencies ?

[2017-12-27 18:44] davewalk commented on #169
Mostly simple functions. I want to write a function, tell Kubeless to run it and serve via HTTP. Our dep needs aren't crazy, the scratch image with the ability to `dep ensure` when running should be simple enough.

But I could be totally taking too much for granted because I don't know Kubeless that well yet. What draws me to it though is that it's super easy to deploy ("run this function with thi

[2017-12-27 22:57] Crizstian opened #529 "kubeless routing functions GKE"
Hello i have been testing kubeless and following the tutorial instructions, and it's a very promising framework for FAAS, but i am stuck at the moment to expose the function to the world in my GKE cluster, i have everything up and running but at the moment to create my ingress i am receiving the following error:

googleapi: Error 400: Invalid value for field 'namedPorts[0].port': '0'. Must be grea

[2017-12-28 03:08] bibinwilson commented on #493
@ngtuna I spoke to google support team. They said this functionality will be added in GKE for 1.9 release..For 1.8x, we cannot implement custom metrics scaling using HPA.

[2017-12-28 03:54] ngtuna commented on #493
Oh okay. Thank you for that info 👍 I guess in GKE 1.9 they will open options to configure the master node, one of them will be configuring the controller-manager.

[2017-12-28 03:57] ngtuna commented on #488
@prakashsingh08 Not sure if you move any further on that topic. @bibinwilson on https://github.com/kubeless/kubeless/issues/493#issuecomment-354220074 confirmed that we can't do custom metric with hpa in 1.8.x. GKE team will probably support it in 1.9

[2017-12-28 04:04] ngtuna commented on #529
@Crizstian Did you mean GKE doesn't support ingress which points to a clusterIP service ? That's weird as I am having ingresses running on my GKE 1.8.4 which all point to clusterIP services without problem. Which ingress-controller are you using ?

[2017-12-28 15:55] Crizstian commented on #529
I'm using 1.7.11-gke.0, is it my k8s versions does not support the clusterIP services for ingress ?

[2017-12-28 17:28] Crizstian opened #531 "Functions deployment with MISSING: Check controller logs"
I have GKE 1.8.4
Kubeless 0.3.0
and
kubeless 0.3.2 yml depolyment

[code]

[2017-12-28 17:57] sebgoa commented on #169
I was just thinking, if you don't want to build your own custom runtime, you could write a function in Python that calls your binary. You stick the binary in a zip file with the function and deploy that.

the zip file support is not yet documented but available.

[2017-12-28 18:08] murali-reddy commented on #529
It's not K8s version, but default ingress controller on GKE I believe [supports only services of NodePort](https://github.com/kubernetes/kubernetes/issues/26508) type.

Can you try edit the service created by Kubeless for the function and change its type to NodePort. Changing service type to NodePort shold solve the problem.

[2017-12-28 18:14] Crizstian commented on #529
i have updated to GKE 1.8.4 and i have followed this steps https://github.com/kubernetes/ingress-nginx/blob/master/deploy/README.md#mandatory-commands, now i am able to create the ingress:

[code]

but now i am having another issue, i cannot call the functions i am doing the following:

[code]

and i am receiving the following:
`curl: (7) Failed to connect to 104.199.123.165 port 80: Connection re

[2017-12-28 18:16] Crizstian commented on #531
I think the kubeless bin in homebrew is outdated and does not support the kubeless 0.3.2 deployment so i have to delete de 0.3.2 deployment and deploy the 0.3.1 and with this i am able to create the functions.

[2017-12-28 18:33] murali-reddy commented on #529
Ingress object seems alright.

Could you please share output for:

kubectl get svc -o wide get-python
kubectl get endpoints -o wide get-python

Any network policies that were setup when creating the cluster?

[2017-12-28 18:36] Crizstian commented on #529
This the output for what you requested, there was no network policies setup at creation

[code]

[2017-12-28 19:02] Crizstian commented on #529
Indeed i was missing some configurations for the ingress-controller, now i am able to reach my functions, so i will close this issue.

[2017-12-28 19:02] #529 closed

[2017-12-29 04:07] ngtuna commented on #531
The kubeless in homebrew is still v0.3.1. It will be v0.3.2 in just couple few days. Can you check the status @murali-reddy ?

Btw I see the function is still there. Can you see its pod running by checking `kubectl get pod` and call it succesfully ? @Crizstian

[2017-12-29 05:01] murali-reddy commented on #531
"Function can not be created/updated: Service \"get-python\" is invalid: spec.ports: Required value" pkg=controller"

@ngtuna mismatch between the old client and controller's view of function spec due to service spec which is added as part of function spec.

[2017-12-29 21:26] Crizstian opened #532 "How kubeless can be better than AWS Lamda or GCP functions ?"
With AWS lamda functions i pay 20usd for 3 million request of 250mb and i have dozens of functions there, i've been testing kubeless and i think is extraordinary but for each function, kubeless creates 3 objects at least in k8s cluster:
- pod
- service
- configmap

and this will consume my k8s nodes memory even though the functions are requested or not, and google will charge me for that resources

[2017-12-30 03:53] prakashsingh08 commented on #488
@ngtuna  ,
I also tried same and I am able to do autoscaling on the basis of custom metrics using HPA in private Kubernetes. but in GKE 1.8.x it's not supporting.

Thanks for update that GKE 1.9 will support it.

[2018-01-01 09:15] ngtuna commented on #531
@Crizstian The homebrew formular for kubeless has been updated. You can have latest CLI binary with `brew install kubeless` now. Can you try and give us feedback on this issue ? Thanks.

[2018-01-01 09:29] ngtuna commented on #493
So I guess we can close this issue. Will try it out when GKE 1.9 is available.

[2018-01-01 09:29] #493 closed

[2018-01-01 09:30] ngtuna commented on #488
THanks @prakashsingh08 . So I will close this. Will try it out when GKE 1.9 is available.

[2018-01-01 09:30] #488 closed

[2018-01-01 09:31] ngtuna commented on #510
Close this via #515

[2018-01-01 09:31] #510 closed

[2018-01-01 11:42] tonyrewin commented on #526
Having the same problem with kubernetes 1.8.4-gke.1 and kubeless-rbac-v0.3.2

[2018-01-02 03:24] ngtuna commented on #526
@tonyrewin Have you managed to give admin permission to your account on GKE ? This is a required step to run kubeless on GKE. Details at https://github.com/kubeless/kubeless/blob/master/docs/GKE-deployment.md#creating-the-admin-clusterrolebinding

@breakEval13 I am assuming you're trying kubeless on GKE. Look into the link above for the explanation and command to assign your account the cluster-ad

[2018-01-02 08:11] MohamedHz opened #534 "Unable to Push k8s to kafka topic"
I have lauched the kubeless project successfull and able to deploy the test function deployment without any issues.

![default-event](https://user-images.githubusercontent.com/16351343/34477750-648263a6-efc2-11e7-885c-281bf79349b2.PNG)

But the python script **events.py** deployment is failed and there is multiple handler mentioned inside the file, so the pod getting fails after deployed the funct

[2018-01-02 15:08] prydonius opened #535 "Kubeless 0.3.2 is backwards incompatible with 0.3.1"
The latest release introduces a seemingly mandatory `service` key in the Function spec, without which the controller will error:

[code]

This breaks compatibility with Kubeless UI and raw Function YAML manifests and should **not** be a patch release. We must either:

- Release 1.0.0 to reflect this **breaking** change
- Make the `service` key non-mandatory and provide a default to make this a **n

[2018-01-02 15:19] ngtuna commented on #535
IMO, the kubeless UI should be bumped up rather than revert 0.3.2 as people started using it. The kubeless UI hasn't been updated for a while so that's a good time for it. Make the service key not-mandatory is good way to go

[2018-01-02 15:32] prydonius commented on #535
Given 0.3.2 is already being used, I agree that we probably shouldn't revert it. We should be more careful about this in the future, and ideally strictly follow something like semver rather than deciding for ourselves.

I think what we should do here is create a patch to fallback to a default if the `service` key is not there and then release 0.3.3 as this is a bug fix.

IMO 0.3.2 should have been

[2018-01-03 08:18] saurabhtmba2005 commented on #7
Hi,
Please provide java runtime it will help us to migrate my java scheduler on kubeless..

[2018-01-04 02:48] ngtuna commented on #535
close this via #538

[2018-01-04 02:48] #535 closed

[2018-01-04 04:18] sebgoa commented on #7
@saurabhtmba2005 could you describe in more details what UX and use case you are after. Java can be supported in different ways, if you could describe in details how you would like to deploy your java code with kubeless that would help a ton.

thanks

[2018-01-04 04:53] ngtuna opened #541 "Autoscale doesn't work as expected after embedding into func spec"
**Is this a BUG REPORT or FEATURE REQUEST?**: bug

**What happened**:

After we put hpa spec into function spec, autoscale seem doesn't work. My test is on GKE 1.8.4

[code]

But the hpa is still in func spec (with not-empty data: `maxReplicas: 0` but `targetAverageUtilization: 80` and `minReplicas: 1`)

**What you expected to happen**:
kubeless autoscale works as expected

**How to reproduce it (

[2018-01-04 05:06] ngtuna commented on #541
I guess this because of `autoscaling/v2alpha1` isn't no longer supported on GKE. Let me try on minikube

[2018-01-04 10:30] murali-reddy commented on #534
@MohamedHz can you verify you have valid `events.py` python file.

It seems file has "<!DOCTYPE html>" is there in `events.py`

[2018-01-04 16:42] sebgoa commented on #541
autoscale should never work on GKE. Not until they allow us to configure several things.

I am not sure I understand this issue ?

[2018-01-04 18:41] sebgoa commented on #534
seems to me you have a syntax issue on the `kafka.py` file ?

how do you send the k8s events to the kafka topic ? the even source you refer is still very experimental.

[2018-01-04 19:11] sebgoa commented on #532
Hi, sorry for the delay, we got busy with new year's :)

That's a great question.

kubeless is meant as an open source clone of GCP functions or AWS lambda. You can install it and use it anywhere, including on prem. So the main benefit is cloud portability, you are not tied to a single vendor.

The second biggest advantage is that if you are using k8s already and running different workloads then y

[2018-01-05 04:25] ngtuna commented on #541
@sebgoa It should never work on GKE with custom metric, but it should be working with default ones. I confirm this fail case is because of `autoscaling/v2alpha1`. @murali-reddy doing `autoscaling/v2beta1` at https://github.com/kubeless/kubeless/pull/537/files#diff-688e5b13ce871be46e4c6c91c476ba9aR24.

I will close this issue for now.

[2018-01-05 04:25] #541 closed

[2018-01-05 14:28] pnpavlov opened #544 "Rolling function update?"
Hello,

I've started evaluating Kubeless for my next project. I find the project very interesting and promising - great work! :)
I have an open question regarding the availability of my service, in case I go for Kubeless HTTP function. Long-story-short: The purpose of this issue is to get your toughts on "zero downtime" function update. Is it possible and how? If not possible yet, is it planned?

[2018-01-07 00:39] alexanderkjeldaas commented on #532
@Crizstian if you rent dedicated servers at aws, you can't win.  but outside of aws for example, you pay a fraction for the same compute.

For example: compare these geekbench scores:

ec2 c5.2xlarge - USD 159/month using *reserved pricing*.

https://browser.geekbench.com/v4/cpu/4844151

vs e3-1270v6  - EUR 39/month for a dedicated machine (for example at worldstream)

https://browser.geekbench.co

[2018-01-08 11:58] andresmgot commented on #544
Hi @pnpavlov,

Thank you for sharing your feedback, it is indeed useful. Rolling updates with zero downtime are not supported yet in Kubeless since it is not possible to directly specify the number of replicas of a function. We will take that into account for future features!

[2018-01-08 18:51] pnpavlov commented on #544
thanks @andresmgot ! Will close this issue for now and implement a 5s retry in my current project to see, if i can still have no data loss :) Regards, Pavel

[2018-01-08 18:51] #544 closed

[2018-01-09 06:27] ryuheechul opened #548 "Scheduled function fails even though the function worked fine"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
Job failed with the message below
[code]

**What you expected to happen**:
print the body and exit with 0

**How to reproduce it (as minimally and precisely as possible)**:
create any scheduled function and check the log of the pod created by the job

**Anything else we need to know?**:
- this is the image: `busybox@sha25

[2018-01-09 08:45] ryuheechul commented on #548
I was able to replace the command with this below

[code]
But it's long and I have to manually edit every time the function is deployed

[2018-01-09 09:19] andresmgot commented on #548
Hi @ryuheechul,

Could you check if your function is returning a response? That may the reason for the `wget` command failure and the `nc` connection success. If that is the case, you can close the connection and return a response executing `res.end('OK')` (NodeJS) or `return "OK"` (Python). That should solve your issue. Note that the function should be accessible as well executing `kubeless funct

[2018-01-09 13:50] pjfanning commented on #7
As an alternative to having to provide Java functions with an embedded HTTP server, would it be feasible to define a Java interface (or use an existing interface like java.util.function.Function<T,R>)? This is similar to how AWS [Lamdba](https://docs.aws.amazon.com/lambda/latest/dg/java-programming-model-handler-types.html) supports Java.
The registration of the Java function in Kubeless would the

[2018-01-09 16:44] andresmgot commented on #390
@arjunrao87 it seems that it is an issue related to the APIVersion that we are using. It is `k8s.io` while it should be kubeless specific (`kubeless.io`). We are working on changing it (apart from several other things) in this PR https://github.com/kubeless/kubeless/pull/537. Once we change it the issue should go away. We will give Openshift 3.7 a try once that PR is merged.

cc/ @murali-reddy

[2018-01-10 01:14] ryuheechul commented on #548
Hi @andresmgot,
The function returns a response and I checked with wget in normal distribution of linux not busybox and it worked, so does curl, too. I think the issue is the wget within the busybox image that is used for triggering the the schedule.

[2018-01-10 10:23] andresmgot commented on #548
that's weird, I am not able to reproduce the issue, the `wget` within busybox should work. Could you try the following?
[code]
that way we can try to debug within the busybox image.
In any case, using `wget` for a simple HTTP GET request doesn't seem necessary, we can change it to use `curl` instead.

[2018-01-10 11:02] MohamedHz commented on #534
@sebgoa ...Thanks for your comment. I have enabled the /eventer command in heapster and collected the k8s events then pushed to kafka topic using sink configuration.

[2018-01-10 11:07] MohamedHz commented on #534
@murali-reddy.. I don't know the events.py is valid and I have tried as per the documentation but it not works. So I have collected the k8s events via heapster. Thanks for your reply.

[2018-01-11 01:24] ryuheechul commented on #548
@andresmgot I tried as you suggested, and got this
[code]

[2018-01-11 01:29] ryuheechul commented on #548
So my issue is that the scheduled function get called but job defines it as failed pod, because of the wget of busybox. So, it retries (re-creating more pods) until 6 times until back-off. Therefore it ends up performs the same task 6 times

[2018-01-11 08:44] andresmgot commented on #548
@ryuheechul to confirm that the issue only happens for wget, could you send us the output of executing:

[code]

That should output some debug of the connection.

[2018-01-11 09:25] ryuheechul commented on #548
@andresmgot Sure!

[code]
This is the result

[2018-01-11 16:42] andresmgot commented on #548
thank you for all the information @ryuheechul, it seems indeed an issue with wget. There is not a strong reason for using `wget` instead of `curl` for triggering scheduled functions so we will change it. Thanks for reporting!

[2018-01-12 01:09] ryuheechul commented on #548
@andresmgot No problem, glad to help!

[2018-01-13 10:58] stevenceuppens commented on #241
@danutc cilium.io (a Linux native network security Project) is working on integration of Istio.
Currently they already use envoy (agent that istio is injecting) to run their L7 http policies. They have a different model where they run a single envoy instance, instead of 1 envoy per pod.
Soon they will be able to optimize Istio, so that this single Envoy can be used to drive Istio in combination wi

[2018-01-15 11:42] #548 closed

[2018-01-15 15:13] joek opened #553 "Store custom Pod Template for function pods in a Config Map"
As a Kubeless administrator, I would like to provide a global pod template to include cluster specific configurations e.g. annotations or pod affinity.

In our case, we would like to deploy envoy (for istio support) as a sidecar using annotations. With the suggested solution, other use-cases could be implemented too and would make Kubeless more flexible.

## Implementation details

The template sh

[2018-01-15 15:35] deissnerk commented on #553
This would be a good step towards a solution for #241

[2018-01-15 15:49] rakesh-garimella opened #554 "Store Runtime image references in configmaps"
**Use Case**
As a kubeless administrator I would like to define custom runtime Images to be used by developers. These images would be approved by the organization and would be available on private docker registry.

**Description**
Currently the runtime images are hard-coded into the code. Move this into the configmaps kubeless-config. This should allow Kubeless Administrator to provide runtime ima

[2018-01-15 15:54] joek commented on #554
This will solve the topic @andresmgot mentioned in #475

[2018-01-15 16:45] murali-reddy commented on #475
4f2ecf46619716edaef7e3f00b99765b3beb434e added support for configmap. closing this ticket.

[2018-01-15 16:45] #475 closed

[2018-01-15 16:57] andresmgot commented on #554
I have heard of @murali-reddy proposing to do this creating a new API endpoint. This way runtimes would be created as CRDs and a controller would manage them. This is the same approach than the one we take with functions.

My two cents is to do this first with a single ConfigMap because:
 - It would be easier to implement
 - In this case the controller would not generate any asset after a new runt

[2018-01-15 17:05] andresmgot commented on #553
This sounds convenient. Just to clarify, it is possible to specify a custom Pod Template per function but this issue is to implement a default Pod Template so you don't need to repeat N times the same YAML file, isn't it?

Regarding annotations there is an open PR to be able to specify them:
https://github.com/kubeless/kubeless/pull/507

Apart from that I am curious, I managed to work with Istio (

[2018-01-15 17:14] #489 closed

[2018-01-16 05:23] murali-reddy commented on #554
I deliberated if `Runtime` needs to be treated as first class construct in Kubless. Basically to enable use-cases like, how through the UI/API a function developer discover current set of default and custom runtimes available for use. Also allow kubeless administrator to create custom `Runtimes` through API. But at this point it seems early to have such abstraction, certianly as proposed using Con

[2018-01-16 08:23] joek commented on #553
Actually yes, there are two things we have in mind:
- Don't repeat the config on each function
- Hide some of the wiring away from our users so they don't have to care about it.

Regarding #507 it is enabeleing annotations in the CRD (and CLI). As we like to manage this on a global level the solution is not perfect for us.

Regards istio: There are two ways to inject envoy. You can auto-inject the

[2018-01-16 12:47] mariusmitrofan opened #556 "Autoscale is throwing "Can't create autoscale: the server could not find the requested resource" error"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
The `kubeless` function is not creating autoscale directive for my functions.

Attempts tried:
1)
[code]
2)
[code]
3)
[code]
4)
[code]
5)
[code]

Each time, the error I get is the same ->
[code]

**What you expected to happen**:
The function to create its HPA directive

**How to reproduce it (as minimally and precisely as

[2018-01-16 14:01] murali-reddy commented on #556
Please check https://github.com/kubeless/kubeless/issues/488 GKE does not enable alpha api

Kubeless v0.3.0 is using autoscaling/v2alpha1

[2018-01-16 15:55] mariusmitrofan commented on #556
Seems like other versions of kubeless/kubectl/gke are not accepted either:

[code]

So what is the "correct" combination by your standards ?

[2018-01-16 16:02] #556 closed

[2018-01-16 16:49] andresmgot commented on #556
Hi @mariusmitrofan,

if you want to test the autoscale feature in GKE only versions under the branch 1.7 (with alpha features enabled) will work. We wrote a guide that you can check in order to know the details: https://github.com/kubeless/kubeless/blob/master/docs/GKE-deployment.md#deploying-kubeless-to-google-kubernetes-engine-gke. The problem is that adding alpha features when creating the clus

[2018-01-16 17:31] sebgoa commented on #534
@MohamedHz are you all set now ? Can we close this issue ?

We would love to see a blog from you on this, that would be awesome, I am sure other people would like to see how you did it.

[2018-01-16 17:33] sebgoa commented on #553
I think it is a great idea.

People want to customize the Podtemplate of the functions. If we try to address this via CLI it will bloat really fast.

Instead we can indeed have a default Podtemplate (in the code), but also look for a custom one in a configmap. If present that Pod template can be used.

100% for this.

[2018-01-16 17:57] sebgoa commented on #554
+1

It is a straightforward first step to have more dynamic runtimes.
They should not be hardcoded but taken from this configmap.

This can be done before the full split of triggers and runtimes

[2018-01-17 07:37] #534 closed

[2018-01-17 08:46] joek commented on #554
Thanks for your feedback. We already started working on it. Expect an pull request soon ;-)

[2018-01-17 08:46] joek commented on #553
Same here, we already started working on it.

[2018-01-17 13:50] ngtuna commented on #467
Now we have `functions.kubeless.io` CRD so I guess we can close this ? @joek

[2018-01-17 13:59] murali-reddy commented on #467
Modified as part of commit https://github.com/kubeless/kubeless/commit/6273761a51d2f5efbf8907afa155a7d6aac06f9d

[2018-01-17 23:09] anguslees commented on #553
We can have a custom podtemplate injected by the kubeless client (into the Function podspec), or server-side by the controller (into the generated Deployment).  This change obviously proposes the latter, from a ConfigMap.

The difference afaics is: client-side allows you to "opt-in" for each client, have variations for different cases, evolve the template at a function-level, etc; server-side "enf

[2018-01-18 08:19] andresmgot commented on #467
Yes, we can close this. This will be visible in the next release.

[2018-01-18 08:19] #467 closed

[2018-01-18 10:29] sayanh commented on #553
@anguslees `PodPresets` can only inject information like secrets, volume mounts, and environment variables etc into pods at creation time. IMO `PodTemplateSpec` is more powerful with regard to the configuration which can be injected to a pod. E.g. `metav1.ObjectMeta` or `PodSpec`

@andresmgot
And I see [#507](https://github.com/kubeless/kubeless/pull/507) does not deal with `FunctionSpec.Template.

[2018-01-19 12:46] sayanh commented on #553
Please consider this [PR](https://github.com/kubeless/kubeless/pull/557) as a solution to this issue.

[2018-01-19 14:17] sayanh opened #559 "Change service port name to use prefix http"
**Feature**
In order to integrate with Istio, the port name for a function service needs to be have a prefix `http-`. This enables Istio to discover function services, provided the envoy sidecar is already injected to function pod. Istio has a definite service port naming convention as mentioned [here](https://istio.io/docs/setup/kubernetes/sidecar-injection.html).

**Implementation details**
The

[2018-01-19 14:37] sayanh commented on #559
Please consider [PR](https://github.com/kubeless/kubeless/pull/560) as a solution for this issue.

[2018-01-19 16:01] fr3dm4n commented on #532
Apart from the price and performance: Some companies like to be in full control of their data and prefer to run their own datacenter(s). Just my 2ct

[2018-01-19 16:53] fr3dm4n opened #562 "Add test utility to support TDD"
**FEATURE REQUEST**:

Looking at the [makefile](https://github.com/kubeless/kubeless/blob/master/examples/Makefile) I saw some verification tasks. In my opinion tests should be an (optional) artifact of a deployed function. Is it possible to add an optional field to the `function.yaml` to define some value, to send it to a deployed function and what values we would expect to get?

Tests could be c

[2018-01-19 17:59] mgernand commented on #525
Hi @sebgoa,
I hit the same problem. Let me try to answer your questions. I'm running kubeless in minicube.

- I used the [Quick Start](https://serverless.com/framework/docs/providers/kubeless/guide/quick-start) quide from Serverless.

- **`serverless deploy -v`**
Already creates an error:

[code]
- **`serverless deploy function -f hello`**
It seems the function is correctly installed.
The k8s UI s

[2018-01-19 21:34] sebgoa commented on #525
ok so I can reproduce.

the template that is generated by `serverless create` generates a `package.json` that has an old version of the serverless-kubeless plugin.

The quick fix is to edit the `package.json` and change the serverless-plugin version from 0.1.8 to 0.3.1

cc/ @andresmgot  we need to have a look at those templates ( I made the original PR...:( )

[2018-01-22 09:37] andresmgot commented on #525
we have updated that template lately a [couple of times](https://github.com/serverless/serverless/commit/1c0758e24386102e4163d0e435386ea6cde3b7e3#diff-f8eb612a10c2fcb729d9d7086b0a492a) but we need to wait for serverless to release their next version in order to see the changes. Sorry for the inconveniences.

In the meantime @mgernand @silvasong you can use the `get-python` example from the [`serve

[2018-01-22 11:36] arapulido commented on #519
@andresmgot Shall we close this one now?

[2018-01-22 11:37] andresmgot commented on #519
yes

[2018-01-22 11:37] #519 closed

[2018-01-22 12:53] sayanh opened #565 "Change FunctionSpec to use v1beta2/Deployment instead of v1/PodTemplateSpec and apply Deployment configuration from a ConfigMap to all function deployments"
**Feature**: As a Kubeless administrator,  I would like to have more control over function `Deployments` done by Kubeless `controller`. Adding a `Deployment` in a configmap which can shape function deployment on a global level, helps to realise that. Right now, `PodTemplateSpec` is a part of the function definition. As `Deployment` covers `PodTemplateSpec`, the administration can apply custom tuni

[2018-01-22 21:02] ngtuna opened #567 "pin all dependencies in glide.yaml to specific revisions"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

**What happened**:

Whenever modifying vendor (i.e: add new package), running `glide up --skip-test -v` will automatically fetch latest changes in non-versioned packages which causes build failure.

**What you expected to happen**:

All packages in vendoring should be pinned into specific revisions
**How to reproduce it (as minimally and precisely

[2018-01-22 21:07] ngtuna commented on #559
@sayanh is there anything you want to do more (why reopen) ? I am seeing the function port name has prefix `http-` already.

[2018-01-23 08:22] sayanh commented on #559
@ngtuna nothing more actually hence closing.

[2018-01-23 08:22] #559 closed

[2018-01-23 08:31] sayanh commented on #553
Closing this as [issue58](https://github.com/kubeless/kubeless/issues/565) covers this.
@andresmgot Thanks for your PR comments as they are pretty helpful for future.

[2018-01-23 09:31] lghinet opened #568 "QUE: Monitoring with prometheus 1.5.2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
1.8.2
- Kubeless version (use `kubeless version`):
0.3.4
- Cloud provider or physical cluster:
kubeadm 1.8.2

Hello, I have two prob

[2018-01-23 13:27] murali-reddy commented on #568
@lghinet can you try scrape config in https://github.com/kubeless/kubeless/blob/master/manifests/monitoring/prometheus.yaml#L72?

Also which language runtime are you using?

[2018-01-23 13:45] lghinet commented on #568
language is go;
the config its pretty much the same, except for `api_servers` and `in_cluster` which are deprecated in 1.5

[2018-01-23 14:13] murali-reddy commented on #568
I assume you are using custom runtime image. So are you publishing metrics from the go code running in runtime image.

Typically metrics are published by runtime handlers for e.g https://github.com/kubeless/kubeless/blob/master/docker/runtime/python-3.6/http-trigger/kubeless.py#L39-L40

[2018-01-23 16:37] lghinet commented on #568
sorry, my language is nodejs8; no custom runtime; using pub/sub trigger and working ok;
i have olso openfaas with a go function, i got confused, sorry

[2018-01-23 16:59] lghinet commented on #568
but is that reflector_storage_cacher log ok ?
i have 11000 in that list and growing

[2018-01-23 17:01] sebgoa commented on #568
that does not seem right.

How did you deploy the function ?
Is the openfaas function running at the same time ?

[2018-01-23 17:14] lghinet commented on #568
deployed with the kubeless ui first,
delete all, and start using the cli

i have one go function deployed with openfaas, and yes it is runnig

[2018-01-24 08:39] joek commented on #553
The issue will be covered by #565

[2018-01-24 08:39] #553 closed

[2018-01-25 01:10] gkarthiks opened #571 "Is the "datadir-kafka-0" and "datadir-zookeeper-0" configurable"
**Question**: Are the PVCs looking by Kubeless in the name `datadir-kafka-0` and `datadir-zookeeper-0` is configurable?

**What happened**: Kubeless is looking for those PVs, which is not available in the cluster and fails with `PVC not bound` exception.

**What you expected to happen**: We are following a specific naming convention for our PVs, if it is possible to pass our own PVs to Kafka and Z

[2018-01-25 09:50] andresmgot commented on #571
@gkarthiks yes you can, in the kubeless manifest you can find the PVC definition:
[code]
You can change there the PVC definition or name (the same for zookeeper) to adapt it to the requirements you may have.

[2018-01-25 13:18] lghinet commented on #568
solved by upgrading to kubernetes 1.9.2 and prometheus 2.1

[2018-01-25 13:18] #568 closed

[2018-01-25 15:34] sebgoa commented on #568
thanks for closing and showing the fix. The prometheus config could most certainly be improved.

we should also make a note in the readme about which prometheus versions to use.

[2018-01-25 17:54] gkarthiks commented on #571
That's awesome! Thank you @andresmgot.

[2018-01-26 16:19] sebgoa commented on #571
note that the manifest provided in each release are just a way to easily deploy kubeless. You can indeed modify those to your liking.

we would love your help though in making sure the provided openshift manifest does indeed work on openshift clusters.

[2018-01-29 14:21] deissnerk commented on #532
@sebgoa

What is typically the reason for doing this "keeping warm"? Is there something we can learn or avoid?

[2018-01-29 14:24] sebgoa commented on #532
@deissnerk here is a read https://read.acloud.guru/how-to-keep-your-lambda-functions-warm-9d7e1aa6e2f0

[2018-01-29 14:51] alexanderkjeldaas commented on #532
There are good reasons for at least doing end-to-end testing continuously, so *some* provisioning should be up at all times.  Otherwise you can't know that your system works.

[2018-01-29 20:02] patrickstjohn opened #578 "Function deploy does not support private repository"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Bug report

**What happened**:
Installation works fine by setting the manifest to point to the proper private repository in our on-prem Kubernetes environment. When you go to deploy a function k8sutil.go has hardcoded images that want to go to the public docker registry for unzip and busybox.

**What you expected to happen**:
To be able to specify an

[2018-01-29 20:10] gkarthiks commented on #571
What will happen if I have my `volumes` as `temporary directory` like below for both `kafka` pod and `zookeeper` pod?

[code]

[2018-01-30 08:45] sebgoa commented on #578
There is a PR in bound that should fix this: https://github.com/kubeless/kubeless/pull/575

cc/ @andresmgot @murali-reddy @sayanh

[2018-01-30 13:48] andresmgot commented on #578
Yes, @sayanh work specifically fixes that

[2018-01-30 14:28] patrickstjohn commented on #578
Fantastic, I'll watch for that PR. Looking forward to playing with it when it's ready.

[2018-01-30 15:57] andresmgot commented on #571
that will work, the problem is that if you delete the pod the zookeper/kafka data will be lost

[2018-01-30 23:24] ngtuna commented on #531
@Crizstian I am going to close this. The issue has fixed at our latest release

[2018-01-30 23:24] #531 closed

[2018-01-30 23:24] ngtuna commented on #565
close via #577

[2018-01-30 23:24] #565 closed

[2018-01-30 23:40] #484 closed

[2018-02-07 16:00] sebgoa commented on #196
Pretty sure we fixed this cc/ @andresmgot @ngtuna

[2018-02-08 08:40] andresmgot commented on #196
Not really, PubSub functions still expect Kafka in the `kubeless` namespace listening in the port `9092`

[2018-02-08 09:36] ngtuna commented on #196
No we have fixed this already. The pubsub func read `KUBELESS_KAFKA_SVC` and `KUBELESS_KAFKA_NAMESPACE` envvars which are defaulted to `kafka` and `kubeless`. So if the func is deployed with `--env` flag to provide those env vars it will work. The missing bit is that the port 9092 is fixed. We should consider to support @lghinet 's case.

[2018-02-08 13:41] andresmgot commented on #196
I thought that the idea was to support an external Kafka system (so it doesn't even need to be in the same cluster).

[2018-02-08 13:42] arapulido commented on #196
In the case of Kafka being on the same cluster, do we have documentation on how to use it?

[2018-02-08 14:34] andresmgot commented on #196
It is not. We need to document it.

[2018-02-08 15:34] murali-reddy commented on #166
We have a grafana [dashboard](https://github.com/kubeless/kubeless/blob/master/docs/monitoring.md) so closing this issue.

[2018-02-08 15:34] #166 closed

[2018-02-08 16:04] arapulido opened #587 "[Documentation] Document how to use a Kafka instance that is not in the Kubeless namespace"
We have a way to make Kubeless to use a Kafka cluster that is already in the K8s cluster, even if it is not in the kubeless namespace, but it is not documented.

We should document this clearly, so people can find it easily.

[2018-02-08 16:05] arapulido commented on #196
I have created https://github.com/kubeless/kubeless/issues/587

[2018-02-08 16:47] arapulido commented on #526
Hello @tonyrewin @breakEval13!

We believe your issue might be fixed by following the following guide:

 https://github.com/kubeless/kubeless/blob/master/docs/GKE-deployment.md

I will close this issue now, based on that assumption, but feel free to reopen it with more details if that's not the case.

Thanks!

[2018-02-08 16:47] #526 closed

[2018-02-08 16:49] arapulido commented on #373
@andresmgot Can we close this one now? We have now an upstream formula. Does it get updated for every release?

[2018-02-09 08:25] andresmgot commented on #373
Nope. It is not. They usually update it on their own but it is a manual step.

[2018-02-09 08:32] arapulido commented on #373
OK, I have updated the description to point to the upstream one instead. @sebgoa to avoid confusion, we might want to delete the https://github.com/kubeless/homebrew-tap repo. Can you do that, please?

[2018-02-09 08:40] arapulido commented on #578
@patrickstjohn the PR was merged. Have you tried with the latest HEAD to see if your issue is solved?

[2018-02-09 08:44] arapulido commented on #481
@ngtuna @murali-reddy I guess we can close this one?

[2018-02-09 08:49] arapulido commented on #390
We fixed Openshift 3.7 compatibility here: https://github.com/kubeless/kubeless/pull/580

@jberggg Can you test with the latest master and let us know if it works for you, please?

Thanks!

[2018-02-09 09:01] arapulido commented on #241
@danutc @andresmgot wrote a blog post explaining how to use Istio with Kubeless: https://engineering.bitnami.com/articles/serverless-service-mesh-with-kubeless-and-istio.html

Let us know if this works for you.

Thanks!

[2018-02-09 09:10] andresmgot commented on #241
Actually there are a few PRs that has been merged that solve some of the issues I found when writing the article. Maybe we should write some documentation after the next release to explain how to make both projects work smoothly.

[2018-02-09 15:42] arapulido commented on #562
Thanks for the suggestion! Right now this is not in scope for 1.0, but we welcome PRs! If you want to give it a try, let us know, and we can help you with the PR process

[2018-02-09 15:48] sebgoa commented on #373
done

[2018-02-10 17:48] billaram opened #588 "HTTP Trigger not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I have followed the README and I am not able to call function using http request

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
curl -L --data '{"Another": "Echo"}' localhost:8080/api/v1/namespaces/default/services/demo8:http-function-port/ --header "Content-Type:application/json

[2018-02-12 07:31] murali-reddy commented on #588
@billaram Thanks for reporting. Please try
[code]
Notice the use of `function-port` instead of `http-function-port`. Port name has been changed recently. Documenetation is reflecting to current HEAD and not to last release version. We are thinking to move to proper docs website.

[2018-02-12 09:41] arapulido commented on #588
@billaram http://kubeless.io/docs/ will always point to the latest release documentation.

[2018-02-12 14:16] patrickstjohn commented on #578
@arapulido Thanks for the heads up! I'll give it a whirl on our dev environment today with the latest build.

[2018-02-12 17:03] patrickstjohn commented on #578
@arapulido Attempted the following:

Pulled the latest kubeless.jsonnet, altered the image pull location to point to our internal/private repository and ran:

`
kubectl create -f kubeless.jsonnet
`

I get the following formatting error:
`
error: error converting YAML to JSON: yaml: line 15: mapping values are not allowed in this context
`

Which corresponds to the following in kubeless.jsonnet and

[2018-02-12 17:08] sebgoa commented on #578
@patrickstjohn `kubectl` cannot use .jsonnet file like this.

you need to get the latest yaml manifest. Since we have not released it yet, you need to check the makefile and build the manifest. Or wait for a release.

I will try to put an updated manifest on line temporarily for you to try, might be couple hours though.

[2018-02-13 00:22] patrickstjohn commented on #578
@sebgoa Ah thanks for the pointer in the right direction. If you get a chance to put a manifest online I'll test it out. Appreciate the follow up.

[2018-02-13 04:45] sebgoa commented on #578
@patrickstjohn can you try this: https://pastebin.com/dUA6SMH9

it assumes rbac

[2018-02-13 05:09] ngtuna commented on #587
I will take this. It's somehow related to the ongoing #570 so I can do both at the same time.

[2018-02-13 08:31] rakesh-garimella opened #589 "Sidecar is not injected via istio when we update an existing function in kubeless"
**BUG REPORT?**: If we update an existing function in kubeless, then envoy sidecar is not injected again.

**What happened**:
When the function is updated the side-car injection from istio(Envoy proxy) is not re-injected

**Environment**:
- Kubernetes version: v1.8.0
- Istio Version: 0.4.0
- Running in  Minikube v0.24.1

[2018-02-13 09:15] murali-reddy commented on #589
@rakesh-garimella how was side car injected? Initializers or predefined in pod/deployment spec?

When function is updated, do you see any change in the pod spec compared to previous one?

[2018-02-13 09:23] rakesh-garimella commented on #589
I am using the annotation `sidecar.istio.io/inject: "true"`. This annotation helps in injecting the sidecar on `kubeless function deploy...` command by the istio initializer. Only thing I see changed is the revision: `deployment.kubernetes.io/revision: "2"`.

I am currently not sure if this issue lies on the kubeless side or its more of istio problem. I am trying to find that out.

[2018-02-13 11:49] joek commented on #589
So, it is not an issue of kubless. The problem occurs due to kubernetes initializers used by istio. initializers are only activated on deployment create operations. Not on update. If I understood the istio 0.5 documentation right, it should be solved in the latest version.

I guess as of now, we can close the ticket.

[2018-02-13 12:26] swaroop-iquanti opened #590 "Python 3.6 runtime raising relative import error for multi-file python kubeless function through zip file"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
Tried to deploy multi file python serverless function on python 3.6 runtime. Organized my code into a handler file and a utils file in the parent directory. Deployed the kubeless function onto minikube kubernetes cluster on my workstation. Which ever configuration I tried with the packaging of the serverless function fold

[2018-02-13 14:59] patrickstjohn commented on #578
@sebgoa Thanks, we don't leverage RBAC in our system so I took that out and deployment worked fine with the YAML updated for internal private registry and the new Docker images. CRD looks like it changed from functions.k8s.io to functions.kubeless.io in this latest version so the kubeless binary I have from v0.3.4 can't find the crd to interact. I get the following error:

`
FATA[0000] the server

[2018-02-13 15:03] sebgoa commented on #578
0.4.0 was just released, so you can use the official release now

[2018-02-13 15:05] andresmgot commented on #590
I am able to reproduce the issue. You can obtain the same error when executing python locally:
[code]
We should revisit the way in which we call the Python wrapper but in the meantime you can try adding the function directory to the `sys.path` module:
[code]

[2018-02-13 18:03] patrickstjohn commented on #578
Thanks for pushing out the release. Function deploy has the same error on initialization:

`
Failed to pull image "kubeless/unzip@sha256:f162c062973cca05459834de6ed14c039d45df8cdb76097f50b028a1621b3697": rpc error: code = Unknown desc = Error response from daemon
`

That does not appear to be in the deployment YAML configuration.

[2018-02-13 22:05] sebgoa commented on #578
@andresmgot will know since he implemented the zip feature

[2018-02-14 05:02] swaroop-iquanti commented on #590
Thanks @andresmgot
This solution works

[2018-02-14 12:56] andresmgot commented on #578
That's true, we haven't include that image in the kubeless configuration yet so if your cluster doesn't have access to the dockerhub it will still fail at that point. We should move that image reference to the `kubeless-config` and remove the hardcoded reference.

[2018-02-14 16:43] ngtuna opened #593 "investigate capability of extending `kubeless topic` command"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

**What happened**:

`kubeless topic` command is now specified to kafka-zookeeper setup and bitnami/kafka image. We would like to extend this command to use with other kafka setup, following up with the work has done for this issue #196 at PR #591 .

cc @solsson, how is kafka deployed on your environment ?

**What you expected to happen

[2018-02-14 19:06] solsson commented on #593
We've mostly used a `Job` that runs the same command [you do](https://github.com/kubeless/kubeless/blob/v0.4.0/cmd/kubeless/topic/topicCreate.go#L61), for example: https://github.com/Yolean/kubernetes-kafka/blob/v3.0.1/kafka/test/kafkacat.yml#L66

I'd recommend against executing this in a broker pod, see https://github.com/Yolean/kubernetes-kafka/issues/144#issuecomment-363205215.

Now that I look

[2018-02-15 09:03] murali-reddy commented on #589
Closing the issue. Please reopen is there is anything missing from Kubeless side.

[2018-02-15 09:03] #589 closed

[2018-02-15 09:05] murali-reddy commented on #588
Please try new [release](https://github.com/kubeless/kubeless/releases/tag/v0.4.0). You should see it working.

[2018-02-15 09:05] #588 closed

[2018-02-15 09:10] murali-reddy commented on #554
Closing the issue, since desired functionality is already added in #575

[2018-02-15 09:10] #554 closed

[2018-02-16 08:58] arapulido opened #594 "Documentation on how to debug a function locally"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Documentation request :)

**What happened**:

It would be good to have some documentation on how to debug a function locally, so people don't have to deploy the function to test it

[2018-02-16 11:33] alexellis commented on #169
+1 for Go support.

[2018-02-16 11:37] alexellis commented on #169
When you guys do this I'd be interested to see how you handle the GOPATH and whether that can support sub-modules too (like importing a sub-folder). If you want to compare notes maybe we can collaborate around it.

[2018-02-16 13:43] ilovezfs opened #595 "0.4.0 fails to pass Homebrew's test block"
**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG REPORT. We need the test to pass in order to upgrade the formula.

**What happened**:

kubeless 0.4.0 failed CI.

[code]

**What you expected to happen**:
The test block to pass.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

The test block runs
[code]

**Environment**:
- Kubernetes

[2018-02-16 14:02] arapulido commented on #595
@ilovezfs thanks for reporting! We will try to fix it asap, and will create a PR to fix the tests if needed

[2018-02-16 14:04] ilovezfs commented on #595
Thanks @arapulido!

[2018-02-16 17:11] sebgoa commented on #169
will do

[2018-02-17 15:53] ngtuna commented on #595
@ilovezfs Thanks for the reporting. I detected the problem of that PR. The new version of kubeless requires an object called `kubeless-config` configmap exists in the mock kubernetes system in order to deploy the test function. I am looking for a way to add that object. Once it's done, the test will pass. If there is no way to add it, we have to find another way to test the kubeless binary. cc/ @a

[2018-02-19 14:58] andresmgot commented on #595
@ilovezfs I fixed the issue on https://github.com/Homebrew/homebrew-core/pull/24303

[2018-02-20 20:47] white-cloud commented on #361
Hello

Please i'm trying to configure my kubernetes cluster to have the autoscaling to use kubeless , i followed the tutorials but it doens't work for me , i can't see the autoscaling/v2alpha1when executing the command kubectl api-versions any suggestions please??

[2018-02-20 20:53] sebgoa commented on #361
What version of kubernetes are you using and how did you deploy it ?

[2018-02-20 21:28] sebgoa opened #598 "document how to specify custom runtime in function object"
**Is this a BUG REPORT or FEATURE REQUEST?**:

bug report

**What happened**:

I tried to run my sqs tweet example which uses a function object in yaml and a custom runtime. The function got deployed but using the standard `kubeless/python` runtime and not my `kubeless/sqs-python` one.

**What you expected to happen**:

I expected the created pod to use `kubeless/sqs-python`

**How to reproduce it

[2018-02-21 07:41] tapanhalani opened #599 "Kubeless function pods deleted periodically , and new pods started automatically"
**Is this a BUG REPORT or FEATURE REQUEST?**:Not sure ( maybe some config i missed)

**What happened**: Kubeless function pods are getting automatically deleted periodically, and new pods are booted up. This happens while the previous pod is executing a scheduled function, which causes the ongoing function execution to stop, and get restarted on the newly created pod after it is ready and availabl

[2018-02-21 07:47] white-cloud commented on #361
I'm using kubernetes 1.9 i deploy it with kubeadm and each time i do the steps to have the autoscaling when i list down the api version i can see only autoscaling/v1 and autoscaling/v2beta1.

[2018-02-21 08:19] andresmgot commented on #598
@sebgoa we changed the function spec to include a `Deployment` definition instead of the previous pod template (It is in the [release notes](https://github.com/kubeless/kubeless/releases/tag/v0.4.0)):

[code]

[2018-02-21 08:24] andresmgot opened #600 "Update chart spec"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Feature request

**What happened**:

Helm chart at https://github.com/kubeless/kubeless/tree/master/chart is outdated. We should make it compatible with 0.4.0 and include it in the release workflow. If possible automate the process.

[2018-02-21 10:06] joek commented on #599
Hi @tapanhalani ,
this is an issue with kubernetes. As far as I understood my co-workers it should be fixed with k8s version >1.8.6 (@sayanh @rakesh-garimella ). The problem is, kubernetes is republishing some events vor some reason, which is triggering kubless controller to update the deployment.

[2018-02-21 10:10] joek commented on #158
A benefit of @allantargino solution is, the function startup might be faster, as the images are stored in a local registry and security guys might feel more comfortable.

[2018-02-21 10:17] andresmgot commented on #361
@white-cloud we still don't provide support for Kubernetes 1.9, the current supported versions are 1.7 and 1.8. Since now the default GKE is 1.8 we will probably move soon to support 1.8 and 1.9.

[2018-02-21 10:29] andresmgot opened #601 "Add Openshift end-to-end tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Feature request

**What you expected to happen**:

To avoid regressions in Openshift we should enable a parallel build in Travis for this platform.

[2018-02-21 10:34] andresmgot commented on #158
yes, we plan to start working on this soon

[2018-02-21 10:53] white-cloud commented on #361
@andresmgot   so please in this case what do you suggest for me because i really need it ..??

[2018-02-21 11:07] andresmgot commented on #361
@white-cloud you can still create autoscale rules directly using `kubectl`. For example `kubectl autoscale deployment get-python --min=2 --max=5 --cpu-percent=80` would create an autoscale rule for the function `get-python`.

[2018-02-21 11:09] white-cloud commented on #361
You think that would work ? so i wont use the step mentioned in the kubeless tuto i can only use this command directly  ? @andresmgot

[2018-02-21 11:45] andresmgot commented on #361
Yes, the output should be the same. AFAIK the only difference will be that for cleaning up you need to manually delete the autoscale rule. In any case note that the guide was written for Kubernetes 1.7 so it may require to be updated.

[2018-02-21 11:54] white-cloud commented on #361
i will try it and let you know ; thank you for your answer .

[2018-02-21 15:20] andresmgot commented on #525
I am going to close this issue since the latest version of serverless has the latest version of the plugin encoded. Let us know if you still find any issue.

[2018-02-21 15:20] #525 closed

[2018-02-21 15:22] andresmgot commented on #571
I am closing this issue, let us know if you still find any trouble with your deployment.

[2018-02-21 15:22] #571 closed

[2018-02-21 16:54] andresmgot commented on #599
I agree with @joek, I tried it with Kubernetes 1.8.0 (Minikube 0.24.1) and the pods get restarted after a few minutes as you see but it doesn't happen in Kubernetes 1.7.12 nor v1.8.7 (both GKE) or Kubernetes 1.9.0 (Minikube 0.25.0)

[2018-02-21 17:46] sebgoa commented on #599
@joek did you track it down to a filed issue in k8s upstream ? we should link the issue to it

[2018-02-21 17:51] sebgoa commented on #598
yes I figured it out, but we need to update the custom runtime docs.

[2018-02-22 00:45] sebgoa commented on #464
let's close for now, the chart got updated. if needed please re-open

[2018-02-22 00:45] #464 closed

[2018-02-22 00:47] sebgoa opened #605 "check that auto-scaling based on cpu needs a default cpu requests"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

autoscaling based on cpu does not work allegedly because there is no default cpu request in the function object

heapster does not collect metrics

**What you expected to happen**:

metrics to be collected, hpa to work

**How to reproduce it (as minimally and precisely as possible)**:

check https://kubernetes.io/docs/tasks/run-app

[2018-02-22 01:15] SomeoneWeird commented on #605
Can confirm that CPU-based autoscaling does not work without some manual changes. HPA requires CPU limits set on pods to start collecting metrics, and there is no option to do that with kubeless. You *can* set memory limits though, with the `--memory` option in `function deploy`.

Before:

[code]

After:

[code]

Please note the change `<unknown>` -> `0%`.

Do manually change this, you need to edi

[2018-02-22 04:15] ngtuna commented on #605
Follow up the quick discussion on slack, I suggest we go this way:

- introduce `--cpu` flag in the CLI to configure the cpu limit for function. There is no default setting if user doesn't want to use it.
- update autoscaling document with a section of "how to configure autoscaling for cpu-based function"
- update `autoscale create` to check the existence of cpu limit of function if user specifies

[2018-02-22 04:45] SomeoneWeird commented on #605
I'd recommend failing, rather than just printing a warning. It's quite possible somebody will call `autoscale create`, then check `autoscale list` to see if it was created, if you only warn then it will be in the list and they might presume that it will work.

[2018-02-22 07:25] ngtuna commented on #605
@SomeoneWeird sure. That's what I meant. Not just warning :-)

[2018-02-22 08:55] #600 closed

[2018-02-22 09:30] andresmgot commented on #598
mm, AFAIK that is not documented. I guess we need a proper section to explain how to deploy functions with a YAML?

[2018-02-22 14:42] sebgoa commented on #598
yes we do

[2018-02-22 15:34] arapulido commented on #587
Closing, as this was already merged

[2018-02-22 15:34] #587 closed

[2018-02-22 17:12] white-cloud commented on #493
Hello,

i tried another time to configure the autoscaling , i installed kubernetes 1.7 .
here is the output of the api-versions command :

admissionregistration.k8s.io/v1alpha1
apiextensions.k8s.io/v1beta1
apiregistration.k8s.io/v1beta1
apps/v1beta1
authentication.k8s.io/v1
authentication.k8s.io/v1beta1
authorization.k8s.io/v1
authorization.k8s.io/v1beta1
autoscaling/v1
autoscaling/v2alpha1
batch/

[2018-02-23 06:38] ngtuna commented on #493
Hi @white-cloud , what happens when you run this command:

[code]

[2018-02-23 14:24] ilovezfs commented on #595
Closed via https://github.com/Homebrew/homebrew-core/pull/24303.

[2018-02-23 14:24] #595 closed

[2018-02-23 14:24] ilovezfs commented on #595
Thanks @andresmgot!

[2018-02-26 10:14] tapanhalani opened #608 "scheduled function trigger fires every 2 mins, if it does not get a response."
**Is this a BUG REPORT or FEATURE REQUEST?**: Not sure (might be some config i missed)

**What happened**: The cronjob triggering the scheduled function every 5 min, waits for 2 minutes for a response from http://<service-name-of-function>.default.svc.cluster.local:8080. If the response takes more time that that, a new trigger is fired immediately in the cronjob. I have set --timeout=180, so I exp

[2018-02-26 13:28] sayanh opened #609 "Get kubless namespace from CRD Information"
**Feature**: Kubeless CLI fetches namespace and name of kubeless configmap information from functions.kubeless.io. This removes the hassle for the user from adding environment variables `KUBELESS-CONFIG` and `KUBELESS-NAMESPACE` to get the Kubeless CLI working(for runtimes) if `kubeless-config` has a different name and kubeless controller is installed in a namespace which is not `kubeless`

**Impl

[2018-02-26 14:01] joek commented on #609
@andresmgot as you raised the topic, are you ok with this approach?

[2018-02-26 15:04] andresmgot commented on #609
Could you explain the use case? why setting the env var `KUBELESS_NAMESPACE` is not enough?

If this is because the command `deploy` and `update` fails if that env var is not set I would rather remove that early check that requires to retrieve the config (since the error that the controller returns is pretty self-explanatory):

[code]

In any case, if we want to use annotations for this the format

[2018-02-26 16:26] andresmgot commented on #608
Hi @tapanhalani,

I am not able to reproduce your issue, I am seeing that the pod generated by the job remains waiting for a response at least 3 minutes:

[code]

What is the output of the pod that gets generated in your case? You can locate the pod that is running the `curl` executing `kubectl get pods -a`. It should be named `trigger-<your-function-name>-XYZ`

Also, are your jobs being terminate

[2018-02-27 07:42] tapanhalani commented on #608
Basically the problem is not necessarily function failure, but the jobs are not following the schedule . Say a function is completing successfully in 2 min, and is scheduled every 5 min, then in my case, after completing at 2 min, it will not wait , and immediately fires a new trigger, with the previous trigger pod showing "Terminated with error" and the error log as shown below.

The output of po

[2018-02-27 08:38] joek commented on #609
Hi @andresmgot I agree to your point and removing the check is the most straight forward way to do it. I am just wondering, how we could expose information about the capabilities of kubless to the end-user. Hardcoding everything might not be the way to do it. At least as the refactoring of runtimes and triggers allows us to put much more custom solutions in place. E.g. uncommon runtimes, project s

[2018-02-27 08:42] joek commented on #599
@sebgoa nope, I just used some information @rakesh-garimella and @sayanh figured out. Maybe they got more information.

[2018-02-27 08:53] andresmgot commented on #608
So apparently this is not a problem with the timeout but with the function not returning a response (probably due to an error during the function execution). When a job fails, the default behavior is to retry it until it reaches the maximum timeout (set by the `--timeout` flag) that's why you are seeing a new job being triggered.

Does the function log shows any information? (You can retrieve it e

[2018-02-27 09:06] andresmgot commented on #609
Yes, for the case of `get-server-config` I think we can provide all that information. That command requires to have read access to the Kubeless ConfigMap. In any case, regarding security, I think it is fine to allow access to that ConfigMap since it does not contain critical data, only public information.

[2018-02-27 09:23] joek commented on #609
maybe we could think of a kind of hierarchy like:
1. ENV Variable (Config File)
2. Fallback to CRD Annotation
3. Fallback to Hardcoded default

Our goal is, to not force the user to configure anything except of the kube config file. Because this will make it pretty easy for them. With the proposed approach, we still get the possibility to have multiple installations per cluster but can provide a g

[2018-02-27 10:39] murali-reddy commented on #609
Correct me if I am wrong, all this is just to get client side validation? Why not just hardcode it in the Kubeless client?

[2018-02-27 10:47] joek commented on #609
Actually, it is not only validation, this is something we could remove. It is about making the capabilites of the installation available to the user (using the ```kubeless get-server-config``` command) . E.g. in our case, we will start supporting nodejs only, as we will not provide integration libs for other languages in the first release and as soon as we build the needed integrations extend the

[2018-02-28 07:18] murali-reddy opened #611 "Should there be a default CPU/Memory limits for the function deployments?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Feature request.

**What happened**:

Opening an issue as follow up to the discussion in #606. By default deployment used for function has no upper limit of CPU and memory. It would be ideal to put uppercap on the resources?

This should prevent rogue function to hog memory resources for e.g. which eventually may leading node not available.

**What yo

[2018-02-28 07:54] murali-reddy commented on #609
Agree. Its useful to have capabilities/enabled functionality like runtime, event sources etc availble to the user. Ideally a CRD or extension API would have been better, at this point it just too heavy for the purpose. Annotation approach should be okay (as it has no impact to server side functionality),  its just meta data.

[2018-02-28 08:16] meysam001 opened #612 "Error in kubeless installation"
Hello
I am tryng to install Kubeless on Kubernetes.  When I ran `kubectl get pods -n kubeless` , I gave this output:
[code]
I waited some minutes and ran it again but status won't change.
How can I fixed it and install Kubeless?

[2018-02-28 08:29] murali-reddy commented on #612
@meysam001 could you please use Kubernetes troubleshooting [guidline](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-application/#my-pod-stays-pending) to figure why pods are stuck in pending state.

[2018-02-28 08:57] meysam001 commented on #612
@murali-reddy what part of that exactly I run? it seems that everything is ok.
I installed Kubernetes 1.9 with Weave Net for pod network. output of `kubectl get pods -n kube-system -o wide` is:
[code]

[2018-02-28 09:08] murali-reddy commented on #612
Please try `kubectl describe  pod kubeless-controller-b54bc9db6-fl276 -n kubeless`

[2018-02-28 09:23] meysam001 commented on #612
[code]
(The name had changed because I reinstalled it.)

[2018-02-28 09:45] murali-reddy commented on #612
[code]
Your node is not ready for some reason or pod can not be scheduled. Please check.

[2018-02-28 10:13] sayanh commented on #609
@murali-reddy @andresmgot @joek So to summarise, would you be OK with the following annotations in the CRD?
[code]
And the fallback to defaults remain which are:
[code]
If none works, we stick with the existing error,

[2018-02-28 10:41] meysam001 commented on #612
@murali-reddy
How can I check it?

The Kubernetes document said when pod stays waiting:

- You don’t have enough resources....
- You are using hostPort........

I checked both of them and There are no problem.

[2018-02-28 11:18] sebgoa commented on #612
Can you try to start a simple pod, do:

[code]

Then run `kubectl get pods` and see if the nginx pod gets running. If it stays pending then the problem is not kubeless specific and you need to figure out why your pods don't get scheduled. From the `kubectl describe` you ran above it seems that you have some taint on your nodes and the Pods would need to have a toleration.

[2018-02-28 11:32] murali-reddy commented on #612
My guess,  its only only node running in the cluster and master may be tainted with `NoSchedule`

[2018-02-28 13:58] meysam001 commented on #612
I tried to start  `nginx` , it stayed pending  like `kubeless`.

I have only a master node and it has 4 GB of RAM and 2 core of CPU. Does it have enough resource?

I will reinstall OS in server and will try to do everything first.

[2018-03-01 08:42] andresmgot commented on #609
Okay, let's go with that

[2018-03-01 10:30] sebgoa commented on #612
So it is not a kubeless problem since you cannot start a regular nginx container with `kubectl run`.

Check out taint and tolerations here https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

My guess is that you have an existing taint on your master. You need to remove that taint.

Just as a tip I would do `kubectl edit nodes <nodename>` and remove the taint section from the y

[2018-03-01 13:53] white-cloud commented on #283
Hello,

Please i'm trying to nexecute this nodejs function in kubeless but it is not working.

'use strict';

const rp = require('request-promise-native');

module.exports = async function (context) {
    const stringBody = JSON.stringify(context.request.body);
    const body = JSON.parse(stringBody);
    const location = body.location;

    if (!location) {
        return {
            status: 40

[2018-03-01 14:01] sebgoa commented on #283
that's one for @andresmgot he is our node expert

[2018-03-01 14:12] sebgoa commented on #283
@white-cloud actually, did you create a `package.json` file which defines `request-promise-native` as a dependency ?

[2018-03-01 14:53] sunilkumarmohanty opened #614 "Kafka and zoo stuck in Init:0/1 state"
**Is this a BUG REPORT or FEATURE REQUEST?**:
This is a question. I am sure it is not a bug.

**What happened**:
Kafka and zookeeper pods are stuck in init stage.
On running `kubectl describe pods zoo-0 -n kubeless`, I get the below error message

`Unable to mount volumes for pod "zoo-0_kubeless(c256da45-1d5f-11e8-a21a-02ed99f03e73)": timeout expired waiting for volumes to attach/mount for pod "ku

[2018-03-01 14:55] sebgoa commented on #614
Do you have persistent volumes provisioned ?

usually this type of error is due to the lack of available PV to match the PVC that the kafka and zookeeper need.

but even with those not starting, do note that kubeless http triggers already work because they don't use kafka.

[2018-03-01 15:08] sunilkumarmohanty commented on #614
Hi Seboga,

No; I did not create the PV. This is a stupid mistake. Let me work on it and get back.

[2018-03-01 16:14] white-cloud commented on #283
@sebgoa  yes  and the pod wasn't running in the crash stat i really don't know why ? however the code worked when i used it in fission .

[2018-03-01 16:27] white-cloud commented on #283
Hello @andresmgot

 any suggestions please??

[2018-03-01 17:18] andresmgot commented on #283
so the format of fission functions is different than the one used in kubeless. This won't work for several reasons:

 - The file doesn't export a function name, just a function
 - The parameters are different, instead of `context` we provide `req, res` to handle the `request` and `response` objects
 - The returned value is not used as a JSON response in case of error
 - I have never tried the asyn

[2018-03-01 17:25] white-cloud commented on #283
Thank you for your responce @andresmgot  i tried the examples of the kubeless nodejs , but for  this code i don't know how to make it adapt to the kubeless framework , anyhelp please ?

[2018-03-01 17:27] white-cloud commented on #283
module.exports = {
    handler:  (req,res) => {
    const stringBody = JSON.stringify(req.body);
    const body = JSON.parse(stringBody);
    const location = body.location;

    if (!location) {
        return {
            status: 400,
            body: {
                text: 'You must provide a location.'
            }
        };
    }

    try {
        const res = rp(`https://query.yahooapis

[2018-03-02 06:12] murali-reddy commented on #611
https://docs.aws.amazon.com/lambda/latest/dg/limits.html

[2018-03-02 06:30] Benco1 opened #615 "Question: Means of loading function's dependency data into memory"
What are best options for making some static, in-memory data available to a function?

Let's assume:

1) the data is known and available at/prior-to the time of function deploy
2) data is too large and/or undesirable to hardcode into the function itself
3) solution should not require db query external to the pod

E.g., http endpoint triggers a Python function that does some in-memory lookup and re

[2018-03-02 07:35] murali-reddy commented on #615
In-memory?  You mean from the handler that is invoking the functions? or you want share data across the function invocation.

In general pod's running the functions are ephermal and function it self is assumed to be stateless, persisting data externall.

It might help to know the use-case. Is it a static data? Some thing can be made avaialble as configmap or volume.

You can control/specify the de

[2018-03-02 10:44] andresmgot commented on #283
@white-cloud It is actually a common example and we didn't have anything similar available so I created https://github.com/kubeless/functions/pull/18. Hope it helps!

[2018-03-02 11:00] white-cloud commented on #283
@andresmgot Thank you so much , i will try it and let you know , just before trying i wanna ask about which version of kubeless to use , because currently i'm using the release RELEASE=v0.2.4 . i hope the code will work in my version .

Thank you again .

[2018-03-02 11:07] andresmgot commented on #283
I tried the function with the latest version v0.4.0 since it's the only one that we are currently maintaining. I recommend you to upgrade your kubeless installation if possible to get the latest bug fixes.

[2018-03-02 11:10] white-cloud commented on #283
Actually i was trying the others release but always i had issues and errors with the kafka and the zoo containers so i used that version 0.2.4 and i created a PVC  volume to have the kafka pod running.

[2018-03-03 12:53] meysam001 commented on #612
I rebuilded  everything on my server and could install it finally.

I created a function that was in example and it work well:
[code]
But when I ran `kubectl get pods -n kubeless` , I got this output:
[code]
Is Kubeless installed well ? Is there any wrong?

[2018-03-03 13:22] meysam001 opened #617 "How to add PHP Runtime"
**Is this a BUG REPORT or FEATURE REQUEST?**:
This is a question. I am sure it's not a bug.

**What happened**:
I tried to create a function with php runtime. when i ran:
[code]
I gave this error:
[code]

**What you expected to happen**:
I expected that adding php runtime was easier. I looked up the document and didn't find a clearly way to adding php runtime.

**How to reproduce it (as minimally

[2018-03-04 04:46] Benco1 commented on #615
@murali-reddy Thanks for your reply. Here's a bit more to help clarify:

A little unclear on what you mean by "from the handler". The data would just need to be loaded into memory and available to the function as if it were a global var.

Yep, it's static data. Read only. Everything can be considered stateless.

Furthermore, say the data normally takes 20 seconds to load (maybe typically done on s

[2018-03-05 04:54] murali-reddy commented on #615
How do you envision this data to be available to the function code? Like a global variable that can be accessed, or param to the function?

Like i mentioned earlier, since you can control the deployment spec used for pod, you have all means Kubernetes gives to [inject data](https://kubernetes.io/docs/tasks/inject-data-application/podpreset/) into pod's.

If those approaches does not work, then you

[2018-03-05 04:58] murali-reddy commented on #612
@meysam001 please see https://github.com/kubeless/kubeless/issues/614 also see the requirements for using pubsub functionality http://kubeless.io/docs/quick-start/

[2018-03-05 05:15] murali-reddy commented on #617
@meysam001 whay version of Kubeless you are using? PHP support functionality is present only in master, and not released yet.

[2018-03-05 06:14] meysam001 commented on #617
@murali-reddy
`Kubeless version: v0.4.0 (4f4f531f)`
When will it release do you think?

[2018-03-05 06:18] meysam001 commented on #612
@murali-reddy ok. So I close this issue and I will follow that issue

[2018-03-05 06:18] #612 closed

[2018-03-05 06:23] meysam001 commented on #614
@sunilkumarmohanty I have same problem. Can you solved it?

[2018-03-05 07:11] sebgoa commented on #614
@meysam001 you need to have some Persistentvolumes created before so that the PVC for Kafka and Zookeeper can be "met". If you don't want to create PVs, you can use a cluster with dynamic storage provisioning.

Note that even though the two pods are not yet in running state, http triggers do work already.

[2018-03-05 12:01] meysam001 opened #618 "Are there any API to get resource usage?"
Hello
**Is this a BUG REPORT or FEATURE REQUEST?**:
I'm sure it's not a bug. Just I have a question.

**What happened**:
I'm trying to get resource usage via API.
Are there any API to get resource usage?

**What you expected to happen**:
There were not any document about API in Kebeless website ( Or I couldn't find anything ).

**How to reproduce it (as minimally and precisely as possible)**:

**A

[2018-03-05 13:39] murali-reddy commented on #617
No specific timeline, but we might do a release in next 1-2 weeks once ongoing development features land in to master.

[2018-03-05 13:44] murali-reddy commented on #618
Kubeless does not explicitly provide any API for resource usage. But just like any other workloads you can use common tools like heapster etc to gather resource usage.

[2018-03-05 18:55] andresmgot commented on #615
To complete @murali-reddy comment, note that you can include code outside the function that will be executed just one time whenever the function is loaded. So for the function:

[code]

The statement `MY_ENV_VAR = ENV['MY_ENV_VAR']` will be executed just once (not every time the function is executed)

[2018-03-05 19:44] Benco1 commented on #615
Thanks, @andresmgot! It took me a little while, but I did come to this same (critical!) realization last night while playing around with Kubeless. For whatever reason, initially, I was thinking that the module from which the handle function is taken would be either lost during some parsing step (i.e., only handle and it's function scope would exist inside Kubeless function). Thankfully that's not

[2018-03-06 07:00] #617 closed

[2018-03-07 07:25] sunilkumarmohanty commented on #614
@meysam001 : I solved the issue using glusterfs. Below links might help
https://github.com/heketi/heketi/blob/master/docs/admin/install-kubernetes.md
https://blog.lwolf.org/post/how-i-deployed-glusterfs-cluster-to-kubernetes/

[2018-03-07 09:24] meysam001 commented on #618
I have installed heapster but I don't know how to get Kubeless API via heapster . For example, I get CPU limit with this format: `http://localhost:8001/api/v1/proxy/namespaces/kube-system/services/heapster/api/v1/model/metrics/cpu/limit` for _heapster_ service in _kube-system_ namesapce.

I tried this  `http://localhost:8001/api/v1/proxy/namespaces/default/services/get-python/api/v1/model/metrics`

[2018-03-07 09:30] sebgoa commented on #618
A working heapster installation will collect cpu and memory usage of your Kubernetes pods. You will be able to check the resource usage with `kubectl top pods` command. If you run a kubeless function, you can check the resource usage of the pod where the function is running.

A service object does not use resources, so there is not metrics to see there.

what are you really trying to do ?

[2018-03-07 09:54] #614 closed

[2018-03-07 10:19] meysam001 commented on #618
@sebgoa thank you for your answer. I'm trying to get resource usage via API and  I'd like to get all resource usage of namespaces via API. Actually a custom web panel will be designed that will be connected to Kubernetes web API. I'd like only a web api to get resource usage for my web panel.

Sorry my English isn't good . I hope you understood my meaning.

[2018-03-07 12:38] sebgoa commented on #618
sounds like a Kubernetes dashboard issue, not a kubeless issue.

[2018-03-07 12:52] meysam001 commented on #618
Yes it's true. Please advice me about it. I will close the issue.

[2018-03-07 14:11] meysam001 commented on #618
I found the problem.  For get resource usage via API use server-metric `https://github.com/kubernetes-incubator/metrics-server`

[2018-03-07 14:11] #618 closed

[2018-03-08 08:04] hwa123 opened #622 "python KafkaProducer unable to send message"
I'm following the similar steps as mentioned in https://github.com/kubeless/kubeless/issues/334, but runtime is python2.7. The issue is that kafkaProducer is unable to send message, it halts at waking up the sender here is screenshot of debug log.

[code]
Then it will get a timeout message afterwards.
The configs for KafkaProducer and actual codes for sending messges are:

[code]

The code is part

[2018-03-08 10:24] sayanh opened #623 "Prevent function downtime"
**FEATURE**: Prevent function downtime when the following happens:
- Controller restarts
- Function update

[2018-03-08 10:29] sayanh commented on #623
**Partial solution**
Leveraging HTTP **PATCH** method with **Strategic Merge** for updating deployment, we have the following results for RollingUpdateStrategy with 2 replicas of the function which can surge till 4 replicas:

This mechanism solves the function downtime problem partially.
- **Case 1**: When controller is restarted
Result: Works

- **Case 2**: When function is updated
Various kinds

[2018-03-08 12:36] sayanh commented on #623
It turns out that the configmaps used for function may go away with this [PR](https://github.com/kubeless/kubeless/pull/621)
As I understand it right now, configmaps will only be used for building a function image. So if a function changes, ideally the image changes as well. And rolling update with a new image is already seen to be working. IMO it is better to wait until the PR gets through. Then

[2018-03-09 08:14] murali-reddy commented on #622
@hwa123 you might get correct and quicker answer if you raise issue in https://github.com/dpkp/kafka-python why producer is unable to send message.

you could also try `kubeless topic publish` to see you are able to publish message to `next_function_topic` to verify/troubleshoot.

[2018-03-10 21:50] csakshaug commented on #169
+1 for Go support.

[2018-03-11 09:08] sebgoa commented on #169
this is coming with the beginning here https://github.com/kubeless/kubeless/pull/621

[2018-03-12 03:47] hwa123 commented on #622
@murali-reddy Yes, I was able to publish message to topics using commands. I am raising same issue there hopefully to get a more reliable answer.

[2018-03-12 03:47] #622 closed

[2018-03-13 06:10] tylerauerbeck commented on #601
@andresmgot Has anyone started looking at this yet? I'm assuming the approach would be similar to the minikube use case in that you would want to spin up minishift for running tests? If that's the case I see that the current default is using minikube 0.24.1 and k8s 1.8. Since minishift/openshift _skipped_ the 1.8 release, would there be issues with running the tests at the k8s 1.7.X/openshift 3.7.

[2018-03-13 08:22] andresmgot commented on #601
hi @tylerauerbeck, we haven't started the work in this front yet. You are right, the idea is setup minishift for running the same tests than minikube or GKE. Right now the versions supported are 1.7 (that we test with minikube) and the version 1.8 (that we test in GKE) so yes, for the moment we could test openshift for 1.7. Also note that our plan is to upgrade the supported versions to 1.8 and 1.

[2018-03-13 08:57] sayanh opened #627 "Refactor k8sutil.go and kubelessutil.go"
Right now, `k8sutil.go` is huge and contain non k8s specific utility method like `splitHandler()`
IMO kubelessutil should take of these rather than k8sutil.

[2018-03-13 10:36] #609 closed

[2018-03-13 16:04] white-cloud commented on #178
Hello @ngtuna @sebgoa  I want to ask you please about the cold start of the kubeless function , i'm having the pod function always in running stat so there is no terminating stat after finishing the execution ? if i try to execute the function each 3 min forexample ?

[2018-03-13 22:56] arjunrao87 opened #631 "No logs for init container - nodejs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug report

**What happened**:
Unable to see logs of init containers of deployed functions

**What you expected to happen**:
I submitted a nodejs function with dependencies and its getting stuck in the init container phase. However I am unable to see the logs for the init containers for the deployed function. There is no response received for seeing lo

[2018-03-14 09:08] andresmgot commented on #631
hi @arjunrao87,

the piece of information that will reveal more info is when doing `kubectl describe pod elastic-writer-function-...`, at the end of the output, in the section `Events:` what are the last events? should be something like:

[code]

Apart from that, does the command `kubectl logs elastic-writer-... -c install` returns an empty output? If that is the case it could be because the pod h

[2018-03-14 11:06] andresmgot commented on #178
Hi @white-cloud, that's correct, right now we don't scale down to 0 pods unused functions which means that the function is always running.

[2018-03-14 11:34] arapulido commented on #601
@tylerauerbeck By the way, contributions are more than welcome. If you want to give it a try, we can help you along the way.

[2018-03-14 17:35] cscheiber opened #632 "nodejs runtime: runtime internal data visible in sandbox, code concatenated in kubless.js"
Proposal for improvement of the nodejs runtime:
- avoid global vars to be visible in sandbox (_req, _res, _handleError)
- avoid also global vars 'event' and 'context', provide it as function parameters only
- avoid concatenation of callingCode (code is provided as string) and function code.

Prerequisite:
- the module dependency between `kubeless.js` and the function-file would need to be changed,

[2018-03-15 09:05] andresmgot commented on #632
Thank you @cscheiber for submitting this issue and the PR!

The improvements seems to worth the change in the function signature. My only concern for the moment is that we lose the ability to export several functions for the same file and that the parameter `FUNC_HANDLER ` is ignored. Let me do some further testing and I will come back with more feedback.

[2018-03-16 15:37] cscheiber commented on #632
Finally, there is now one generated line of 'calling code' added at the end of the main file:
'require('kubeless')(module.exports);`

[2018-03-16 17:07] daverick opened #634 "Python funcions do not work since kubernetes 1.9.4, Init container fail"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug report
**What happened**:
when testing a simple Python  function, the Init container of the created pod failed with the message:
`sh: can’t create /src/post.py.sha256: Read-only file system`
when the pod was scheduled on a node with Kubernetes 1.9.4 .
when the pod was scheduled on a node with Kubernetes 1.9.3 it works correctly
**What you expected

[2018-03-16 17:31] andresmgot commented on #634
Hi @daverick,

Could you provide more information about the error you are receiving? I have tested a python function with dependencies with minikube 0.25.0 (which uses Kubernetes v1.9.0) and it deployed the function successfully. What are the logs of the init container that is failing for you? You can retrieve them executing:

[code]

Also `kubectl describe <YOUR_FUNCTION_POD>` can provide some ad

[2018-03-16 17:49] daverick commented on #634
Hi @andresmgot,

The log from the Init container is
`sh: can’t create /src/post.py.sha256: Read-only file system`

The problem occurs  only with Kubernetes 1.9.4 not with previous version (or at least not with 1.9.3 the version of my other node).
When I try to found what was wrong with my configuration, replicating what the pod was doing I have found that config maps were mounted  read only, which

[2018-03-19 03:40] tylerauerbeck commented on #601
Thanks @andresmgot @arapulido I should have some time within the next few days to pull this together. I'll submit a PR when it's ready.

[2018-03-19 06:16] murali-reddy opened #635 "Securing functions with ingress + basic-auth"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Feature request.

**Description**:

Kubeless provides HTTP triggers through which function can be invoked over http. Kubeless also automates TLS and routing to function through use of Kubernetes ingress resources. However beyond routing if one wants basic authentication to invoke functions we need additional configuration of Kubernetes ingress provide

[2018-03-19 11:01] arapulido commented on #601
@tylerauerbeck Fantastic! Let us know if you need any help.

[2018-03-19 11:27] andresmgot commented on #634
Indeed, I am able to reproduce it using Kubernetes 1.9.4. I will submit a PR for fixing this.

[2018-03-19 14:16] #634 closed

[2018-03-19 14:17] andresmgot commented on #634
@daverick the fix has been merged. It will available in the next release of Kubeless. Thanks for reporting!

[2018-03-19 15:44] daverick commented on #634
@andresmgot, thanks!

[2018-03-19 16:33] pieperrier opened #637 "Docker image kubeless/python:3.6 corrupted"
Hello,

The "kubeless/python:3.6" docker image has been updated 4 days ago. A major version of kubeless http handler has been pushed (contract change). But code doesn't match with the repo master branch.  I didn't find a branch whitch match with docker code version.
Could you have a look on this issue ?
Thanks :)

Bellow, the http-handler in "kubeless/python:3.6" image

[code]

[2018-03-20 06:15] murali-reddy commented on #637
We have a WIP refactoring which changes the function contract. It's being done in `function-trigger-runtimes` branch. Not sure how the images got updated. PR is still not merged. @andresmgot did we update the images?

Please use the examples in the `function-trigger-runtimes` branch. They confirm to expected signature by the new handler.

https://github.com/kubeless/kubeless/blob/function-trigger-

[2018-03-20 08:20] andresmgot commented on #637
Hi @pieperrier, yes, we are working on updating those images with breaking changes. With each version, instead of using the branch tag, we specify the `sha256` of the images that should be used with that specific version, I recommend you to use the checksum as well. You can see the reference of the images in any YAML of the releases page. In the case of Python 3.6 you can still use the image:

[co

[2018-03-20 08:44] pieperrier commented on #637
Hi,

Thank you for your quick answer. Right now I'm working on a POC for a Rest API
 serverless with kubeless and I can tell you that your work is really great.
Keep it up!

[2018-03-20 08:44] #637 closed

[2018-03-21 09:46] tapanhalani commented on #608
The function log does not show any errors. I am doing res.end('Function completed successfully') at the end of the function. Also, I ran the "kubectl run" command and did the curl inside, with the same result "Empty reply from server". I am not sure what I might be doing wrong.

[2018-03-21 10:33] murali-reddy commented on #635
An exampe of how to use basic auth with Nginx ingress controller.

https://github.com/kubernetes/ingress-nginx/blob/master/docs/examples/auth/basic/README.md

[2018-03-22 06:27] Henrike42 opened #638 "missing path definition for ingress enabled http triggers"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Feature request

**What happened**:
At the moment the http trigger specification allows to specify:
* the host name
* the route name
* flag to specify if it is ingress enabled
* flag to specify if it is tls enabled
* function name being triggered

When an ingress is enabled the corresponding Kuberentes ingress artifact is created.
The host name of the

[2018-03-22 06:43] murali-reddy commented on #638
@Henrike42 thanks for the feedback. Yes, I think having a path certianly make sense. Please go ahead with pull request.

[2018-03-22 14:45] #638 closed

[2018-03-22 16:21] andresmgot opened #641 "Create function builder"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Feature request

**What happened**:

When deploying a function with dependencies, these dependencies are installed each time the function is deployed. This could be avoided if the dependencies are installed and the result is stored as an image.

Doing the above also provide reproducible builds and deployments.

[2018-03-22 16:26] andresmgot opened #642 "Provide a image registry in Kubeless or document how to use an external one"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Feature request

**What happened**:

When #641 is completed we need to provide a Docker registry within Kubeless so users doesn't need to rely in a external service to use the function building feature. Note that the goal of this issue is to provide a Docker registry for testing environments, it is out of the scope of this task to provide a Docker reg

[2018-03-22 22:49] gkarthiks commented on #634
@andresmgot  when is this getting released?

[2018-03-23 06:03] Henrike42 commented on #635
Hi Murali,

I had a look into the Nginx, Voyager and Traefik regarding basic authentication and tried to come up with a common definition as part of the kubeless http trigger.

[code]
The kubeless.io ingress.class is one of traefic, nginx, voyager or another supported option.
The basic authentication secret needs to be created outside of kubeless and must exist in the same namespace.

[2018-03-23 06:51] murali-reddy commented on #635
@Henrike42 thanks for working on adding basic auth support.

Shall we just keep it as list of annotations in the HTTP trigger spec? Since all are basically annotations at the moment (untill Kubernetes Ingress resource adds it in its spec). HTTP trigger controller just copies the list of annotations to created ingress resource object?

[code]
[code]

[2018-03-23 07:34] Henrike42 commented on #635
Hi Murali,
yes, that's even better. I thought there was a reason speaking against just passing the annotations. Maybe I misunderstood something in the TechCall yesterday.

Best Regards
Henrike

[2018-03-23 08:17] Henrike42 commented on #635
Hi Murali,
if you like to, I could make a pull request which adds annotations to the HTTP trigger generated ingress artifact.
Best Regards
Henrike

[2018-03-23 08:59] murali-reddy commented on #635
@Henrike42  Not really against, but it would have been ideal if internal details specific to Kubernetes ingress controllers are not exposed to functional developer/deployer. In the past we have had similar discussions in the end we ended up having deployment, service spec etc as part of Kubeless resource object specs. It does give the control and flexiblity to the users. In this case also we can n

[2018-03-23 09:35] murali-reddy opened #645 "Integrate with API Kong gateway"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Feature Request

**Description**:

As alternative to #635 (use of Kubernetes ingress + authentication mechanisams), an integration with API gateway is desirable. API gateway is microservice [pattern](https://www.nginx.com/blog/microservices-api-gateways-part-1-why-an-api-gateway/#WhyanAPIGateway) where API gateway handles all the cross-cutting concern

[2018-03-23 10:17] andresmgot commented on #634
@gkarthiks we plan to do a release next week, this new release will include a lot of changes so we are making sure everything is in order before we release.

[2018-03-23 12:37] andresmgot opened #647 "Update documentation for HPA with custom metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Documentation request

**What happened**:

With #646 we support Kubernetes 1.8 and 1.9 but our documentation for HPA with custom metrics references to Kubernetes 1.7. We need to update it and add a section for running it with GKE if possible.

[2018-03-26 09:19] murali-reddy opened #649 "TLS with existing certificates"
**Is this a BUG REPORT or FEATURE REQUEST?**:

FEATURE REQUEST

**Description**:

Kubeless [leverages](https://github.com/kubeless/kubeless/blob/master/docs/routing.md#enable-tls) kube-lego to provide TLS for functions.

Kubernetes ingress also lets you use existing certificates for TLS.

https://kubernetes.io/docs/concepts/services-networking/ingress/#tls

Provide an option for function user/kube

[2018-03-26 09:45] murali-reddy commented on #645
Kong has multiple authentication options that are good to inegrate with.

https://konghq.com/plugins/#authentication

[2018-03-27 04:33] sabrehagen commented on #402
For newbs running into this error it would definitely be helpful to have a section in the [troubleshooting](http://kubeless.io/docs/troubleshooting) section about this.

[2018-03-27 08:13] sebgoa commented on #402
@sabrehagen good idea. We should do that. Especially with the latest refactor, kakfa will actually be optional so we need to clarify all of this in the docs.

[2018-03-28 06:31] sabrehagen opened #655 "1mb etcd limit"
From the docs:

[code]

Is there a way to get around this limit? My functions are ~3MB compiled.

[2018-03-28 07:09] sebgoa commented on #655
let's check with @andresmgot for the exact limit of the zip archive.

we are working on a build system, so your functions will be "built" within kubeless and the resulting image will be stored in a docker registry. This will remove any limitation of the current system.

[2018-03-28 07:13] sabrehagen commented on #655
That's great to know, and sounds like the right way to go. How far off
releasing do you think you are?

On Wed, 28 Mar 2018, 5:09 PM sebgoa <notifications@github.com> wrote:

[2018-03-28 07:14] sebgoa commented on #655
This was merged 5 days ago:
https://github.com/kubeless/kubeless/pull/621

And the new release should be cut really soon now (~ days)

[2018-03-28 07:23] andresmgot commented on #655
Hi @sabrehagen,

I am afraid that the current build system still uses ConfigMaps and CRDs to obtain the function code so the limitation of 1 MB is still present. Note that `--from-file` should be used to specify just plain text code, the installation of dependencies and compilation will happen during the build process.

Also note that the limitation is per function, maybe we can help with your spe

[2018-03-28 07:26] sabrehagen commented on #655
Thank you for the clarification. It is a zip file, yes. A webpacked nodejs
function including dependencies totalling 3mb.

On Wed, 28 Mar 2018, 5:23 PM Andres <notifications@github.com> wrote:

[2018-03-28 07:29] andresmgot commented on #655
In that case yes, you will need to include in the Zip file just your code files and then specify as `--dependencies` your package.json. That way the dependencies will be installed in the build process.

Also note that webpack is not supported yet: https://github.com/serverless/serverless-kubeless/issues/83#issuecomment-357210632

[2018-03-28 12:43] sslavic commented on #241
At least one known remaining Kubeless-Istio compatibility issue is that Kubeless for the function defines Deployment with `httpGet` liveness probe, which is not compatible with Istio that has mutual TLS on by default, liveness probe for function container keeps on failing, because of that function Pod main container repeatedly crashes and gets recreated, so is not as available as it could be. (see

[2018-03-28 13:00] joek commented on #241
@sslavic we are working on it and will come up with a proposal within the next few days. Today 0.5 was released to which might have an impact on our solution.

[2018-03-28 15:47] gimlet2 opened #656 "srcVolumeMount is Readonly"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**What happened**: When I create new function Init container is failed to check checksum and unpack sources. It is done in /src which the place where functions configMap is mapped. And this place is read-only.

**What you expected to happen**: Init procedures should happen in separate emptyDir volume

**How to reproduce it (as minimally and

[2018-03-28 16:26] andresmgot commented on #656
Hi @gimlet2,

we are aware of the issue: see https://github.com/kubeless/kubeless/issues/634

We fixed that in https://github.com/kubeless/kubeless/pull/636 and the fix is now available in Kubeless 0.5.0

[2018-03-28 16:31] gimlet2 commented on #656
@andresmgot thank you! Will upgrade tomorrow. But 0.5.0 partially brakes compatibility with kubernetes 1.7, right?

[2018-03-28 16:31] #656 closed

[2018-03-28 16:48] andresmgot commented on #656
yes, it is not possible to support Cronjob and Horizontal Pod Autoscalers for 1.7, 1.8 and 1.9 so right now it is only supported for 1.8 and 1.9. The rest of features should continue working.

[2018-03-29 01:08] sabrehagen commented on #655
Our build process is more complex and we use our own serverless webpack plugin that creates a zip with our custom build. The `--dependencies` method doesn't resolve this for us. Given that our per-function zips will exceed the 1mb limit and your comment that `ConfigMaps and CRDs to obtain the function code so the limitation of 1 MB is still present`, is there any possibility for us to use Kubeless

[2018-03-29 07:41] sebgoa commented on #655
Hi, is there a way to discuss your exact workflow in a google docs or via voice ? We would love to understand exactly your workflow and see how it could be enabled.

[2018-03-29 08:24] murali-reddy opened #660 "fix kubeless.jsonnet and kubeless-rbac.jsonnet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG

**What happened**:

CRD for kafka is still generated through `kubeless.jsonnet`, should be moved to `kafka-zookeeper.jsonnet`

[code]
RBAC for kafka controller is still generated through `kubeless-rbac.jsonnet`, should be moved to kafka specific file

[code]

[2018-03-30 16:04] ilovezfs opened #662 "Homebrew test block fails for 0.5.0"
The error is
[code]
The test block runs

[code]

[2018-04-02 09:59] ilovezfs commented on #662
Closed via https://github.com/Homebrew/homebrew-core/pull/26056

[2018-04-02 09:59] #662 closed

[2018-04-02 09:59] ilovezfs commented on #662
Thanks @andresmgot!

[2018-04-02 21:02] gkarthiks opened #664 "Kubeless Version INFO from cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

FEATURE REQUEST

**What happened**:
Trying to find out the version of `Kubeless` deployed in the cluster. But AFAIK, there's no command to execute from `kubeless` client or `kubectl` client to show the version of `Kubeless` as `v0.4.0` or `v0.5.0`

**What you expected to happen**:
Nice to have a command like `kubeless cluster-version` or something lik

[2018-04-03 06:52] sebgoa commented on #664
server side.

since `kubeless version` does return the client version.

[2018-04-03 22:26] markmarijnissen opened #668 "Use a minio deployment to handle >1mb packages"
Feature request: use a minio deployment to expose a s3 server, so the zip can be uploaded.

The unzip init container can download and unzip this.

Why?
- I want packages to be bigger than 1 mb (for data science, I want to load machine learning models)
- Using docker isn't private (or is it?), Or I don't want to have a docker registry account.

Alternative ideas:
- use private packages to download

[2018-04-03 22:27] markmarijnissen commented on #668
I'm especially imaging a serverless plugin !

[2018-04-04 06:42] murali-reddy commented on #664
Not exactly fix you are looking for, but with https://github.com/kubeless/kubeless/pull/666 you will see logs in controller on what version they are running.

[2018-04-04 08:01] andresmgot commented on #668
It is indeed something we have considered but we haven't included yet in Kubeless. For the moment, you can still deploy a Minio instance in your cluster (for example [using Helm](https://github.com/kubernetes/charts/tree/master/stable/minio)). Then you can add to your function the logic that downloads the files if they are not there yet.

[2018-04-04 08:25] markmarijnissen commented on #668
Am I correct in assuming the files are only downloaded once, and not for every function invocation? Because only then it would be a viable strategy.

[2018-04-04 08:35] andresmgot commented on #668
You can code it that way, for example, in NodeJS:

[code]

That way it will download the files just the first time. The files will be persisted even if the container is restarted if you store them in the `/kubeless` folder since it is an EmptyDir volume.

[2018-04-05 04:18] murali-reddy commented on #635
Basic auth support was added in #658 so closing this issue.

[2018-04-05 04:18] #635 closed

[2018-04-05 06:44] murali-reddy opened #669 "NATS support"
**Is this a BUG REPORT or FEATURE REQUEST?**:

FEATURE REQUEST

**Description**:

NATS is popular messaing system [used](https://nats.io/tags/microservices/) for building micro-services. NATS provides multiple [messaging models](https://nats.io/documentation/)

- Publish Subscribe
- Request Reply
- Queueing

This is a feature reqest to add support for NATS [message queue](https://nats.io/documenta

[2018-04-05 06:45] murali-reddy commented on #669
I started working on thie feature request. I will fill in more detail as I make more progress.

[2018-04-05 07:37] andresmgot commented on #525
Note that the latest serverless plugin (v0.4.0) requires Kubeless v0.5.0 and it also requires the latest function interface. If you have the latest versions, what is the output of executing?

[code]

That should retrieve the logs of the controller and give more info about the issue.

[2018-04-05 08:28] monikagupta78 commented on #525
Error in log is :+1:
E0405 07:34:25.937284 1 reflector.go:201] github.com/kubeless/kubeless/pkg/controller/controller.go:118: Failed to list *spec.Function: functions.k8s.io is forbidden: User "system:serviceaccount:kubeless:controller-acct" cannot list functions.k8s.io at the cluster scope: clusterrole.rbac.authorization.k8s.io "kubeless-controller-deployer" not found
Unknown user "system:service

[2018-04-05 10:06] andresmgot commented on #525
So the problem is that you need to deploy the RBAC version of Kubeless. You can do it executing:

[code]

In any case, if you still have problems with the above we have a guide of how to deploy Kubeless in GKE: http://kubeless.io/docs/GKE-deployment/

Hope that helps, let us know if you still find troubles.

[2018-04-05 12:02] monikagupta78 commented on #525
I had run that mnifest only, again ran it. I am  getting below error:
$ kubectl apply -f https://github.com/kubeless/kubeless/releases/download/v0.5.0/kubeless-rbac-v0.5.0.yaml
configmap "kubeless-config" unchanged
deployment "kubeless-controller-manager" unchanged
serviceaccount "controller-acct" unchanged
clusterrolebinding "kubeless-controller-deployer" configured
customresourcedefinition "func

[2018-04-05 13:33] andresmgot commented on #525
For deploying the required ClusterRoles your user needs to have admin privileges. You should be able to do so following the steps of the section "Creating the admin clusterrolebinding" of http://kubeless.io/docs/GKE-deployment/

[2018-04-05 16:11] monikagupta78 commented on #525
I did that already. not sure what is wrong. how to confirm if this rolebinding is done correctly.?

[2018-04-05 16:40] monikagupta78 commented on #525
i could make some progress, i was not giving my cluster name in clusterrolebinding command. Function is deployed now.

[2018-04-06 00:45] gkarthiks commented on #664
Thanks @murali-reddy  👍  I assume this will be released in the next patch?

[2018-04-06 02:34] gkarthiks opened #672 "Couldn't deploy the controller-manager with v0.5.0 in OpenShift 3.7.9"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT
**What happened**:
I am trying to deploy v0.5.0 in the OC Cluster. Everything is getting deployed as listed below. But the *kubeless-controller-manager* deployment has nothing. I mean it is not pulling the *image* to create a pod.
If I deploy it as *kind:pod*, the image is getting pulled and container is starting.

Below is the result of **k

[2018-04-06 03:30] murali-reddy commented on #672
Could you please do `kubectl describe deployment kubeless-controller-manager -n kubeless` and share the events?

[2018-04-06 07:50] andresmgot commented on #660
This can be closed, isn't it @murali-reddy ?

[2018-04-06 07:51] andresmgot commented on #642
Solved with #667

[2018-04-06 07:51] #642 closed

[2018-04-06 07:52] andresmgot commented on #641
Closed with #621

[2018-04-06 07:52] #641 closed

[2018-04-06 07:59] murali-reddy commented on #660
Yes.

[2018-04-06 07:59] #660 closed

[2018-04-06 08:21] andresmgot opened #674 "Run functions as non-root"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Feature request

**What happened**:

Some of the runtimes are running the CMD as root:

 - Python
 - NodeJS
 - Ruby
 - PHP (later changed to www-data)

We should change the user that runs the function to an unprivileged one both for the security aspect and for compatibility with Openshift.

Also it could be useful for functions to have a volume with w

[2018-04-06 14:49] gkarthiks commented on #672
So sorry. It seems there was an Issue in our infra. Today morning seems everything working fine when I tried to redo the deployment. ✌️

[2018-04-06 14:49] #672 closed

[2018-04-06 14:58] sebgoa commented on #672
great to know

would love any feedback or blog on how you are using kubeless in openshift

[2018-04-06 18:37] hwa123 opened #676 "add yarn install during function initialization"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST
**What happened**:
by default, the install container runs npm install --production --prefix=/kubeless, which has less performance advantage compared to yarn, would be nice if yarn install can be added as a choice during initialization.
**What you expected to happen**:
add yarn install.

**Environment**:
Runtime: nodejs8, nodejs6

[2018-04-07 03:58] allantargino commented on #395
Hi @andresmgot. I just saw your new instructions of how create a new runtime in #671. Can I start following it and adapt the old .NET runtime?
I'm really sorry the delay here.

[2018-04-07 07:33] gkarthiks commented on #672
It seems there is an existing issue with the OpenShift for deployments not happening properly. I will find that issue and link here. Apparently the issue is intermittent and if not auto resolved, bouncing the nodes in the cluster solves this.

[2018-04-07 10:47] rajasaur opened #677 "Functions Error when deployed with --secrets"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
Trying to deploy a function with secrets so they are mounted on the pod errors with "MISSING: Check controller logs". Checking the logs using
`kubectl logs kubeless-controller-manager-567dcb6c48-qsjn2 -n kubeless`
returns:
`time="2018-04-07T10:30:18Z" level=error msg="Function can not be created/updated: Deployment.apps \

[2018-04-09 02:34] gkarthiks opened #678 "Zookeeper fails with crashloop in Openshift v3.7"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
kafka and zookeeper pod is under `Init:CrashLoopBackOff` in `OpenShift 3.7`

**What you expected to happen**:
kafka and zookeeper should get successfully deployed without any error.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy the `zookeeper` via `oc create -f https://github.com/kubeless/kubel

[2018-04-09 06:51] sebgoa commented on #672
it would be great to get link to an issue that might affect the deployment of kubeless.

[2018-04-09 06:52] sebgoa commented on #395
no problem @allantargino .

you don't need to ask, PRs are welcome to fix the current issues with the .NET runtime

also you might want to join the slack channel #kubeless in the kubernetes slack: slack.k8s.io

[2018-04-09 07:50] andresmgot commented on #395
Agree, you are more than welcome to work in the .NET runtime. And yes, following the guide in #671 would be perfect.

[2018-04-09 08:05] andresmgot commented on #676
hi @hwa123, thank you for the suggestion. Right now it is not possible to support more than one dependency system but we will take into account your feedback for future features.

[2018-04-09 09:52] #649 closed

[2018-04-09 15:43] andresmgot commented on #476
Ingress objects are now created by the controller using HTTP Triggers as source

[2018-04-09 15:43] #476 closed

[2018-04-09 15:45] andresmgot commented on #354
This can be closed with v0.5.0 and #620

[2018-04-09 15:45] #354 closed

[2018-04-09 17:30] #678 closed

[2018-04-10 07:51] #677 closed

[2018-04-10 12:48] andresmgot commented on #678
yes, see #683

[2018-04-11 07:09] #674 closed

[2018-04-11 07:45] #390 closed

[2018-04-11 07:46] sebgoa commented on #32
With 0.5.0, you can now trigger function with any events (as long as you write a controller for it).

Kafka is not bundled by default anymore

[2018-04-11 07:46] #32 closed

[2018-04-11 07:47] sebgoa commented on #30
Kafka is not bundled by default in kubeless anymore (since 0.5.0), any messaging system can be used to trigger functions assuming you write a controller for it.

[2018-04-11 07:47] #30 closed

[2018-04-12 01:26] allantargino opened #688 ".NET Runtime can't compile due to FUNC_PORT changes."
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT
**What happened**:
Due PR #424, .NET program can't compile.
**What you expected to happen**:
.NET Runtime compiles.
**How to reproduce it (as minimally and precisely as possible)**:
Open VS and try to compile it.

This is going to be fixed on next PR for .NET Runtime.

[2018-04-12 10:15] monikagupta78 opened #690 "Not seeing contoller pod"
After doing all required setup for kubeless - I am seeing three pods:
kubectl get pods -n kubeless
NAME                                           READY     STATUS             RESTARTS   AGE
kafka-0                                        0/1       CrashLoopBackOff   2965       6d
kubeless-controller-manager-56cb8cdb49-rtdn5   1/1       Running            0          6d
zoo-0

[2018-04-12 10:32] andresmgot commented on #690
That's okay, the `kubeless-controller` pod has been renamed to `kubeless-controller-manager` in v0.5.0.

In any case I see that the kafka-0 pod is crashing. What are the logs of that pod? You can retrieve them executing:

[code]

[2018-04-12 12:54] sebgoa opened #692 "Redis version of todo examples"
It would be nice to make a redis version (instead of mongo) of the todo example in:

https://github.com/serverless/serverless-kubeless/tree/master/examples/todo-app

So that we can launch a redis cluster via kubeapps and deploy the todo example via a chart as well.

ps: I am giving a demo at redisconf :)

cc/ @sameersbn @andresmgot related to our end to end chart example

[2018-04-12 14:56] monikagupta78 commented on #690
Thanks.

The error related to kafka is:
Kafka's log directories (and children) should only contain Kafka topic data.
        at kafka.log.Log$.exception$1(Log.scala:1696)
        at kafka.log.Log$.parseTopicPartitionName(Log.scala:1703)
        at kafka.log.LogManager$$anonfun$loadLogs$2$$anonfun$5$$anonfun$apply$12$$anonfun$apply$1.apply$mcV$sp(LogManager.scala:167)
        at kafka.utils.CoreUti

[2018-04-12 15:59] andresmgot commented on #690
it seems that the volume for Kafka's data is corrupted. I would suggest to clean up previous installations and install it again:

[code]

[2018-04-13 02:45] gkarthiks commented on #690
@andresmgot  @monikagupta78 I have had the same issue in the past with my `OC Cluster`. And the `PV` that I was using in `NFS`. The problem is, the `PV` that is bound to `datadir-kafka-0` have **already has some other files and folder**. So I created a new folder which now it doesn't have any contents in it and patched my PV to point the new folder. Then the `kafka` pod worked fine.

[2018-04-13 03:47] gkarthiks opened #694 "nodejs8 function is not deploying with private repo reference"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT
**What happened**:
I was trying to deploy a `nodejs8 http function` with a `dependency` file and few `environment variables`. One among the environment variable is setting the `private npm repo url`. When I ran the deploy command, it started deploying by accepting all the flags. But during the `Install container` phase, it goes under **crash

[2018-04-13 08:13] andresmgot commented on #694
Hi @gkarthiks,

In Openshift, the pods are forced to be run as a user different than root. We have changed (https://github.com/kubeless/kubeless/pull/681) the way our containers are running to avoid issues like that but the change has not been released yet. To check if that solves your problem can you edit the deployment to change the `securityContext` and use the UID 1000?

[code]

The change sho

[2018-04-13 08:41] murali-reddy opened #695 "seperate out trigger controllers from kubeless code base/repo"
**Is this a BUG REPORT or FEATURE REQUEST?**:

FEATURE REQUEST

**Description**:

Kubeless starting from 0.5.0 version has very decoupled architecture, in which functions and triggers can be independently deployed and operated. All aspects concerning`Functions` are handled by function CRD controller. An event source is modelled as Kubeless `Trigger`. A Trigger is represented as CRD, and would need

[2018-04-13 17:19] gkarthiks commented on #694
Hi @andresmgot , I patched the deployment and the rolling update happened for the Deployment. But still same error in the same `insall` container.

[2018-04-16 07:44] andresmgot commented on #694
Hi @gkarthiks

Unfortunately I am not able to reproduce your issue: when I set the private registry and scope and I use a securityContext I am able to install some basic dependencies. Could be the case that some npm module tries to write to `/.npmrc` without taking into account the running user?

Regarding [npmrc documentation](https://docs.npmjs.com/files/npmrc) is should be using a path within t

[2018-04-16 07:47] sebgoa commented on #694
@gkarthiks we are on the kubernetes slack #kubeless channel. It would be nice to coordinate a live debugging session, I think it will go faster than github :)

[2018-04-16 08:52] andresmgot commented on #645
@murali-reddy after #687, should we close this?

[2018-04-16 08:57] andresmgot commented on #690
@monikagupta78 If you are running `kubeless` with some cloud provider it may be reusing the same disk even after deleting the PVC. Can you try do clean up any related resource before redeploying Kafka?

[2018-04-16 08:59] murali-reddy commented on #645
Sure.

[2018-04-16 08:59] #645 closed

[2018-04-16 13:54] andresmgot opened #698 "Allow plain text data with "kubeless function call""
**Is this a BUG REPORT or FEATURE REQUEST?**:

Feature request

**What happened**:

[code]

returns an error 500 since `function call` always set the `Content-type: application/json` header.

**What you expected to happen**:

Function is prepared to receive non-json objects so the CLI shouldn't enforce that.

[2018-04-17 10:12] #623 closed

[2018-04-17 14:42] gkarthiks commented on #694
@sebgoa  Unfortunately slack is not accessible from our office network. 😞

[2018-04-17 15:58] sebgoa commented on #694
just email andres at bitnami dot com to set a meeting to sort this out.

[2018-04-17 17:00] cpdean opened #703 "Following the 'Quick Start' docs yields the error: ' Can not get kubernetes client: No Auth Provider found for name "oidc" '"
**What happened**:

I was following the docs at http://kubeless.io/docs/quick-start/

Deploying the function yields the following error:

[code]

**What you expected to happen**:
Sample function to deploy as it does in the documentation.

**How to reproduce it (as minimally and precisely as possible)**:
Follow the docs, and deploying a python function with the `kubeless` cli command yields the err

[2018-04-17 21:27] cpdean commented on #703
@murali-reddy ah -- using the 0.6.0 binary from the releases page seemed to fix things.  Should the brew package be updated to 0.6.0?

[2018-04-17 21:27] #703 closed

[2018-04-18 08:16] arapulido opened #704 "Separate out NATS code base into a seperate projects."
Right now Kafka and NATS triggers are on the same repo as Kubeless. We should be able to have triggers on different repos.

We should put at least NATS on its on repo

[2018-04-18 09:10] murali-reddy commented on #704
https://github.com/kubeless/kubeless/issues/695 is opened as well. We could close one of the bugs.

[2018-04-18 12:51] arapulido commented on #704
close this one and move #695 to the board, please. Thanks!

[2018-04-18 13:15] murali-reddy commented on #704
Closing in favour of #695, which is bit more broder in context.

[2018-04-18 13:15] #704 closed

[2018-04-18 13:44] hwa123 opened #705 "Add --from-url for function deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST
**What you expected to happen**:
Would be possible for `kubeless function deploy` to recognize the a script's github link, maybe add --from-url for that command?

[2018-04-18 14:35] white-cloud opened #706 "Kubeless autoscaling"
Hello @andresmgot ,

Please i'm using my function in this :
****Environment**:
- Kubernetes version (1.10`):
- Kubeless version (0.5.0`):**

Is there any way to make my function scale ?? as there is only one pod per function .

I saw the autoscaling only for kubernetes 1.7 so that isn't possible in the new version of kubernetes (1.10) ???

I really need help please ?:!!

Thank you in adavance.

[2018-04-18 15:29] murali-reddy commented on #705
It should be possible to add the support for `--from-url` for `kubeless function deploy`. A PR would be welcomed :)

[2018-04-18 21:36] gkarthiks commented on #664
Yup, I see it in the `controller` logs.

👏 👍

[code]

[2018-04-18 21:36] #664 closed

[2018-04-18 23:59] gkarthiks opened #707 "Kubeless is looking for deleted functions"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT
**What happened**:
Have deleted the all the resources under `kubeless` namespace and deleted the namespace as well, which has v0.5.0 deployed. Now tried to deploy the new version v0.6.0 with creating the namespace, the controller throws an attached in the below file and is in `Crash loop`.

[kubelesscontroller_error.txt](https://github.com/k

[2018-04-19 01:10] murali-reddy commented on #707
I suspect you might be hitting https://github.com/kubernetes/kubernetes/issues/60538

Just to rule out any RBAC issues, on a fresh deployment (or even or your old v0.5.0 deployment), did you face any issue in deleteing the kafaktrigger objects any time?

from the steps you have done to cleanup old deployments i.e) delete CRD and CRD objects, its very much like a case of https://github.com/kubernet

[2018-04-19 07:59] andresmgot commented on #706
Hello @white-cloud,

Yes, it is possible to scale your function based on CPU usage executing:

[code]

Take a look to the full documentation at http://kubeless.io/docs/autoscaling/

[2018-04-19 08:07] andresmgot commented on #706
Also note that the officially supported platforms right now are 1.8 and 1.9 but using 1.10 shouldn't be a problem since it doesn't include breaking changes in Horizontal Pod Autoscalers

[2018-04-19 08:26] white-cloud commented on #706
Hello @andresmgot ,

Thank you for your answer
, so if i follow the configuration in the documentation for 1.7 will works for 1.10 that's what you are saying right . i couldn't then use autoscaling for my function and it will be working perfectly ?

[2018-04-19 09:00] andresmgot commented on #706
The documentation for 1.7 is to use autoscaling based on custom metrics (like queries per second) and that will not work out of the box for Kubernetes 1.10 but you can still use autoscaling based on CPU usage. It should be as easy as executing the command I specified above.

[2018-04-19 10:09] white-cloud commented on #706
Then that's cool .

Thank you so much , i will let you know how it gonna be work :)

[2018-04-20 14:40] sebgoa opened #708 "kubeless trigger nats publish needs direct access"
seems we don't use a proxy to get to the nats broker.

So if we run in the cloud, we need to open the broker to the world to be able to reach it with the convenience function `kubeless trigger nats publish`

I would rather do a proxy under the hood to avoid this security hole.

[2018-04-22 10:44] daurnimator opened #709 "Lua Runtime"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Feature Request

**What you expected to happen**:

I'd like to be able to write functions in Lua.

  - Should be able to specify Lua 5.1, 5.2, 5.3 or LuaJIT
  - Should be integrated with luarocks for installing/providing dependencies

[2018-04-23 04:45] murali-reddy commented on #669
NATS support is added as part of #689. Cloing this issue.

[2018-04-23 04:45] #669 closed

[2018-04-23 05:14] murali-reddy commented on #708
`kubeless trigger nats publish` just takes URL for NATS cluster, there is no assumption on where NATS service is running (in-cluster or outside cluster).

I can keep the default behaviour is to assume the NATS is running as `nats.nats-io.svc.cluster.local:4222` and proxy to it. `--url` can be specified explicilty to override it.

[2018-04-23 06:09] sebgoa commented on #708
I believe that realistically, nats admin would not open the broker without any type of auth/security.

So sine we use the `kubeless` cli has a convenience for testing/debugging, proxying is an ok mechanism

[2018-04-23 10:41] andresmgot commented on #169
We can close this now: v0.6.0 includes support for Golang functions. Check the promotion blogpost at https://medium.com/bitnami-perspectives/introducing-golang-functions-to-kubeless-a9a9e4f0cab1 :)

[2018-04-23 10:41] #169 closed

[2018-04-23 14:32] white-cloud commented on #706
@andresmgot  Hello again :)

I have a small question please , when i'm trying to access to my kubeless function from outside the cluster it doens't work !?? so should i add something to my function descrption so i can access it from outside the cluster ?

[2018-04-23 15:08] andresmgot opened #711 "Adapt function contract with CloudEvents v0.1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Feature request

**What happened**:

CloudEvents has released the first version of the CloudEvents specification. We will need some minor changes in order to adapt it to the latest release.

https://github.com/cloudevents/spec/tree/v0.1

[2018-04-23 15:10] joek opened #712 "Enable access to the response object in nodejs"
**FEATURE REQUEST**: Enable access to the response object in nodejs

**What you expected to happen**: I would like to set the Response code inside the function and maybe later on have more options to influence how the application is responding to requests.

- Kubeless version (use `kubeless version`): >0.6

[2018-04-23 15:25] andresmgot commented on #706
Yes, you need an Ingress Controller in order to expose your functions outside the cluster. The Ingress Controller should be accessible from outside the cluster. Check out this guide to know how to expose Kubeless functions: http://kubeless.io/docs/http-triggers/

[2018-04-23 15:44] andresmgot commented on #244
We no longer offer Ingress Controller manifests. Documentation of how to enable different controllers can be found [here](http://kubeless.io/docs/http-triggers/)

[2018-04-23 15:44] #244 closed

[2018-04-23 15:49] andresmgot commented on #393
It is now possible to specify a Deployment template in the Kubeless configuration so every pod uses that by default. See the documentation: http://kubeless.io/docs/function-controller-configuration/

[2018-04-23 15:49] #393 closed

[2018-04-23 15:53] andresmgot commented on #479
HTTP triggers are now a standalone entity in Kubeless so as functions it should be namespaced (hence the Ingress objects it produce). @murali-reddy let me know if there is something else to discuss/implement here.

[2018-04-23 15:53] #479 closed

[2018-04-23 15:54] andresmgot commented on #567
All the packages in `glide.yaml` are currently pinned to a specific version.

[2018-04-23 15:54] #567 closed

[2018-04-23 15:56] andresmgot commented on #599
Let's close this issue since it no longer appears in more recent versions of Kubernetes. Please reopen it if you find it again.

[2018-04-23 15:56] #599 closed

[2018-04-23 15:59] andresmgot commented on #608
Closing this issue since it appears to be a function issue. Please let us know if we should reopen it.

[2018-04-23 15:59] #608 closed

[2018-04-23 16:56] sebgoa commented on #711
I think @deissnerk wanted to take that one

[2018-04-24 08:32] deissnerk commented on #711
@sebgoa That's right. I might need some help, because it seems to touch the kafka and the nats.io trigger. I suggest to introduce a struct for CloudEvents that could show up in function signatures. I'll contact @andresmgot, when I need to align.

[2018-04-24 08:38] sebgoa commented on #383
@sayanh any chance you could look at configuring the CronJob spec in the `kubeless-config` configmap. that would solve this issue

that'd be awesome

[2018-04-24 08:54] sebgoa commented on #631
@arjunrao87 can we close this ?

[2018-04-24 08:58] sebgoa commented on #241
@joek can you update this issue, maybe a link to your talk ?

[2018-04-24 08:59] sebgoa commented on #148
closing this because it has been a year.

the trigger and runtime have been decoupled and we added a function builder if there is an internal docker registry.

[2018-04-24 08:59] #148 closed

[2018-04-24 09:00] monikagupta78 commented on #690
It is still crashing. As you rightly pointed that I can still create http functions, exploring that. Thanks

[2018-04-24 10:39] arjunrao87 commented on #631
Yeah. Thanks!

[2018-04-24 10:39] #631 closed

[2018-04-24 10:53] andresmgot commented on #711
sure, happy to help with anything needed

[2018-04-24 10:59] topicus opened #714 "gRPC support"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Feature request

**What you expected to happen**:
I would like to use gRPC as protocol to call lambda functions.

[2018-04-24 11:10] sebgoa commented on #714
Can you expand on this ?

I presume you are talking from within the cluster.

A few user stories would help

[2018-04-24 14:51] white-cloud commented on #706
Hello @andresmgot

Thank you for your answer , i tried the ingress it worked fine for me , but just wondering about something when i'm calling the function with

curl --data '{"Another": "Echo"}' \
  --header "Host: get-python.172.50.10.2.nip.io" \
  --header "Content-Type:application/json" \
  172.50.10.2:Nodeport of the ingress

if i want to do a test of calling the function with jmeter forexamp

[2018-04-24 20:48] sayanh commented on #383
@sebgoa `kubeless-config` configmap can totally be configured for `CronJob` spec.

[2018-04-25 08:34] #578 closed

[2018-04-25 08:41] andresmgot commented on #706
You need to expose your ingress controller, when using a cloud provider usually that means using a `LoadBalancer` as a service type in your ingress controller service. That should give you a public IP accessible from the Internet. Once you do that you would need to change the hostname to a valid one (like `<public_ip>.nip.io` or simply change it for the wildcard `*`.

[2018-04-25 10:10] andresmgot commented on #307
traefik is now a supported ingress controller (see [docs](http://kubeless.io/docs/http-triggers/)). Let's close this issue and open a new one in case a new feature/configuration is requested.

[2018-04-25 10:10] #307 closed

[2018-04-25 14:33] #698 closed

[2018-04-25 19:00] gkarthiks commented on #694
Now I am running v0.6.0 and I am getting securityContext issue as given below. The Deployments are created but no pods are created. In the events, I am getting this error:

[code]

[2018-04-26 04:01] sayanh commented on #383
Not as in "right now" as it needs significant code change.

[2018-04-26 04:08] murali-reddy commented on #15
Fixed in #716

[2018-04-26 04:08] #15 closed

[2018-04-26 04:12] murali-reddy commented on #496
Closing this. Controller now use Finalizers, so they get a chance to process the deletion of function or trigger objects.

[2018-04-26 04:12] #496 closed

[2018-04-26 04:15] murali-reddy commented on #487
Kubeless moved away from monolith design, to more modular approach. There is a trigger controller for each of the event source. Closing this issue its not relevent anymore.

[2018-04-26 04:15] #487 closed

[2018-04-26 07:26] #598 closed

[2018-04-26 08:13] #196 closed

[2018-04-26 08:48] mhausenblas commented on #694
@sebgoa yes, will look into this ASAP

[2018-04-26 13:12] murali-reddy commented on #605
so i tried to deploy a function with no `--cpu` flag in which case deployment got created with 0 as CPU limit:

[code]
then ran `kubeless autoscale create get-python --max 4 --min 1 --value 50` to create HPA

I tried explicitly setting the CPU limit with `--cpu` flag as below

[code]
in which case deployment limits looks like

[code]
In both the cases there is a default value now. I am going to tr

[2018-04-26 13:19] murali-reddy commented on #605
Only in case when function is deployed with no explicit `--cpu` and `--memory` specified for the `kubeless function deploy`, deployment has no limits set. In which case autoscaling will not work as mentioned in the bug.

[2018-04-26 17:26] andresmgot commented on #694
just a note to let you know that I was able to reproduce the issue using `minishift`. First it seems that the user `1000` is not valid for `runAsUser` so to use the default you can execute:

[code]

that will override the changes in 0.6.0 and will use the default securityContext that Openshift provides. The problem now is that the user `1000070000` which is the one used by default doesn't have a `

[2018-04-27 04:24] gkarthiks commented on #694
@andresmgot
But why would you add `/tmp` as `HOME`, because when I run the `npm config ls` command; it shows the `userconfig=/.npmrc`. and `globalconfig = "/usr/local/etc/npmrc"`

That is because as per [npm documentation here](https://docs.npmjs.com/misc/config#npmrc-files), the `userconfig` takes `$HOME/.npmrc`.

And if you do `echo $HOME` inside the container, it gives `/` as the value. So per

[2018-04-27 07:38] andresmgot commented on #694
True, that's a valid option too. I am glad you found it.

It is not, you shouldn't have any problem with the `kafka-zookeeper-openshift.yaml` manifest that we provide.

[2018-04-28 22:31] gkarthiks opened #724 "Kakfa pet died without any reason"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG
**What happened**:
Deployed `kubeless v0.5.0` and the everything was fine; deployed 4 to 5 functions as well. But all of a sudden, the `kafa` died and went into `Crash loop`.  Attached the log for additional reference.

[kafka-0.log](https://github.com/kubeless/kubeless/files/1958231/kafka-0.log)

**What you expected to happen**:
Shouldn't be going

[2018-04-30 04:34] gkarthiks commented on #724
ok @murali-reddy ,  let me try to redeploy and observe the behavior again. Thank you !

[2018-04-30 07:41] #694 closed

[2018-05-01 17:10] gkarthiks commented on #724
I redeployed both of them.. then it worked 👍 . Earlier ZK was running but not sure what went wrong!

[2018-05-01 17:10] #724 closed

[2018-05-02 05:28] tylerauerbeck commented on #601
I started to dig into this a little bit. Made some good progress, however I think the issue we'll run into is that minishift doesn't currently support the none driver like minikube does. Because of this, I think Travis would have some complaints about nested virtualization. I've reached out to the minishift folks to see if they have any input on the matter. There was a stale issue on this, but did

[2018-05-02 14:57] andresmgot commented on #601
Yes, that will be a problem. The other option that we have is to spin up and tear down a real Openshift cluster like we do with GKE (and enable it just for `master` builds). I haven't investigate how feasible that is anyway.

[2018-05-02 15:25] tylerauerbeck commented on #601
After doing some digging and some pointers from the minishift issue, it looks like there may be a workaround for this. Rather than using minishift, you can just do a `oc cluster up`, which should give us the same results.

Here's an example of that in action: https://github.com/RHsyseng/docker-rhel-elasticsearch/blob/master/tests/prepare.sh

[2018-05-03 09:31] andresmgot commented on #601
Interesting, we could try that 🤔

[2018-05-06 01:19] watkinspd opened #731 "kubeless on minishift for openshift 3.9 issue with user id range in user directives"
Possible bug.

Event log for a test/hello world python function does not run.  Function is deployed and does not show an error from the kubeless command. However the function does not run.  It shows an error as a pod event that is related to attempting to run with a userid that is not in the correct range of allowable userids.

Error creating: pods "hello-6f987c64d7-" is forbidden: unable to valid

[2018-05-07 07:05] murali-reddy commented on #731
@watkinspd Please see https://github.com/kubeless/kubeless/pull/721 @andresmgot fixed it recently. Should be part of next release.

[2018-05-07 08:03] sebgoa opened #732 "Create a Dispatch connector for kubeless"
there is dispatch from vmware:
https://github.com/vmware/dispatch

we should create a connector for kubeless

[2018-05-07 08:04] sebgoa opened #733 "Create a Kinesis trigger controller"
Let's write a Kinesis trigger controller

cc/ @murali-reddy

[2018-05-07 15:27] watkinspd commented on #731
Ok. Thanks. Should we close this issue then?

[2018-05-07 16:46] andresmgot commented on #731
you can let it open so we ping you when the new version is available

[2018-05-07 20:47] gkarthiks opened #736 "OpenShift 3.9 kafka pet errors"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT
**What happened**:
Deployed the Kubeless v0.6.0. Everything is deployed successfully. But the kafka pod crashes with the attached log.
[kafka-0 (1).log](https://github.com/kubeless/kubeless/files/1981424/kafka-0.1.log)

**What you expected to happen**:
No errors
**How to reproduce it (as minimally and precisely as possible)**:
Deploy the Kub

[2018-05-07 20:50] gkarthiks commented on #736
Why is it looking into
`/opt/bitnami/kafka/data/__consumer_offsets-32/leader-epoch-checkpoint` directory?

[2018-05-07 23:37] gkarthiks opened #737 "OpenShift 3.9 couldn't list kubeless functions"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT
**What happened**:
Deployed the Kubeless v0.5.0 and tried to execute the `kubeless function ls` command. This throws the below error.

`FATA[0000] Get https://<server>:8443/apis/kubeless.io/v1beta1/namespaces/default/functions: x509: certificate signed by unknown authority `

The `kubectl api-versions` result,

[code]

`oc get crd` results

[2018-05-07 23:56] gkarthiks commented on #736
seems like there is something going on with the PV. Changed the location, working fine. SO closing this. But facing this #737  for any kubeless command

[2018-05-07 23:56] #736 closed

[2018-05-08 03:55] gkarthiks commented on #707
this is because of the above mentioned issue only. good to close.

[2018-05-08 03:55] #707 closed

[2018-05-08 07:41] andresmgot commented on #737
Hi @gkarthiks, some time ago we fixed a similar issue (https://github.com/kubeless/kubeless/pull/661), but that was included since the version 0.6.0. Could you check if the latest version of kubeless fixes your issue? I've tried with kubeless v1.0.0-alpha.1 and minishift v1.16.1 and I could list the functions in the cluster.

[2018-05-08 10:17] murali-reddy commented on #7
I worked on JAVA support, and opened PR https://github.com/kubeless/kubeless/pull/738

Please see notes in the PR for the detail. Appriciate any feedback on the approach.

One issue PR did not address is when `maven package` is run, it's downloading all the pom's from central repositiery which is taking close to 3-4 min. If there is way to avoid that?

Support added by the PR is just like other ru

[2018-05-08 10:39] knightXun opened #740 "Use Prometheus 2.2 monitor kubeless"
Prometheus 2.2 is good tools for monitoring,We can use it monitor kubeless components runtimes metrics.

[2018-05-08 12:57] andresmgot commented on #740
Hi @knightXun, we already expose prometheus metrics with our functions. They expose those metrics in the `/metrics` endpoint. To test it you can execute:

[code]

[2018-05-08 14:44] andresmgot commented on #731
hi @watkinspd, the fix has been released, can you check if the new version fixes your issue?

[2018-05-08 18:28] goobysnack commented on #401
Is there a better way to do this?  Shouldn't the HPA be able to reach any API that is available?  It seems that an HPA created in a namespace should be able to read from custom.metrics.k8s.io yes?

[2018-05-09 00:28] watkinspd commented on #731
@andresmgot I can report that the new v1.0.0-alpha.2 works. Which is pretty cool!

[2018-05-09 01:31] knightXun commented on #740
@andresmgot I will read kubeless code more carefully

[2018-05-09 01:32] #740 closed

[2018-05-09 07:23] #731 closed, assigned to nobody

[2018-05-09 08:01] andresmgot commented on #401
Hi @goobysnack, we still need to update our documentation regarding HPA and custom metrics but we haven't had the time yet. It would be great if you can try it and give us more information about your experience with that. You can also submit a PR updating the existing docs :)

[2018-05-10 01:55] DSotnikov opened #744 "Ballerina support"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

**What happened**:
Right now Kubeless supports only Python, Node.js, Ruby, PHP.

**What you expected to happen**:
[Ballerina](http://ballerina.io) is a cloud-native programming language optimized for microservices so I would expect it to be supported natively in Kubeless just like the other languages.

[2018-05-10 08:13] andresmgot commented on #744
Thanks @DSotnikov.

Just in case some of your engineers start evaluating this we have documentation on how to implement a new runtime: https://kubeless.io/docs/implementing-new-runtime/

The first thing to do would be to create a small ballerina HTTP server that loads the user function and executes it. You can find examples in the [runtimes](https://github.com/kubeless/kubeless/tree/master/docker/

[2018-05-10 13:07] andresmgot commented on #692
this was done here: https://github.com/bitnami-labs/redisdemo

[2018-05-10 13:07] #692 closed

[2018-05-10 15:07] sebgoa commented on #744
To add to what Andres is saying I would:

1- Get familiar with kubeless, using one of the existing runtimes
2- Try to use a Ballerina "custom runtime", see https://kubeless.io/docs/runtimes/ and the custom runtime section. Basically a docker image that serves a function on port 8080
3- Build a Ballerina runtime using the URL mentioned by Andres.

Happy to schedule a call to help you with it.

[2018-05-10 17:59] knightXun commented on #110
is `functions inspect ` like `docker inspect` or `kubectl logs pod`?
implement  `functions debug` may be hard.

[2018-05-11 05:51] gkarthiks commented on #737
Yup! thanks @andresmgot

[2018-05-11 05:51] #737 closed

[2018-05-11 07:27] andresmgot commented on #110
It is not clear, I think we don't need an `inspect` command since the information is already available when doing `kubectl get function -o yaml`. About the `debug` options I am not sure either, I would suggest to run the function as a local docker container but that is almost the same than running the function in minikube.

[2018-05-11 09:52] #712 closed

[2018-05-11 10:34] #456 closed

[2018-05-12 06:56] zerkms commented on #32
@sebgoa

does it mean one needs to have a custom build of `kubeless` then? Or is it possible to implement a controller aside and plug it somehow?

Thanks

[2018-05-13 16:31] tyrellw opened #748 "x509: failed to load system roots and no roots provided"
**BUG REPORT**:
x509: failed to load system roots and no roots provided
**What happened**:
I've created a simple function to tweet data with kubeless:

[code]

I've already tested this function, and posted a tweet. I do the stuff to push it in Kubeless, the function is running, but return something unexpected:

[code]

**What you expected to happen**:
post a tweet on twitter
**How to reproduce it