[2016-11-16 09:04] sebgoa opened #1 "Import Kubewatch controller skeleton"
this might be a good start.

Just remove the SLACK handler.

[2016-11-16 09:04] sebgoa opened #2 "Modify controller to watch third party resources"
just echo resources in stdout for now..

[2016-11-16 09:05] sebgoa opened #3 "Make controller create deployment"
Setup a handler that triggers a deployment creation.

Just make it create a busybox that sleeps.

[2016-11-22 15:23] sebgoa opened #4 "Build image for controller"
we can make a release of the controller container image publicly.

[2016-11-23 10:25] sebgoa opened #5 "Handle namespaces"
Two things:

* the controller may need to run in a dedicated namespace
* the functions may be started in a different namespace than "default"

[2016-11-23 10:26] #1 closed, assigned to nobody

[2016-11-23 10:26] #2 closed, assigned to nobody

[2016-11-23 10:26] sebgoa opened #6 "Add javascript runtime"

[2016-11-23 10:26] sebgoa opened #7 "Add Java runtime"

[2016-11-23 10:26] sebgoa opened #8 "Add Golang runtime ?"

[2016-11-23 10:28] sebgoa opened #9 "Check the need to create a pool of hot runtime"
These runtimes are empty, sitting idle (but running) and waiting for a function.

This could shorten the startup time of a function.

But we don't want to reinvent the wheel, and have to write  function scheduler on top of k8s.

though that's what fission does.

[2016-11-23 10:29] sebgoa opened #10 "Add prometheus/HPA"
By default, when we create a function, we should start a HPA.

The main issue is what metrics to monitor. HPA by default monitors CPU utilization, and we may be more interested to monitor requests/sec...

So we may have to write our own HPA with a custom prometheus metric.

[2016-11-23 10:30] sebgoa opened #11 "Add `kubeless call`"
We should be able to invoke the function from the command line.

This requires exposing the function deployment as a service, or using a hacky port-froward connection.

[2016-11-23 10:32] sebgoa opened #12 "Create Ingress rules"
If we were deployed in a cluster with a DNS zone etc...

We could automatically create an ingress rule for the function...so that we can invoke it as <function_name>.<DNS_name>

[2016-11-23 13:31] sebgoa opened #13 "Add `kubeless function ls`"
Which basically will list the custom resource...

[2016-11-23 14:15] sebgoa opened #14 "Improve build"
either use glide or a Makefile so we can build easily and handle dependencies

[2016-11-24 15:15] #13 closed, assigned to nobody

[2016-11-24 16:16] ngtuna opened #15 "Bash completion"

[2016-11-24 16:22] ngtuna opened #16 "$ Kubeless version"
Showing version info

[2016-11-24 17:01] #16 closed, assigned to nobody

[2016-11-24 17:49] ngtuna opened #17 "kubeless uninstall"
- remove all running functions. Probably!
- remove thirdpartyresource
- remote kubeless-controller deployment

[2016-11-24 18:09] ngtuna opened #18 "Improving stdout messages"

[2016-11-24 18:22] ngtuna opened #19 "add circle-ci"
So, I'm gonna change this to circle-ci as bitnami is currently using it.

[2016-11-24 18:34] #4 closed, assigned to nobody

[2016-11-24 18:36] #3 closed, assigned to nobody

[2016-11-26 23:06] #18 closed, assigned to nobody

[2016-11-27 11:46] sebgoa opened #20 "Make not working"
just tried `make`:

[code]

[2016-11-27 16:28] ngtuna opened #21 "Kubeless function log"
I see Google Cloud Functions support viewing history log of function.

[code]

[2016-11-28 10:30] sebgoa opened #22 "Kind is missing in lambdas"
I created a function and it seems kind is missing from the lambda resource:

[code]

[2016-11-28 10:31] sebgoa opened #23 "function ls should return more info"
[code]

We should return something like

[code]

[2016-11-28 10:31] #20 closed, assigned to nobody

[2016-11-28 15:58] #22 closed, assigned to nobody

[2016-11-30 22:14] #23 closed, assigned to nobody

[2016-12-04 14:00] sebgoa opened #24 "pass json data to functions"
want to be able to pass data to the functions.

[2016-12-04 14:03] sebgoa opened #25 "Let controller start zookeeper and kafka"
to handle event based triggers, we need to add an event stream processor.

We can use kafka (which needs zookeeper).

kubeless install will launch the controller *and* the zk and kafka.

At first we can use a single topic but we will need to be able to add topics on the fly.

Then the runtime need to be adjusted to be consumers of events....

[2016-12-04 16:06] sebgoa commented on #24
I am assigning this one to you now @ngtuna

[2016-12-04 16:47] sebgoa opened #26 "Differentiate between http and events via flags when creating a function"
When we create a function we should be able to pass a flag that makes the difference between a _http_ endpoint or an _event_ endpoint.

* _http_ endpoint are what we have now, you curl the function, the runtime injects the function and wraps it into http CRUD.

[code]

* _event_ endpoints: a consumer gets started and listens to a Kafka managed topic. when we publish a message to that topic, the co

[2016-12-04 16:51] sebgoa commented on #26
when we create an event based function , the runtime is the same deployment structure , only the image changes. I am working on it, but should be something like `skippbox/kubeless-event-consumer:0.0.1`

[2016-12-04 17:18] sebgoa commented on #26
ok the `skippbox/kubeless-event-consumer:0.0.1` image is pushed and should work.

so if we create a _pubsub_ function we can check the logs and we will see the events being consumed.

[2016-12-04 17:20] sebgoa opened #27 "Figure out how to create topics"
we should be able to create kafka topics via `kubeless` but for that we need to exec into the kaka-controller pod.

[2016-12-04 17:24] sebgoa commented on #27
if we can exec into the kafka container, there is a script that allows us to do this:

[code]

Somehow it would be great UX to do it via `kubeless`:

[code]

[2016-12-04 17:25] sebgoa commented on #27
Maybe use the `exec` API....based on websockets I think...

[2016-12-04 17:26] sebgoa opened #28 "Add topics variable to event runtime"
Once #27 is solved, we can add a env var to the runtime manifest, load that env in the Python runtime and use it to listen to events only in that topic.

[2016-12-04 17:30] sebgoa commented on #11
this needs to be modified once #24 is dealt with.

[2016-12-05 23:00] ngtuna commented on #26
so I added a commit for this https://github.com/skippbox/kubeless/commit/8241dc13cf3cfca679abe121e2dfb3bf9700b626

So we could run the event consumer with this example cmd below:
[code]

Probably we have to think a bit about the flags... I see gcloud only has --trigger-http and/or --trigger-topic. We are mixing between aws lambda and gcloud styles.

[2016-12-07 10:22] sebgoa opened #29 "problem with controller"
the controller fails to start:

[code]

maybe we need to push a new controller image.

[2016-12-07 12:20] ngtuna commented on #29
OK I pushed `skippbox/kubeless-controller:0.0.3` image and committed change. Could you `git pull` and try again ?

[2016-12-08 13:31] #29 closed

[2016-12-08 13:31] #27 closed

[2016-12-08 13:32] #25 closed

[2016-12-08 13:32] #24 closed

[2016-12-08 18:13] philips opened #30 "persistence: try backing kafka with the etcd operator and zetcd"
The CoreOS team has built [zetcd](https://github.com/coreos/zetcd) which proxies Zookeeper API to an etcd backend. That, along with the [etcd Operator](https://github.com/coreos/etcd-operator), should make a nice Kubernetes native Zookeeper setup.

cc @heyitsanthony @xiang90

[2016-12-08 18:22] ngtuna commented on #28
Closed by https://github.com/skippbox/kubeless/commit/a70235b3b6512b13a00af27b4d30f194feb495fa and https://github.com/skippbox/kubeless/commit/a5c9fe068787e438d8b210275b7b6fd9a6ae2349

[2016-12-08 18:22] #28 closed

[2016-12-08 18:24] #11 closed

[2016-12-12 11:28] sebgoa commented on #14
seems to be building fine now, closing

[2016-12-12 11:28] #14 closed

[2016-12-12 11:29] sebgoa opened #31 "Get rid of the need for a local proxy"
we still need a local proxy, we should get rid of it.

a better k8s client or split server and client in two.

[2016-12-12 21:58] drauschenbach opened #32 "Kafka and ZooKeeper are heavyweight backing services"
If this project is in the spirit of lightweight or server-less k8s, then these heavyweight dependencies should be replaced with their lightweight alternatives like Redis for pub/sub and etcd or Consul for KV.

[2016-12-14 13:14] sebgoa commented on #32
it is not that lightweight :)

Apache OpenWhisk uses Kafka, the performance of scale of it are great. Currently we start it easily in a deployment in a single Pod. It is not fit for production but it works out of the box. I am not sure what we would gain by using Redis pub/sub.

There is an "issue" open to try etcd operators to expose a zk interface to kafka. That sounds interesting.

[2016-12-14 13:18] sebgoa commented on #32
@drauschenbach actually, did you try to run kubeless ?

Maybe you comment is because you thought you have to install zk and kafka separately ?

We launch a k8s deployment which runs kafka and zk, so you don't have to install them or configure them, it is done by `kubeless install`

[2016-12-14 14:15] drauschenbach commented on #32
Memory footprint reduction is what you would gain (~ 20x min). For developer box targeted stacks, JVM's are ultra-heavyweight. A developer will run out of memory if their fabric controller takes up just as much memory as the other things that have to run locally.

[2016-12-19 22:19] ngtuna commented on #5
Controllers now running in `kubeless` namespace.

I think we could do the same with hardcoding `kubeless` or `kubeless-function` namespace. Otherwise we could support --namespace flag.

[2016-12-19 22:58] ngtuna commented on #31
@sebgoa The current k8s client is still good. The lastest k8s master branch still using it. Moving to client-go will change most of our k8s api requests so we will do it later.

- Kubeless controller running in a pod together with kubectl so no problem at all.
- On kubeless client side, we can get rid of local proxy by specifying `--master` flag in every kubeless command. I will make a commit to a

[2017-01-04 22:14] ngtuna opened #34 "maintain separate binaries"
The need of separating server & cli binaries is increasing

[2017-01-05 00:55] ngtuna commented on #5
Now we can have function running in a specific namespace defined by `--namespace` flag at function subcommands.

[2017-01-05 00:56] #31 closed

[2017-01-05 00:56] #21 closed

[2017-01-08 22:29] ngtuna commented on #10
@sebgoa I'm working on this issue. But I have a bit of confusing: if we create the runtime pod with annotation like below:

[code]
Then we can check the active connections to that pod at `http://localhost:8080/status`. If this is correct then we don't need to instrument the runtime itself. Am I right ?

[2017-01-09 10:18] sebgoa commented on #10
I am not sure how we can do it with prometheus.

The basic idea is that a horizontal pod autoscaler only work with CPU metrics. But for us, we may want to create a HPA that triggers scaling if there are too many requests/sec. For that we need a custom metric. I believe you can setup a HPA with custom metric but we either need prometheus or some heapster/cadvisor modifications.

Looking at http://k

[2017-01-09 14:49] ngtuna commented on #10
So yah I just had a quick discuss on #k8s-autoscaling channel then figure out the guideline at http://kubernetes.io/docs/user-guide/horizontal-pod-autoscaling/ is just an experimental and currently discontinued. They refer to these PRs:

https://github.com/kubernetes/community/pull/152
https://github.com/kubernetes/kubernetes/pull/34754

[2017-01-11 11:05] ngtuna commented on #10
Quote by directxman12 - the guy implementing hpa v2.

[2017-01-19 13:19] sebgoa opened #36 "move the topic publish to function publish"
seems counter intuitive to publish via the `kubeless function publish` rather than `kubeless topic publish`

we probably need to switch these calls.

[2017-01-19 18:28] ngtuna opened #37 "Let user specify custom runtime"
I think somehow we should give user an option to specify custom runtime pre-packaging required libraries for their function.

$ kubeless runtime create --name _runtime_name_ --image _docker_image_

[2017-01-19 18:32] ngtuna commented on #36
I didn't get your point. Right now we are having `kubeless function publish`. `kubeless topic` we have `create`, `delete` and `ls` only.

[2017-01-24 23:26] r4j4h commented on #32
While the memory consumption is a fair argument, I feel like a simpler solution would be to configure the pods for kafka and zookeeper's JVMs to consume a smaller subset of memory than they do by default.

To support both is more work but k8s objects make it so if the code side can be made to handle either technology then they can both be wrapped with Service objects that share the same name and l

[2017-01-29 19:00] ngtuna opened #38 "refactor kubeless controller"
I am seeing some changes upstream in writing a controller for getting better performance. Kubeless controller need to be updated to that point too.

Ref: https://github.com/kubernetes/community/blob/master/contributors/devel/controllers.md#guidelines

[2017-01-30 10:25] sebgoa commented on #6
focusing on nodejs.

[2017-01-30 11:58] sebgoa opened #39 "kafka version is hard coded when doing `kubeless topic` commands"
but I think we are pulling :latest tag and it gets updated :)

[2017-01-30 14:58] sebgoa opened #40 "Support HTTPS endpoint"
how to handle certificates when https endpoint is needed

[2017-01-30 18:42] ngtuna commented on #39
Yeah. I just made [this commit](https://github.com/skippbox/kubeless/commit/8e831280b506e541719afa2505e570d2166fe7b4) to stick kafka to 0.10.1.0-2

[2017-01-30 19:18] sebgoa commented on #39
helm has a nice way of handling this. The docker images version have a default that you can override via env variable (at least it used to be that way).

https://github.com/kubernetes/helm/blob/master/cmd/helm/installer/install.go#L103

[2017-02-02 14:52] sebgoa commented on #40
we could do this, by exposing routes automatically via an ingress controller. and using kube-lego to generate let's encrypt certificates.

[2017-02-02 16:30] ngtuna commented on #5
@sebgoa Can you test this ? If there is any chances needed then let me know

[2017-02-02 16:35] ngtuna commented on #39
👍 I'm thinking a bit which case we use latest and which case we use a specific version. Probably use `latest` by default and introducing `--kafka-version` flag. (`--zookeeper-version`, `--kubeless-version` as well ?)

[2017-02-07 11:19] sebgoa commented on #10
Some thoughts on instrumentation of the runtime:

https://github.com/prometheus/client_python/issues/122

[2017-02-19 04:19] davidchua opened #44 "Link to join Slack on README not working"
When filling up my e-mail on https://skippbox.herokuapp.com/, after submitting, `Failed! token_revoked` error was returned.

[2017-02-20 17:47] ngtuna commented on #44
@davidchua thanks for the report. We're working on this issue. Meanwhile please give me your email address then I can send you the invitation directly. Actually the skippbox slack is quiet. If you have questions on kubeless you can also open issues. Thanks!

[2017-02-21 13:30] sebgoa commented on #6
cc/ @rosskukulinksi

The idea is to write a container image that can load a javascript function into a nodejs runtime.

The function is available in the container via a configmap mounted in the container. Then dynamically injected and exposed via REST endpoints served via node.

[2017-02-21 13:57] rosskukulinski commented on #6
@sebgoa does the container image need to support reloading the function when the configmap is updated?

[2017-02-21 14:12] sebgoa commented on #6
that would be great, but not necessary as a first pass.

[2017-02-24 15:13] thomasfricke opened #45 "Does not compile because of missing context"
~/import/kubeless16:11 >make
CGO_ENABLED=1 ./script/make.sh binary
---> Making bundle: binary (in .)
../gopath/src/k8s.io/kubernetes/vendor/k8s.io/client-go/rest/request.go:21:2: cannot find package "context" in any of:
        /home/thomas/import/gopath/src/k8s.io/kubernetes/vendor/context (vendor tree)
        /home/thomas/import/go/src/context (from $GOROOT)
        /home/thomas/import/gopath/s

[2017-02-24 16:48] ngtuna commented on #45
hi @thomasfricke Thanks for your report. I just did a quick check by running `make` with the master branch. It worked as below:

[code]
May I ask you to double check your $GOPATH in order to make sure you have a separate location for kubeless ? As I checked in kuberless/vendor folder that kubeless has no dependency to `rest/request.go`

[2017-02-24 17:12] ngtuna commented on #45
@thomasfricke May I also ask your golang version currently in use ?

[2017-02-24 17:32] ngtuna commented on #45
So @thomasfricke I just committed my `vendor` folder containing all dependencies of kubeless. If you could do a `git pull` and run `make` again to see if it works or not.

[2017-02-27 14:22] rosskukulinski opened #46 "Compiled version panics with `redefined: log_dir`"
[code]

@sebgoa I'm still learning Golang - is there something I've missed or screwed up?

[2017-02-27 14:43] rosskukulinski commented on #46
I should note I'm using `go version go1.8 darwin/amd64`

[2017-02-27 15:09] dongsupark commented on #46
That's actually not a kubeless-specific issue, but a general issue for every client that depends on `k8s.io/client-go`. There must be 2 different paths that end up importing glog, although it's not recommended. And that's actually a pain point for everyone who wants to import client-go.
(See also https://github.com/kubernetes/client-go/issues/19#issuecomment-276973753.)

How about cleaning up your

[2017-02-27 15:31] dongsupark commented on #46
I just created a PR https://github.com/skippbox/kubeless/pull/47 to strip unnecessary vendors from the kubeless repo. Please try that branch. That should fix the issue of redefinition of log_dir.

[2017-02-27 15:43] rosskukulinski commented on #46
thanks @dongsupark - I'll give it a go tonight.

[2017-02-28 03:25] niyanchun opened #48 "join slack failed"
When I join in the slack, I got the error  "Failed! token_revoked" after click "join".

[2017-02-28 03:35] niyanchun commented on #48
same as [#44](https://github.com/skippbox/kubeless/issues/44)

[2017-02-28 03:35] #48 closed

[2017-03-02 07:26] #46 closed

[2017-03-12 10:38] sebgoa opened #51 "Make a github release"
then update README with instructions for download.

[2017-03-12 10:39] sebgoa commented on #44
@ngtuna we should check with the bitnami guys how to create a kubeless channel...

[2017-03-12 10:45] sebgoa commented on #6
closing this thanks to #49

props to @rosskukulinski

[2017-03-12 10:51] sebgoa commented on #37
@tuna I have a solution for this.

In the case of python we can keep list of dependencies in a `requirements.txt` file . For nodejs we can keep ` package.json` file.

`kubeless` cli need to have an optional `--dependencies=<file>`. The requirements file gets added to the function configmap.

Then we can use an init container, to load all dependencies and share them with the runtime "app" container

[2017-03-12 10:52] sebgoa opened #52 "Event consumer runtime is blocking"
Figure out why the event consumer is blocking on first message.

Interactively, the function does not block, need to check why its blocks in the default setup...

[2017-03-12 16:33] ngtuna commented on #44
@sebgoa Yeah that makes sense. Will ping them on Monday.

[2017-03-13 07:42] ngtuna commented on #51
@sebgoa  I have two binaries built separately at `refactor` branch. Will do the cherry-pick to master first and then making the release. Do you think we should count the kubeless controller image over again from 0.0.1 for the release ?

[2017-03-13 08:32] sebgoa opened #53 "Transition to Bitnami Org"
Since Skippbox got acquired, we need to move kubeless to Bitnami Org.

[2017-03-13 08:36] ngtuna commented on #37
@sebgoa Yes added it to the wish list this week.

[2017-03-13 08:36] sebgoa opened #54 "How to update functions"
Once a function is created we need to figure out how we can update it.

Technically I think we could just `kubectl replace` the configmap of the function.

We need to check how lambda and gcloud functions handle updates...

[2017-03-13 08:40] sebgoa opened #55 "Make the CLI more consistent with gcloud"
Currently we are mixing lambda and gcloud CLI syntax.

Let's make it more consistent with gcloud for now.

[2017-03-13 08:44] sebgoa commented on #12
Thinking more about this. We need to pass the DNS name of the service to the `kubeless install`.
Something like `kubeless install --dns=function.bitnami.com` so that we know how to populate the Ingress Host directives.

[2017-03-13 08:46] sebgoa commented on #39
agreed. this should be part of the install options:

`kubeless install --kafka-version=0.10.1.0-2`

[2017-03-13 14:18] sebgoa opened #56 "messges received by the kafka consumer are not json objects"
somehow the messages received by the kafka consumer are not decoded as json.

maybe the call:

[code]

does not send proper strings...

[2017-03-13 15:03] sebgoa commented on #56
ok found it...stupid mistake in KafkaConsumer instantiation, I used `json.dumps` instead of `json.loads`

will send PR.

[2017-03-13 15:26] ngtuna opened #58 "Add tests"

[2017-03-13 18:09] ngtuna commented on #34
Closing

[2017-03-13 18:09] #34 closed

[2017-03-14 04:35] ngtuna opened #59 "kubeless install --controller-version"
That makes more sense to have an option to figure out the specific version of controller being installed. Will take the latest if the flag is not used. Like this:

[code]

[2017-03-14 04:39] ngtuna commented on #39
Yeah. Together with this https://github.com/skippbox/kubeless/issues/59. So we have:

[code]

[2017-03-14 07:36] sebgoa commented on #59
we should default to the latest released version not a `latest` tag.

that's what helm does.

[2017-03-14 11:56] sebgoa opened #60 "Improve release publishing"
Add:

* changelog
* multi-platform instructions
* md5/sha256

Potentially, stick a deb and rpm somewhere.

[2017-03-14 16:26] mikeleonard opened #61 "Use go library travisjeffery/jocko to replace kafka+zookeeper?"
Hi

Not affiliated in any way, just heard about jocko recently and then came across kubeless today. Running kafka and zookeeper instantly put me off if I'm honest. You should look into https://github.com/travisjeffery/jocko and consider using it when it hits 1.0. It's a golang replacement for kafka with the goal of being kafka-protocol compliant so any client libraries can be used. The other goal

[2017-03-14 16:36] sebgoa commented on #61
thanks @MikeLeonard we will take a look. It is interesting that people get so much put off by Kafka.

why ?

in kubeless it is totally transparent, we set it up as a k8s deployment, it is containerized.

[2017-03-15 03:55] #51 closed

[2017-03-15 03:56] ngtuna commented on #59
closed by https://github.com/skippbox/kubeless/commit/52bf8d134272865f1aa29a9545894202c83f5ffa

[2017-03-15 03:56] #59 closed

[2017-03-15 03:57] ngtuna commented on #39
closed by https://github.com/skippbox/kubeless/commit/52bf8d134272865f1aa29a9545894202c83f5ffa

[2017-03-15 13:04] sebgoa commented on #12
to get towards this we need to merge #62

Then add a readinessProbe in the deployments:

[code]

[2017-03-15 13:08] sebgoa commented on #12
then we need to automatically create an ingress, the same way that we create the deployment and the service in the controller. Like this:

[code]

the <dns_name> should be a variable passed to the `kubeless install` like so:

[code]

Bu default, to get this working with minikube we can set the default DNS name to `192.168.199.100.nip.io`

[2017-03-15 13:11] sebgoa opened #63 "Add a /healthz route in the nodejs runtime"
we need this route to be able to add a readinessProbe , which is needed for healthcheck of LB

[2017-03-15 13:12] sebgoa commented on #26
I am going to close this since it works as expected. We need to clean up the CLI in a commit later this week or next.

[2017-03-15 13:12] #26 closed

[2017-03-15 13:13] sebgoa commented on #40
we should be able to get this done via the Ingress support #12

[2017-03-16 12:11] sebgoa commented on #5
need to test this again, it does not seem to work with `tuna/kubeless-controller:0.0.9`

[2017-03-16 12:41] sebgoa commented on #39
I think the commands `kubeless topic create/ls/delete` are still stuck on the hard coded kafka version....we need to switch them to the provided kafka version...

[2017-03-16 17:17] ngtuna commented on #39
Ah... yes exactly I forgot it. Will fix it after the nodejs dependencies work.

[2017-03-16 17:18] ngtuna commented on #5
Okie Seb. Will do tomorrow

[2017-03-17 10:24] sebgoa opened #68 "Set ImagePullPolicy to IfNotPresent in deployments"
it is better...especially for debugging...

[2017-03-18 17:39] sebgoa commented on #54
The way I do it right now, is to update the configmap with `kubectl edit configmaps` then delete the pod.

This can be done much better, by creating a new configmap and creating a rolling update of the deployment.

so something like:

`kubeless function edit foobar:
* opens an editor
* you change the function
* it creates a new configmap and edits the deployments to use it.
* k8s will take care of

[2017-03-18 17:39] sebgoa commented on #54
see https://github.com/kubernetes/kubernetes/issues/22368

[2017-03-20 13:51] #39 closed

[2017-03-20 13:53] #56 closed

[2017-03-20 13:56] sebgoa commented on #52
fixed by #69

issue with proper desrialization.

[2017-03-20 13:56] #52 closed

[2017-03-20 13:59] sebgoa commented on #36
`kubeless topic publish --topic test --data "foobar"

[2017-03-20 14:00] sebgoa commented on #55
change `kubeless create` to `kubeless deploy`
and add a ` kubeless describe`

[2017-03-20 14:02] #68 closed

[2017-03-20 14:12] #36 closed

[2017-03-20 14:14] ngtuna opened #73 "add `ls` alias"
alias supported for ls:

`kubeless function ls / list`
`kubeless topic ls / list`

[2017-03-20 14:16] #73 closed

[2017-03-20 14:30] sebgoa opened #75 "moved base images of controller and runtime to minideb"
We need to move from alpine to minideb:
https://github.com/skippbox/kubeless/tree/master/docker

Maybe @james-w

[2017-03-20 15:06] sebgoa opened #76 "Specify consumer groups in event consumer"
We need to modify the event consumer to specify a consumer group per function.

That way we can deploy multiple functions that receive the same messages on a topic.

[2017-03-20 16:35] sebgoa opened #78 "When controller restarts existing lambdas are not dealt with"
when we kick the controller, existing lambdas that exists are not _processed_.

since we used the controller from kubewatch, when the controller is restarted it starts looking at lambdas at a specific timestamp.

[2017-03-20 16:38] sebgoa commented on #5
when creating a function with the same name as another function in a different namespace.

The controller does start the corresponding pod, but `kubeless function ls` does not show it.

[2017-03-21 13:51] mmikulicic opened #79 "Confusing installation message"
Minor nitpick:

[code]

I expected stuff to be installed in the `default` namespace, but instead it got installed in the "default" kubeless namespace which is `kubeless`.

Perhaps it should be reworded as:

[code]
?

[2017-03-21 13:57] mmikulicic commented on #79
ah, already fixed in in 52bf8d134272865f1aa29a9545894202c83f5ffa

[2017-03-21 13:57] #79 closed

[2017-03-21 17:14] migmartri opened #83 "Command to get the list of runtimes"
Currently, on function creation you need to know the name of the runtime (i.e `--runtime python27`).

This value is not easily discover-able for the user. So it might make sense to expose it via the CLI.

For example:
[code]

[2017-03-21 17:57] migmartri opened #85 "Does not work with remote cluster"
` kubeless install` seems to initialize whatever cluster is loaded via the `kubecfg` context.

[code]
[code]
But consequent kubeless commands seems to assume local cluster integrations, which means that adding functions do not hit the remote controller.

From the readme:
[code]
[code]
[code]

[2017-03-21 18:13] migmartri opened #86 "Do not output error if controller already exists on installation"
On install, instead of error It should return INFO (SKIP) messages since it is not clear that the fact that there are already resources means that the system is not fully functional.

[code]

[2017-03-21 18:15] migmartri opened #87 "Add success/error feedback after function creation"
There is not indicative that the function creation has been successful or not.

[code]

It does not output on failure either:

[code]

[2017-03-21 18:22] migmartri opened #88 "Publish function result as kafka message"
Currently, it is possible to make a function to be triggered by listening to a Kafka topic by providing the `-trigger-topic <topic_name>` flag on creation.

It might be interesting to be able to tell the result of the function to be published into an specific topic as well. This will enable chaining/pipeline capabilities.

From the user perspective this might mean to add an extra flag like for exa

[2017-03-21 18:26] migmartri opened #89 "Function rollback"
Once updating an existing function is in place https://github.com/skippbox/kubeless/issues/54, we should be able to easily rollback to a previous version of a function.

Rollback to the previous version:

[code]

And maybe to be able to add the revision ID (I know that this does not exist yet)

[code]

[2017-03-22 14:44] ngtuna commented on #6
reopen for the pubsub support. Maybe @jfuentes can help.

[2017-03-22 16:57] #53 closed

[2017-03-23 13:19] #75 closed

[2017-03-23 13:28] aruiz14 opened #94 "Shell scripts support"
Do you think it makes sense supporting shell scripts?
The use case I was thinking on was being able to download a prebuilt Go binary and executing it.

[2017-03-23 14:44] ngtuna commented on #85
@migmartri Sorry I have to correct myself: kubeless is still relying on kubectl context. Look at this https://github.com/bitnami/kubeless/blob/master/pkg/utils/k8sutil.go#L341

Sebastien having kubeless running well on GKE. I will come to you checking this issue later on your environment.

[2017-03-23 14:52] ngtuna commented on #37
I will close this issue in case of having support for nodejs and python. We can create other issues specifying for other languages.

Regarding to Go, Java and other languages require compilation, there was a discussion between me @migmartri @anguslees and @mmikulicic at the hackathon session. I will document it.

[2017-03-23 14:52] #37 closed

[2017-03-23 15:03] ngtuna commented on #94
It'll need discussions to figure out whether we should cover it or not. I think it's nice-to-have feature. Technically this is easy to support.

[2017-03-23 15:42] jbianquetti-nami opened #97 "Allow resource limit specifications on runtime containers"
Provide ways to control the pod resource limits (safe defaults + options to increase it if needed).
Safe defaults can be based on those provided by vendors like AWS, Google, and Azure.

Some can be implemented easily:  CPU, RAM, Disk.

https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/

Others can be a little tricky and need more research and probably will be out

[2017-03-23 21:18] #76 closed

[2017-03-25 15:57] j-fuentes opened #102 "Documentation needed"
It would be fantastic to have a glossary in the readme defining what an `event`, a `runtime`, a `handler` or even a `deploy` are.

For example, it is confusing to me that a kafka trigger is an event but a http trigger isn't.

Also, if you don't go deeper might be wrong with the concept of deploying a function and the implications that it has.

[2017-03-25 16:15] j-fuentes opened #103 "Make event receivers agnostic from the runtime"
Right now, for each supported runtime it should exist an image with an entrypoint implemented for that runtime for receiving HTTP requests and another similar that consumes Kafka events.

I suggest unifying all that into a unique executable (for instance a go binary) that either consumes HTTP or Kafka events and calls a new process in with the proper runtime.

This way it is much easier to add new

[2017-03-26 21:19] ngtuna commented on #102
@j-fuentes Yes definitely. I would change the title of this issue to make it more generic to some necessary documents. I will push dev guide and architecture doc to the repo in next couple of days.

[2017-03-26 21:31] ngtuna opened #104 "make the controller automated build to bitnami hub"
Now I just build the docker image and push it manually to bitnami repo. Will work with @sameersbn to make it automated built using the current bitnami build engine.

[2017-03-27 08:22] ngtuna commented on #44
@sebgoa I think we can open kubeless channel at skippbox slack for external folks. Will go for it if you also agree.

[2017-03-27 08:36] ngtuna opened #105 "Add `kubeless.yml` to simplify the cli flags"
We can consider to have `kubeless.yml` per function containing its metadata to get rid of typing too many flags like this:

[code]

[2017-03-27 10:15] ngtuna opened #107 "Support encrypted env var injection to function"
Somehow we need a way to inject environment variables (encrypted maybe) to the function. Technically it's just a wrap of k8s secret. We can do it manually but it would be better to cover it natively in kubeless.

[2017-03-27 10:19] sebgoa opened #108 "Pillow package not installing in Python runtime"
I am trying to build an automated thumbnail pipeline for images.

I need the `Pillow` package in the requirements.txt file

but it fails to install

[2017-03-27 12:18] ngtuna commented on #108
Checking...

[2017-03-27 12:56] ngtuna commented on #108
@sebgoa So, it can't install `pillow` because of there are some dependencies missing:
http://pillow.readthedocs.io/en/4.0.x/installation.html#external-libraries

Unfortunately `zlib` is not installed via pip (I tried) but `apt-get install` could solve it. Working around on this issue is easy, but it leads to an idea that I think we should somehow still provide custom runtime in format of docker im

[2017-03-27 14:17] ngtuna commented on #102
@j-fuentes Take a look at the /docs folder where I just added the architecture guide. If everything is clear for you, I am happy to close this issue.

[2017-03-27 19:07] dbarranco commented on #105
@ngtuna Do you think it would be also useful another cli command to create a yaml template?

[2017-03-27 21:46] sebgoa commented on #44
that or we create a `kubeless` slack channel from scratch ?

[2017-03-27 21:48] sebgoa commented on #108
yes please, can you build a custom one and force push the runtime.
this is terrible, but would help with the demo.

ultimately we need to move to minideb and indeed switch to a runtime auto-build

[2017-03-28 07:37] ngtuna commented on #108
Yes. But in order to not messing up, I am building a separate python runtime and a separate controller just for the demo. Will ping you on slack when it done.

[2017-03-28 09:41] ngtuna commented on #5
@sebgoa I will close this issue as we have merged the PR for it already. If we find out something still happens then will re-open it.

[2017-03-28 09:41] #5 closed

[2017-03-28 10:02] ngtuna opened #110 "Investigate function debugging"
Not sure how we can do it but just raise the issue first. Google Cloud Function supports it at some specific languages like nodejs for example:
https://cloud.google.com/functions/docs/monitoring/debugging

Their provided local emulator has:
[code]
https://cloud.google.com/functions/docs/emulator

Turning to AWS Lambda they don't have it yet.

[2017-03-28 10:08] ngtuna commented on #105
@dbarranco I don't think that's necessary to be honest. As a developer I find no trouble to write just few line of yaml code to define the function.

[2017-03-28 10:51] ngtuna commented on #105
@dbarranco But yes we need to have a well-defined yaml for the function.

AWS Lambda
[code]
Gcloud Function
[code]

Some basic parameters I can list out here:

- name
- runtime
- handler
- source code file
- dependency file
- memory //could be set default
- cpu //could be set default
- namespace //could be set default
- environment variables

[2017-03-28 12:19] ngtuna commented on #54
@sebgoa I figure out `kubectl apply -f cm.yaml` works out of the box. The only thing we need to do now is versioning the configmap.

[2017-03-28 12:20] ngtuna commented on #54
As we would like to rollback the function as well. Thanks @migmartri opening that issue.

[2017-03-28 12:59] ngtuna commented on #10
I saw this morning at the release-note-draft k8s 1.6 supports HPA with custom metrics (alpha). But I think we can have a work-around solution for that. Don't wanna restrict kubeless to k8s 1.6 just for it.

[2017-03-29 08:32] sebgoa commented on #85
yeah, I cannot reproduce this, it works for GKE...

[2017-03-30 09:24] ngtuna opened #111 "make kubeless install more gently"
If kafka-controller or kubeless-controller existing in the cluster, `kubeless install` should just print out a warning message instead of error and keep finishing the job. This should be very easy to do. You wanna take it @dbarranco?

[2017-03-30 09:35] ngtuna commented on #54
So @sebgoa, there is another interesting point: we can't rollback a configmap at this time. So let's say we can update a new version of function but can't roll it back to previous one. Two possible solutions for that:

- let user versioning their function by their own. Or we can provide versioning solution out of kubeless scope like AWS Lambda using S3.
- get rid of configmap by searching a way to

[2017-03-31 08:47] dbarranco commented on #111
sure @ngtuna.
Thanks!

[2017-03-31 10:51] j-fuentes opened #112 "Error: `flag accessed but not defined: controller-namespace`"
I am getting this error with `topic create` and `topic ls` operations.

[code]

Any hints?

Thanks

[2017-03-31 15:14] ngtuna opened #115 "support ruby pubsub-function"
At this moment we have an opening PR for ruby http-based. We also need to cover pubsub-function. Ref: https://github.com/bitnami/kubeless/pull/92

[2017-03-31 19:22] j-fuentes commented on #112
Fixed in #114

[2017-03-31 19:22] #112 closed

[2017-04-03 07:45] ngtuna commented on #102
@j-fuentes I'm gonna close this. Feel free to ping me for any uncleared term.

[2017-04-03 07:45] #102 closed

[2017-04-03 08:10] j-fuentes commented on #102
Thanks for the doc!

[2017-04-03 08:57] sebgoa commented on #12
We may not want to create an ingress for every function, otherwise they are exposed to the outside.

we might want to make this an additional `kubeless` command. something like:

[code]

[2017-04-03 08:57] sebgoa commented on #40
Do-able with `kube-lego` and the addition of an Ingress rule.

[2017-04-03 08:58] sebgoa commented on #38
Good first refactor

[2017-04-03 10:36] sebgoa opened #117 "After deleting a function controller goes dark"
It seems that after we delete a function, the controller stops doing work.
Any subsequent function does not get created and one needs to restart the controller pod.

[2017-04-05 06:01] ngtuna opened #119 "upgrade k8s & adopt client-go"
We would love to have client-go for the k8s calls, and also upgrading k8s.
This work is being part of PR #116 so when the PR getting merged we can close this.

[2017-04-05 06:29] anguslees commented on #45
The `context` package was added to the standard library in go 1.7.  Because of this transitive dependency, kubeless (and much of the rest of the golang ecosystem fwiw) effectively requires go >= 1.7

[2017-04-05 06:29] #45 closed

[2017-04-06 08:50] #19 closed

[2017-04-07 08:19] sebgoa commented on #85
I am closing this, because I cannot reproduce

[2017-04-07 08:19] #85 closed

[2017-04-07 15:03] sebgoa opened #124 "add the travis/circleci/slack badges"
to the top of the README

[2017-04-10 08:06] ngtuna commented on #119
Solving at https://github.com/bitnami/kubeless/pull/122

[2017-04-11 06:50] anguslees commented on #60
We should also split out the server and client.  The client needs to exist on lots of platforms and be downloadable from github releases, but the server only needs to exist as a pullable docker image (and probably only built for Linux/amd64)

[2017-04-11 08:23] ngtuna commented on #60
@anguslees We already separated binaries: kubeless (client) and kubeless-controller (server), provided in both linux (amd64, 386) and darwin (amd64, 386) via this script https://github.com/bitnami/kubeless/blob/master/script/binary-cross. I agree on providing pullable kubeless-controller docker image only.

[2017-04-12 07:55] ngtuna commented on #44
Close as we have it now: `kubeless.slack.com`

[2017-04-12 07:55] #44 closed

[2017-04-12 08:17] ngtuna commented on #124
and slack badge

[2017-04-12 08:45] anguslees commented on #60
We provide separate binaries, but include them both in the per-architecture zip files on the releases page.

[2017-04-17 07:38] ngtuna commented on #119
Close as the PR #122 was merged

[2017-04-17 07:38] #119 closed

[2017-04-18 02:56] anguslees opened #127 "Consider opportunities for langserver integration"
[Language Server](https://github.com/Microsoft/language-server-protocol) is a promising language-agnostic client/server protocol for the sorts of things that smart editors want to do (show syntax errors, jump to definition of symbol, etc).  It would be interesting to explore what we could do with this in the kubeless context, wrt editor integration and development/debug experience.

See also [lang

[2017-04-18 07:19] ngtuna commented on #55
So I use Gcloud function simulator and see that below output for describing function:

[code]
We will not provide archive field, others are good to show.

[2017-04-24 02:52] #55 closed

[2017-04-24 03:42] ngtuna commented on #117
close this via #125

[2017-04-24 04:35] anguslees commented on #38
Note to self: We absolutely should take advantage of server-side garbage collection, and otherwise clearly linking our dynamically created resources back to the parent Function.

[2017-04-25 07:16] ngtuna opened #132 "Using our own kafka, zookeeper images"
There is the `crashloopbackoff` issue recently with the latest `wurstmeister/kafka` and `wurstmeister/zookeeper` images we are using. We will control and use our own images.

[2017-04-25 08:00] ngtuna commented on #132
@sebgoa Sounds like I am having the same issue you've had before. The kafka container can't connect to zookeeper.

Logs from kafka container

[code]

[2017-04-25 16:21] deissnerk opened #133 "Network issues during start of kubeless-controller and kafka"
Hello,

When installing kubeless von my experimantal one-node clusters, the pods for the kubeless-controller and kafka do not start correctly. I tried Kubernetes installations based on juju charms [https://jujucharms.com/kubernetes-core/](url) on Ubuntu 16.04 and Minikube on Windows and VirtualBox. The issue occurs on both. On Ubuntu I used the kubeless client 0.0.10. On Windows I built the client

[2017-04-25 18:26] ngtuna commented on #133
Thanks @deissnerk for that report. I noticed this issue and I am working on it. Will give you feedback tomorrow

[2017-04-26 02:22] ngtuna commented on #133
@deissnerk Good morning. Yesterday was too late for me so I haven't done anything. Quick update:

The second issues is understand-able. The master branch contains lot of code refactoring, one of that is we have been adopting k8s/client-go which helps us to get rid of running a proxy a long with the kubeless controller. So if you build the kubeless cli from master, it will not deploy kubectl contai

[2017-04-26 02:54] ngtuna commented on #133
@deissnerk So I did install kubeless 0.0.10 on a fresh minikube machine and it worked. I keep investigating on this issue cause it happens sometimes to us as well. But just for a quick action: can you try with a fresh install kubeless 0.0.10 as I did to see if it works on your side ?

[2017-04-26 02:59] ngtuna commented on #133
Few more info

[code]
[code]

[2017-04-26 03:06] ngtuna opened #134 "Handle delete deployment correctly"
Due to the upgrade of client-go and k8s 1.6, the deployment object hasn't been removed correctly. Particularly the deployment object being deleted, but its pods are still running.

Few related issues:
https://github.com/kubernetes/client-go/issues/91
https://github.com/kubernetes/client-go/issues/50

The workaround solution is:
- scale down it to 0
- then delete objects

[2017-04-26 10:01] deissnerk commented on #133
Hi @ngtuna
I tried client in version 0.0.10 and the kubeless controller now seems to work. Kafka is still not working. I am still quite new to Kubernetes, but I found it odd, that kafka is communication with zookeeper via a service, although they are in the same pod and should find each other as localhost. On the other hand, if you wanted to have a single zookeeper for multiple kafka pods, they wo

[2017-04-26 10:15] deissnerk commented on #133
I just manually set KAFKA_ZOOKEEPER_CONNECT to localhost:2181 in the replica set. With this settings everything works fine. Now the zookeeper service is described with an endpoint IP:
[code]

[2017-04-26 15:43] jbianquetti-nami opened #135 "kubeless-controller:0.0.10 panic: runtime error: invalid memory address or nil pointer dereference"
Running on a clean minikube install with  ```--kubernetes-version=v1.6.0.```

Kubeless installed from source code about 10 minutes ago:    ```Kubeless version: 0.0.10 (5aa21e5c)```.

After executing `kubeless install`, I detected that `kubeless-controller` keeps into the boot-crash-reboot loop.

Launched a copy of the controller:  ```$ docker run -it  --entrypoint /bin/bash  bitnami/kubeless-contr

[2017-04-26 16:51] ngtuna commented on #135
@jbianquetti-nami Thanks for the report. I think I understand your problem.

- Kubeless source code on master branch is refactored recently to adopt k8s/client-go which means it will not work perfectly with the binami/kubeless-controller:0.0.10 Please use kubeless cli 0.0.10 provided on release page instead.

- kubeless-controller 0.0.10 is designed to run inside a k8s pod which talks directly to

[2017-04-26 20:03] #134 closed

[2017-04-27 08:22] ngtuna commented on #133
@deissnerk I agreed. That's the thing I would need to change. I tried some times yesterday reproducing the kafka issue but it kept running and well connected. But you're right. For now I am gonna make kafka calling to zookeeper via localhost. In future, separating kafka and zookeeper would be better.

On a related note, I have just release kubeless 0.0.11. You can find it on release page. Please g

[2017-04-27 09:23] jbianquetti-nami commented on #135
Tested 0.0.11: it works

[2017-04-27 09:23] #135 closed

[2017-04-27 18:12] ngtuna commented on #132
close as dup #133

[2017-04-27 18:12] #132 closed

[2017-04-28 11:14] ngtuna commented on #133
Ok so @deissnerk I have this PR https://github.com/bitnami/kubeless/pull/139 in 0.0.11 release. Can you give it a try and close this issue ?

[2017-04-28 11:15] ngtuna commented on #54
Close via https://github.com/bitnami/kubeless/pull/116

[2017-04-28 11:15] #54 closed

[2017-04-28 11:28] deissnerk commented on #133
Thanks @ngtuna, I'll do that. Might take a few days, though. I'll keep you posted.

[2017-05-02 04:03] ssttevee opened #141 "Runtime ThirdPartyResource"
This allows for custom runtimes so users don't have to hassle the developers to use their favourite language with kubeless.

I reckon it could be as simple as this:

[code]

or as complex as defining the pod spec entirely

The default or "official" runtimes could either be used as fallback or added with `kubeless install`

[2017-05-02 09:53] jbianquetti-nami opened #142 "Bootle Python framework is not multithread and breaks health checks"
The web framework used by the Python runtime (bottle) y single thread. This means that if a script needs to run for a long time, it locks globally,  also affecting the `/healthz`  checkpoint.

As a consequence of this is that pod does not respond 'OK'   to health queries and therefore is marked as failed.

 Tried with other web frameworks that implement multi-threading and works as expected.

[2017-05-02 09:58] jbianquetti-nami opened #143 "Functions declared on a Helm Chart do not deletes associated svc and deployment"
I've defined a function on a Helm Chart. The helm installation works as expected: it creates a function, a configmap, an svc and also a deployment.

The problem arises when I delete the Helm chart: the function definition is removed, but the configMap, svc and deployment are not removed by kubeless-controller.

[2017-05-02 18:19] ngtuna commented on #117
Reopening as it still hasn't fixed correctly

[2017-05-03 08:41] deissnerk commented on #133
Thanks a lot. I just did a short test. It seems to work now.

[2017-05-03 08:41] #133 closed

[2017-05-05 07:52] ngtuna commented on #143
I think it's related to this issue #117 Did you try to kick the controller and test it again ?

[2017-05-05 10:03] jbianquetti-nami commented on #143
Yes. If I kick the controller everything works as expected.

[2017-05-05 14:45] sebgoa commented on #124
closed by #147

[2017-05-05 14:45] #124 closed

[2017-05-05 17:22] debianmaster opened #148 "Kubeless is creating one pod per function - is this normal for serverless?"
I observed that kubeless is creating one pod per function even though both functions are based on python27 runtime.  is this normal?   or do you have any plan to refactor to use pool of runtime pods in future?

[2017-05-08 17:58] debianmaster commented on #148
❓ ❓ ❓   😕

[2017-05-09 04:48] ngtuna commented on #148
Thanks @debianmaster for the request. Yes we acknowledge the importance of boosting up function as quick as possible. We are yes planning to have a pool of runtime pods in future. Meanwhile take a look into our release page for up-to-date features.

[2017-05-09 04:52] debianmaster commented on #148
cool thank you!  will wait for it.

[2017-05-09 07:25] sebgoa commented on #141
yes, that's a good idea.

[2017-05-09 07:27] sebgoa commented on #148
@debianmaster what do you mean by a pool of runtime pods ?

I know we could pre-create a pool of pods that wait for functions to get scheduled. This would boost startup time of functions.

But it seems you are surprised that we have one function per pod and would like to have multiple functions in each pod, is that what you are after ?

[2017-05-09 07:47] debianmaster commented on #148
@sebgoa   sort of both `multiple functions in each pod` and a `pre-create a pool of pods`
 pre-create a pool of pods  seems to be on the roadmap,   is `multiple functions in each pod`  is also on roadmap some time soon?   would love to contribute but i'm no go expert.   can you publish a video covering architecture / code walkthrough of `kubeless` so we can contribute

[2017-05-09 08:00] sebgoa commented on #148
ok will do, best might be to connect with @ngtuna or @anguslees and discuss the code a bit.

[2017-05-09 08:53] deissnerk commented on #148
@ngtuna I wonder, what impact the pooling would have on the overall design, if that means to have generic runtime pods which are able to dynamically execute multiple functions. Would a pod then see all the ConfigMaps relevant for its runtime?

[2017-05-09 10:19] #142 closed

[2017-05-09 10:26] ngtuna commented on #143
Okay so I will close this and keep working on #117 :-)

[2017-05-09 10:26] #143 closed

[2017-05-11 04:16] anguslees commented on #148
My 2c:
- You lose isolation when there are multiple functions in the one process (bad: subtle bugs when things modify their environment, leaking secrets, extra debugging confusion, hard to attribute resource usage, etc)
- Pre-creating pools of generic pods assumes that managing the pool and "injecting" the function into a running process is cheaper than just starting a new process.  This is _maybe

[2017-05-17 20:28] bgrant0607 commented on #148
@anguslees @sebgoa

I agree with the general direction of leaning on Kubernetes infrastructure for FaaS.

Otherwise, the FaaS platform needs to duplicate a lot of Kubernetes infrastructure. This can be seen in issues filed to Fission, for example: https://github.com/fission/fission/issues

* Ingress: https://github.com/fission/fission/issues/164
* Autoscaling (horizontal and vertical): https://git

[2017-05-17 20:45] soamvasani commented on #148
Hi @bgrant0607,

Not sure if it's on topic here, but I'm a bit confused by this statement; none of those issues are duplicating K8s functionality, they're mostly about exposing k8s functionality at the FaaS abstraction level.

[2017-05-17 20:56] bgrant0607 commented on #148
@soamvasani Thanks for the clarification. Yes, I saw those issues are expressions of the desire to expose those features. My point was that multiplexing multiple functions over a pre-existing pool of pods would require duplicating a lot of that functionality.

Just trying to share observations across FaaS projects. :-)

[2017-05-19 06:44] anguslees commented on #148
So there are several alternatives for managing the simple text of functions, and sidecars would be a good way of loading them into the main runtime.  The challenges are all the cases more complex than hello-world:
- how/when do you pull in external dependencies (pip install, etc)
- how/when do you "compile" a language that benefits from that (eg golang)

One answer to that is to make it all a clie

[2017-05-19 10:16] bgrant0607 commented on #148
Yes, package/library dependencies and language/runtime versioning are problems if we want arbitrary code to be able to run.

There was a similar discussion here:
https://github.com/kubernetes/kubernetes/pull/16010

I agree that fetching a tarball would be ugly. An example of that:
http://www.lordofthejars.com/2015/04/apache-mesos-marathon-and-java-ee.html

However, how, then, would this be differe

[2017-05-20 01:02] tedchangwsib commented on #148
Hi

[2017-05-20 08:05] sebgoa opened #155 "Need to update Go import path"
I just transferred the project

We need to:
* fix the Go import path
* check that Travis runs well
* check that the images build/push (which should be ok since it is not automated yet)

cc/ @ngtuna @anguslees

[2017-05-21 16:14] bgrant0607 commented on #148
cc @bbrowning

[2017-05-21 17:34] sebgoa opened #156 "Investigate using git-sync and remove configmaps"
Currently, the functions are injected in "runtimes" via configmaps.

It could be that we can use git-sync and address the function updates differently

https://github.com/kubernetes/git-sync

https://github.com/kubernetes/kubernetes/issues/831

[2017-05-21 17:36] sebgoa opened #157 "Investigate inactivation of Pod/functions not used"
There is  a socket activation mechanism potentially usable, or to be developed in k8s upstream.

https://github.com/kubernetes/kubernetes/issues/484

[2017-05-21 18:52] sebgoa commented on #148
I created two follow on issues:

#156 to look at git-sync
#157 to look at the scale to 0 pods when inactive issue

As far the original one function per pod question ? that is what we do right now, we could potentially have multiple functions per pod - with multiple containers per pod-, but after multiple functions per containers break the whole concept of function isolation.

The dependency issue

[2017-05-21 18:55] sebgoa opened #158 "Discuss ideas to handle dependencies"
Currently dependencies are handled via an init-container.

I think it is clever, but it has one major issue is that when a deployment is scaled all new pods will  re-run this init-container and re-download all dependencies.

[2017-05-21 18:55] sebgoa commented on #158
There was early discussions on #148

[2017-05-22 00:51] anguslees commented on #148
@bgrant0607: Thanks for the additional explanation - I feel I understand what you're describing now.  Essentially you'd like to see the scope of TPR Function objects simplified slightly (ie: remove support for 3rd-party dependencies, and perhaps ahead-of-time compiled languages) and instead make it easier for users to provide their own customised "framework" images.  That externalises a little mor

[2017-05-22 01:03] debianmaster commented on #148
Not really I'm just silently watching this good discussion!! But I would
like to part of any future discussion

On Sun, May 21, 2017 at 5:51 PM Angus Lees <notifications@github.com> wrote:

[2017-05-22 03:53] ngtuna commented on #155
Done

[2017-05-22 03:53] #155 closed

[2017-05-24 06:34] ngtuna commented on #117
Restarting the controller loop once it gets stuck would be the solution to fix this. But the problem is not as title anymore, I mean deleting function doesn't harm the controller. Looking for the way to represent the controller "stop working" state for testing my thought.

[2017-05-30 09:21] sebgoa commented on #78
closed by https://github.com/kubeless/kubeless/commit/57b71ff0c4b492d64bb7a3d20df87f8bddf22805

[2017-05-30 09:21] #78 closed

[2017-05-30 09:22] sebgoa commented on #10
Prometheus support is in the Python runtime for both http and event triggers.

need to test hpa.

[2017-05-30 09:23] sebgoa opened #166 "Create a Grafana dashboard"
Since we now have prometheus monitoring, we should create a grafana dashboard for kubeless.

[2017-05-30 11:36] sebgoa opened #167 "Add prometheus monitoring to nodejs runtime"
prometheus monitoring is currently added to the default python runtime.

we need to add it to the nodejs runtime

[2017-05-31 07:45] ngtuna commented on #117
I will close this issue as we moved a bit, the controller seems to work better now. Will work on another issue for the refactor purpose.

[2017-05-31 07:45] #117 closed

[2017-05-31 08:17] ngtuna commented on #38
Add @anguslees comments:

---
The control logic should all be rewritten:
1. You want to add "owner references" to the created deploy/svc/cm that point back to the original Function TPR - this makes server-side garbage collection work (on newer kubernetes) when the Function is deleted.
2. The control loop itself should be rewritten to use something like https://github.com/kubernetes/client-go/blob/

[2017-06-01 01:13] pavelnikolov opened #169 "Add support for Golang runtime"
It would be awesome if Kubeless supports Go runtime. Is this planned and what needs to be done in order for this to happen?

[2017-06-01 11:00] sebgoa commented on #169
indeed, we created #8 a while ago, just did not have time to get to it yet.

[2017-06-01 11:00] sebgoa commented on #8
closing as dupe of #169

[2017-06-01 11:00] #8 closed

[2017-06-01 11:01] sebgoa commented on #105
I am going to close this, because if we do we should improve our serverless plugin instead.

servereles has a yaml spec for funcitons.

[2017-06-01 11:01] #105 closed

[2017-06-02 03:18] ChrisBellew opened #170 "Add support for .NET Core runtime"
Just wanted to say that a .NET Core runtime would be awesome. It's getting quite a following and I think it will get bigger. Understand you are very busy but I just thought I'd file the request. :)

Thanks for the awesome platform!

[2017-06-04 02:54] ngtuna commented on #38
I am afraid the GC currently doesn't work with Function TPR as it said in Known Issues: https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#known-issues

[2017-06-04 04:07] ngtuna commented on #38
@anguslees At point 3, what is the benefit of setting a label capturing the hash of the function ? I could see the hash in deploy/rs/pod metadata but still didn't understand the main idea behind

[2017-06-04 08:55] ngtuna commented on #38
While supporting GC for TPR objects is in progress https://github.com/kubernetes/kubernetes/issues/44507 , I will try to manually implement it as the way etcdoperator doing

[2017-06-05 03:40] anguslees commented on #38
The hash-label is to ensure that the deployment is updated appropriately when the Function changes.  An updated Function will trigger an update to the ConfigMap and Deployment, and a mostly-noop change to the Service.  The hash forces the Deployment to actually update/restart pods where it might otherwise appear to be unnecessary, and ensures that the pods are loading at the right version of the c

[2017-06-05 17:26] migmartri opened #171 "kubeless-controller binary in the release tarball"
Hi,

The instructions says to download the latest release from the releases page and then to use `kubeless install`. The release package contains another binary `kubeless-controller` but I can not see any reference of it in the readme. What's this file for? Does it need to be next to the kubeless binary during installation?

[code]

I am assuming that this is the binary that gets run in K8s being

[2017-06-05 19:55] sebgoa commented on #171
the controller is not needed to do the install in an existing cluster.

but assuming you wanted to do things locally, you may decide to run the controller locally.

but I agree it is a bit confusing.

[2017-06-08 07:30] sebgoa opened #176 "Migrate to CustomResourceDefinition"
TPR are now deprecated, so we need to migrate to CustomResourceDefinition.

This should be in client-go:
https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/apiextensions-apiserver/examples/client-go

Migration:
https://github.com/kubernetes/kubernetes.github.io/blob/release-1.7/docs/tasks/access-kubernetes-api/extend-api-third-party-resource.md#Migration-to-CustomResourceDefin

[2017-06-13 09:00] sebgoa opened #178 "measure performance"
We need to come up with a repeatable performance benchmark.

Need to measure:

* cold start (time from function deploy to invocation returning 200)
* warm start (latency of function reply when function is already deployed but at scale 0 ?).

We don't really shutoff functions right now, so there are always on !

[2017-06-15 04:00] ddysher opened #180 "Unable to call example function"
I ran kubeless on my local cluster, but was unable to make it work

[code]

There is no pod created for the function:

[code]

Looks like controller is unable to get functions resource, but I'm able to list it using kubectl.  Did i miss any steps?

[2017-06-15 07:12] sebgoa commented on #180
You might have created the function before the controller was up which could have caused problems.

try to go to the `/examples` directory and do:

[code]

It will print out, basic `curl` instructions to invoke the functions.

We are currently working on a much more improved controller which should fix that issue.

stay tuned and thanks for reporting it.

[2017-06-15 07:52] ddysher commented on #180
Thanks for the pointer. `make post-python` doesn't work for me neither.

I saw controller log repeatedly shows apiserver reconnection:

[code]

I tried kubeless with minikube v1.6 and it works.

In the original issue, I'm using hack/local-up-cluster.sh, with latest version 1.7.0. Rebuilding from 1.6.4 tags works, so it seems there is a problem with client-go vendor (v2.0.0), or it is not supposed

[2017-06-15 08:02] sebgoa commented on #180
interesting cc/ @ngtuna @anguslees

[2017-06-15 12:16] ngtuna commented on #180
Thanks @ddysher for the report. I ran a quick test with v1.7.0-alpha.2 (the latest k8s I have via `minikube get-k8s-versions`) and it worked as expected. I will check v1.7 using `hack/local-up-cluster.sh` script later. There might be a problem with client-go v2.0 if there is a sector of k8s v1.7 APIs is not compatible, although your kubeless setup passed some API calls before the error happens. Th

[2017-06-15 13:23] ddysher commented on #180
Thanks @ngtuna.  I'll try v0.1.0 once it's released.

[2017-06-16 06:59] ngtuna commented on #38
So we now have the new version of controller and a garbage collector have landed. I am happy to close this issue

[2017-06-16 06:59] #38 closed

[2017-06-16 18:17] havok4u opened #181 "Slack channel invite"
I cannot find a link to be invited to the kubeless.slack.com.  On that page it says if you don't have an account "Contact the team administrator for an invitation", yet there is not method in which to do that.

[2017-06-16 20:39] sebgoa commented on #181
Hi, thanks for reaching out. Correct, there is no automatic invite. To be honest we are not yet using Slack.

But give us a few days and we will figure out something.

[2017-06-19 18:18] sebgoa commented on #181
I pointed you to the slack badge on the readme in private email :)

[2017-06-19 18:18] #181 closed

[2017-06-19 18:19] sebgoa opened #182 "Check that we can support KUBECONFIG env var"
currently we load the creds and endpoint from ~./kube/config we need to support KUBECONFIG env var, for people who stick it somewhere else.

[2017-06-20 08:57] ngtuna commented on #182
We have it already Seb https://github.com/kubeless/kubeless/commit/b504ba3a3fd8a321abd13c98dc70499e7d48ad20

[2017-06-20 09:01] ngtuna commented on #180
@ddysher We've decided to hold on v0.1.0 a little bit waiting for an auto release process with travis landed into the master branch. Yesterday I just cut v0.0.14. Could you try it and give me feedback on this issue ?

[2017-06-20 09:11] ngtuna commented on #171
In the next releases, I think we will only ship the cli and a `kubeless.yaml` file to help deploy kubeless. The kubeless-controller file won't be shipped but we will document it to help user build and use their own kubeless controller image.

[2017-06-22 06:45] ngtuna commented on #104
We dont need this anymore as travis-ci will take care of that

[2017-06-22 06:45] #104 closed

[2017-06-22 06:46] ngtuna commented on #87
Something we can tackle very quickly. /assign myself

[2017-06-22 14:15] sebgoa commented on #87
we should check with Lambdas or Google functions what the behavior is.

The `no resources found` is normal for kubectl if not resources exist.

I have a feeling this was a side effect of the controller GC not working properly which cause the functions to vanish in vacuum with no errors whatsoever.

[2017-06-24 00:56] ddysher commented on #180
@ngtuna sorry I was out for a couple days.

I'm not able to pull image `zookeeperImage  = "bitnami/zookeeper@sha256:0bbf6503e45fc7d5236513987702b0533d2c777144dfd5022feed9ad89dc6318"` which is hardcoded in kubeless, did I miss anything?

[2017-06-24 06:44] ngtuna commented on #180
@ddysher Ah that's bad... Unfortunately the zookeeper and kafka digests has been overridden recently by our automated build engine, thus we had to update new digests in this PR #183

Well, if you have experienced Golang before, could you fetch the master branch into your $GOPATH and just run `$ make binary`? Then you can use the latest kubeless cli at `$GOPATH/bin/kubeless` Otherwise tell me the p

[2017-06-25 19:47] stigsb commented on #88
I like this idea. A good flag name could be simply `--result-topic`.

[2017-06-27 08:47] sebgoa commented on #176
https://coreos.com/blog/custom-resource-kubernetes-v17

there is a link to migration info at the end of the blog, I think it is the same than what I posted above.

[2017-06-29 01:40] ddysher commented on #180
Hi @ngtuna, it works with latest kubeless master, I'm going to close this issue, thanks!

[2017-06-29 01:40] #180 closed

[2017-06-29 02:03] ngtuna commented on #180
Thanks @ddysher for the update. I'm happy to see it works :+1:

[2017-07-03 06:52] radu-matei commented on #32
So, is there any resolution on having Redis as pub/sub engine for `kubeless`?

I also feel that the best way to go would be to allow the user installing to choose between the avilable options.

[2017-07-04 11:50] sebgoa commented on #171
@ngtuna can you close this one now that we have the new release workflow ?

[2017-07-04 11:52] sebgoa commented on #170
Thanks for the feedback. Yes we are re-architecting a few things.

Could you describe a bit more the workflow you would like to see ? Would this be event triggered or http triggered ?

[2017-07-04 11:53] sebgoa commented on #111
we now removed `kubeless install` in favor of a `kubectl create` a manifest available in the release.

[2017-07-04 11:53] #111 closed

[2017-07-04 11:55] sebgoa commented on #97
we should check if AWS or openwhisk allow to provide limits for functions. Give examples here and see if we can provide them as CLI options.

[2017-07-04 11:57] sebgoa commented on #94
I am tagging this as 'runtime'.

I have heard of examples in Lambda where people bundle a binary in the zip to s3, and then call the binary via a simple exec call. It is really ugly, but I guess it is used :)

[2017-07-04 11:59] sebgoa commented on #88
we need to look more into function chaining in other solutions. Not sure how it is done in them (e.g lambda, azure functions etc).

[2017-07-04 12:00] sebgoa commented on #83
Indeed.

we could keep a list of available runtimes via yet another TPR.

We are discussing how to handle build runtimes better, including dependencies. Once we have a solution for the build we should have a solution for the listing.

[2017-07-04 12:01] sebgoa commented on #60
@anguslees @ngtuna can you guys agree that this is done..or not quite yet ?

[2017-07-04 12:02] sebgoa commented on #6
there is a separate issue for it. so I am closing it

[2017-07-04 12:02] #6 closed

[2017-07-04 12:08] sebgoa commented on #32
@radu-matei there is no resolution. Right now it is kafka because of enterprise requirements.

But the only interaction between the event system and the kubeless controller is actually in the runtime. To support something like redis or nats, we would just need to:

* add a kubeless controller startup option which specifies which event broker to use which would specify which runtimes to use when a

[2017-07-04 12:18] sebgoa commented on #32
all that said, which solution would you like to see first ? Redis ? Nats ? RabbitMQ ?

keeping in mind that we will need services to be able to publish to these systems to be able to trigger the functions.

[2017-07-04 15:02] webwurst commented on #32
I would vote for http://nats.io/ :)

[2017-07-04 15:14] ngtuna commented on #60
@sebgoa Yeah I will let Gus look at the current travis setup and decide if there is anything else need to be improved

[2017-07-04 15:15] ngtuna commented on #171
@sebgoa Yup. Close this

[2017-07-04 15:15] #171 closed

[2017-07-04 19:02] sebgoa opened #191 "RBAC issue"
we need to have a RBAC manifest. I think I am hitting the rbac setup issue with the controller not being able to list functions:

[code]

[2017-07-05 07:45] ngtuna commented on #182
@sebgoa Could you verify and close this issue ?

[2017-07-06 02:27] rfeijolo opened #192 "Unable to call example function"
Currently I am unable to call the example function. I tried to follow the instructions on [issue 180](https://github.com/kubeless/kubeless/issues/180) but it doesn't seem to be the same problem.
I was able to use kubeless compiling the commit e369ea89 that dates the day that @ddysher was able to make it work.
The message I receive whenever I try to use kubeless is:
[code]

Here is some more inform

[2017-07-06 02:42] fouadsemaan opened #193 "Unable to create or list functions in Minikube"
`minikube version`
minikube version: v0.20.0

`kubectl version`
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCommit:"d6f433224538d4f9ca2f7ae19b252e6fcb66a3ae", GitTreeState:"clean", BuildDate:"2017-05-19T18:44:27Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCommit:"d6f43322453

[2017-07-06 03:33] ngtuna commented on #192
Thanks @rfeijolo for the report. I am looking at it.
Note: duplicate with #191 #193

[2017-07-06 04:35] ngtuna commented on #192
@rfeijolo @fouadsemaan Please delete function.k8s.io tpr and recreate it with the following yaml file then it should work.

[code]

[2017-07-06 04:36] ngtuna commented on #193
@fouadsemaan I commented on #192 Please check to see if it solves the problem

[2017-07-06 04:47] ngtuna commented on #191
@sebgoa There is a confusion in version of ThirdPartyResource. I see they use `v1alpha1` and somewhere they use `v1` (we used to go with `v1`). I sent a PR #194 to fix this issue. But we still need RBAC setup so please keep this open

[2017-07-06 04:53] ngtuna commented on #192
Reopen as it was closed by a PR merging

[2017-07-06 08:24] ngtuna commented on #193
@fouadsemaan I just made a new release. Please upgrade  https://github.com/kubeless/kubeless/releases/tag/0.0.16

[2017-07-06 08:25] ngtuna commented on #192
@rfeijolo Or you can try 0.0.16 I just made which fixed this issue https://github.com/kubeless/kubeless/releases/tag/0.0.16

[2017-07-06 13:30] rfeijolo commented on #192
@ngtuna just looked the 0.0.16 and the problem is indeed solved.
Thanks 👍

[2017-07-06 13:30] #192 closed

[2017-07-06 13:31] fouadsemaan commented on #193
Thank you @ngtuna

I didn't expect the quick turnaround!

[2017-07-06 13:31] #193 closed

[2017-07-08 05:19] solsson opened #196 "Use existing Kafka cluster"
I'm a maintainer of https://github.com/Yolean/kubernetes-kafka, so naturally we have a cluster already :) Also https://github.com/kubernetes/charts/tree/master/incubator/kafka is quite widely adopted, judging by the number of pulls from https://hub.docker.com/r/solsson/kafka/.

I disagree with https://github.com/kubeless/kubeless/issues/32. Kafka is an excellent choice of events backend, with sema

[2017-07-08 05:29] solsson commented on #32
@drauschenbach This issue title will only trigger opinions, not facts. I think you should rename it to argue for pluggable backends instead.

What is the practical problem you've seen? Kafka fits nicely in Minikube with the default 2GB memory. In https://github.com/Yolean/kubernetes-kafka/pull/35 I've found a 1+1 kafka+zookeeper cluster to run nicely on 700MB memory, or a bit more with jmx monitor

[2017-07-08 08:57] sebgoa commented on #196
Hi @solsson good to see you here, I have checked out your Yolean images of Kafka :)

I am glad you agree with the use of Kafka. I think it is a matter of expertise and taste.

To your issue, yes you can totally reuse an existing kafka cluster. The coupling is very lite.

Currently when you install kubeless with the manifest we generate in the release https://github.com/kubeless/kubeless/releases/d

[2017-07-08 13:12] solsson commented on #196
Thanks for pointing out the built manifest. Without it the setup was a bit opaque to me.

I hope to get time to test this as a branch from https://github.com/Yolean/kubernetes-kafka/pull/30, now that I have vacation :) I haven't yet considered how/if we'll use Kubeless in production, but it'll be interesting to see where discussions in #186 and #148 are heading as we already have build infrastruct

[2017-07-08 14:15] sebgoa commented on #196
Would love to help you if you want to try this out, and any feedback would be very welcome.

and definitely using your existing kafka configuration should not be a huge hurdle

[2017-07-08 14:25] sebgoa opened #197 "make runtime configurable via env var"
Currently the runtime are defined as constants and used as such to create a deployment:

https://github.com/kubeless/kubeless/blob/3a24cb8f3ffa9c38e39c0576869830667c3a87f7/pkg/utils/k8sutil.go#L184

I would like to be able to set an env var in the controller pod manifest, so that PYTHON_RUNTIME=foo/bar:tag

if not present then use the constant, if present then us it.

[2017-07-09 18:28] solsson commented on #196
I'll be on vacation for two weeks. Will give this a shot after that.

[2017-07-10 02:36] anguslees commented on #32
Before we start jumping into alternatives, we should also work out what the requirements are: ie: at-least-once vs at-most-once, reliability vs cost of queue persistence, horizontal scalability targets (in both directions), message size/throughput requirements, etc.

I suspect the various suggestions above are not all targeting the same expected use case (and indeed, there may not be a single solu

[2017-07-10 20:32] drauschenbach commented on #32
I've noticed that I have to go out of my way to provision a 5 GB RAM minikube VM to run some simple 5-service stacks that consist of JVM-based heavyweight services that are really designed for dedicated servers. That barely leaves any headroom for my apps, which should be receiving the lions share of RAM.

Since Redis can do pubsub in 8MB of RAM, I always question why people prefer a 700MB equival

[2017-07-14 06:58] ngtuna commented on #191
Regarding on this issue, Carlos Rodriguez talked to me as he's looking on running kubeless onto our internal k8s cluster. He will see if he can push a PR for this next week.

[2017-07-14 08:14] ngtuna opened #199 "upgrade client-go to v3.0 (non-beta)"

[2017-07-16 03:06] ngtuna commented on #60
As the related task was marked done in Phabricator, I will close this

[2017-07-16 03:06] #60 closed

[2017-07-17 09:58] #108 closed

[2017-07-17 09:59] sebgoa commented on #86
we removed `kubeless install` so I am closing issue.

[2017-07-17 09:59] #86 closed

[2017-07-17 10:01] sebgoa commented on #167
Also #63 is related to enhancement of the nodejs runtime

[2017-07-17 10:04] sebgoa commented on #61
I am going to close this in favor of #32 discussions towards implementing a plugin mechanisms for events

thanks for filing

[2017-07-17 10:04] #61 closed

[2017-07-17 10:04] #9 closed

[2017-07-17 10:04] sebgoa commented on #17
closing since we removed `kubeless install`

[2017-07-17 10:04] #17 closed

[2017-07-18 10:02] #197 closed

[2017-07-19 03:10] ngtuna opened #204 "document how to write kubeless runtime"
This is a suggestion from @arapulido that we should have a guideline for user to build their own runtime

[2017-07-19 10:25] FlorianLudwig opened #205 "kubless topic create fails"
Pretty sure the problem is my setup.  A more helpful error message would be welcome.

[code]

[code]

[2017-07-19 10:34] sebgoa commented on #205
no it is on our side, an error in the manifest of the 0.0.16 release. we are fixing it now.

Basically the labels are wrong. you can fix it with:

[code]

let me know if that works for you

[2017-07-19 11:04] FlorianLudwig opened #206 "clean build fails"
clean build fails:
[code]

[2017-07-19 11:09] FlorianLudwig commented on #205
@sebgoa yes, that works.  Still I think there should be somethink like:

[code]

[2017-07-19 11:43] sebgoa commented on #205
Yes, we should have better error handling there definitely.

if you want to submit a PR, we will take it.

[2017-07-19 11:54] sebgoa commented on #206
we removed the `main.go` from root sometime back, so indeed this won't work. I just updated the website and we will fix the README.

Sorry about that.

the best is really to clone the repo (or fork and clone), then use `make binary`

[2017-07-19 13:06] sebgoa opened #208 "cross build for Windows"
we don't have a windows binary for the CLI

[2017-07-20 11:44] andresmgot opened #209 "Add `RACK_ENV=production` to Ruby base image"
The current base image for Ruby (`jbianquettibitnami/kubeless-ruby:0.0.0`) does not set the env var `RACK_ENV=production` for Sinatra to expose its service on the interface `0.0.0.0` (it is only available at localhost) causing external requests to `/healtz` (the current liveness probe) to fail.

[2017-07-20 17:25] #205 closed

[2017-07-21 10:17] andresmgot opened #211 "Throw meaningful errors when parsing users' data"
I was struggling with a nodejs function deployment that didn't started any pod, in the controller logs I found:
[code]
that didn't give me very much information. At the end I found the typo since I was setting the runtime as `node6.10` instead of `nodejs6.10`.

Could we throw a more meaningful error when parsing users' input?

[2017-07-21 11:38] sebgoa opened #213 "too much verbosity in dependencies for `package.json`"
when deploying a nodejs function via serverless I get this very "weird" output format. Not urgent but we should fix:

[code]

[2017-07-21 12:57] #209 closed

[2017-07-21 16:32] sebgoa opened #214 "[FEATURE REQUEST] Create Scheduled Function"
Lambda's can be created to run on a schedule. Like cron jobs.

There is a 1-1 mapping between scheduled functions and cronjobs in Kubernetes:
https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

We can have kubeless create a `kind: CronJob` , load the configmap, exec the function. No need to wrap it in HTTP server or event consumer.

The difficult part is that in Lambda, a schedul

[2017-07-21 16:47] sebgoa opened #215 "[FEATURE REQUEST] missing functionalities for the serverless plugin"
Checking out the serverless plugin metadata for all the providers (serverless.com) we lack a few
small features. Here is an example `serverless.yaml` for AWS provider:

[code]

_stage_  , _region_  and _timeout_ don't make sense to us.

We do need to add the following in our function spec:

* tags
* environment
* description
* memory
* events

## TAGS

tags are simple k8s labels , so we need to be

[2017-07-24 18:55] lwshuo commented on #7
Hi team, any update on this?

[2017-07-24 20:14] zdlgrj commented on #10
@sebgoa Is there any documentation or best practices about how to export metrics to prometheus using kubeless?

[2017-07-25 07:36] sebgoa commented on #7
No, we are focusing right now on python and nodejs, plus solid event framework and monitoring.

Could you explain your use case ? Do you want even triggers, http triggers, a scheduled function...Do you want to provide a jar ? or raw source code ?

We would love a PR though.

[2017-07-25 07:38] sebgoa commented on #10
@zdlgrj the python runtimes are now instrumented with prometheus:
https://github.com/kubeless/kubeless/tree/master/docker/runtime/python-2.7/http-trigger

And there is test prometheus manifest https://github.com/kubeless/kubeless/tree/master/manifests/monitoring that will scrape those metrics.

We need to add a Grafana dashboard.

What metrics would you like to see ? And what are you trying to do

[2017-07-25 13:59] andresmgot opened #220 "Unable to use PubSub"
I was trying to use the PubSub deployment type but I found several issues:
 - The documentation that explains how to create a topic is under "Other commands" so it is not clear that is a mandatory step.
 - When trying to manage topics it throws an error (fixed in #198)
 - After applying that patch and create a topic it is not clear how to submit a new message (`kubeless topic publish --topic <topi

[2017-07-25 22:22] lwshuo opened #226 "trouble creating topic function"
I created a function like below

![image](https://user-images.githubusercontent.com/25490314/28596224-7747c7a0-7165-11e7-9fba-4e6d7fbc7bee.png)

and then get this in the log

![image](https://user-images.githubusercontent.com/25490314/28596376-3930faf8-7166-11e7-91d9-21e3a6be1baa.png)

Not sure what I did wrong, please advise. Thank you!

[2017-07-25 23:42] zdlgrj commented on #10
@sebgoa Thanks. We are evaluating serverless framework to play it out in our internal env.

For the metrics, currently for our production microservices, we have system metrics(cpu, memory usage, heap, gc and etc) and API metrics(qps, latency and etc). I understand it could be different in in the Faas world, i was just interested to see what we can possibly get from the observability standpoint.

[2017-07-25 23:48] zdlgrj opened #227 "Pod not evicted after function execution?"
Hi,

We are trying out kubeless for the first time, and seeing the pod is not evicted after the function has been executed. is that expected in kubeless? (maybe to keep it container running for a period of time to prevent the code start?) If so, can you pls advise where we can configure the time?

Thanks,

[2017-07-26 03:28] ngtuna commented on #220
Hi @andresmgot,

Agree. We must update document for that.

Seb sent a PR to fix it. Release 0.0.17 will work.

I think it was messed up by wrong labels. Could you try again with the release 0.0.17 ?

[2017-07-26 03:34] ngtuna commented on #226
Thanks for this catch @lwshuo This seems like an issue of our runtime. Please stay tuned I am checking it.

[2017-07-26 04:12] zdlgrj opened #229 "Load python dependencies from Kubeless UI"
Hi Folks,

I couldn't find the option. So just in case I missed it, is there a way to upload a python dependencies for the function from Kubeless UI? It seems a legit use case.

Thanks

[2017-07-26 07:15] #226 closed

[2017-07-26 07:20] sebgoa commented on #10
Right now the runtimes record this:

[code]
It should also be available in node.js at the end of the week.

We could extend this, if there are additional metrics that you would like to get

[2017-07-26 07:23] sebgoa commented on #227
Correct, after a single invocation the pod is not evicted it stays there. Pods get terminated only if the function is deleted.

Right now a function deployment stays there. We are experimenting with ways to scale the deployment to 0.

Bottom line, currently the functions stay warm.

[2017-07-26 07:24] sebgoa commented on #226
@lwshuo thanks for reporting the bug, we fixed it and will release a new kubeless version today.

We will let you know as soon as it is available.

[2017-07-26 07:26] sebgoa commented on #229
yes, very legit.

Could I ask you to close this issue, and open a new one in https://github.com/kubeless/kubeless-ui/issues

[2017-07-26 08:16] andresmgot commented on #220
Hi @ngtuna,

Yes, now it works.

Another issue I found is that the Python function fails with `TypeError: not enough arguments for format string`. I see that the code is already fixed but the image that is in `k8sutil.go` still has the bug.

After fixing that issue I was able to run the PubSub example.

[2017-07-26 09:04] sebgoa commented on #220
fixed in 0.0.18

[2017-07-26 09:04] #220 closed

[2017-07-26 09:05] sebgoa commented on #191
every release now will have a manifest for RBAC setup:

https://github.com/kubeless/kubeless/releases/tag/0.0.18

[2017-07-26 09:05] #191 closed

[2017-07-26 09:07] sebgoa commented on #208
@jjo that might be an easy one for you. We just need to modify the go build steps in make binary..to build a windows executable (64bit)

[2017-07-26 15:30] lwshuo commented on #226
Thank you!!

[2017-07-26 15:37] sebgoa commented on #226
version 0.0.18 has been released, and that is fixed.

sorry for the trouble

[2017-07-26 16:18] lwshuo commented on #226
it works now! thank you so much! that was fast!

[2017-07-26 19:28] zdlgrj commented on #227
Thanks @sebgoa. The reason why i asked is because it would be hard to justify the cost benefit of using serverless without the auto scale on/off for a given container to executing the function. It feels  it is similar now as compared to running a microservice on k8.

[2017-07-27 02:10] zdlgrj commented on #229
Migrated to https://github.com/kubeless/kubeless-ui/issues/28

Closing the issue.

[2017-07-27 02:11] #229 closed

[2017-07-27 02:29] zdlgrj opened #233 "How to specify custom REST URI for http function trigger?"
I have been playing with the http trigger, it works well so far. However, I can't find a way to create a custom REST URI to trigger the function via HTTP.

Currently, after the function is deployed, I can only curl the function under http://{service ip}:{port}/, Is there a way I could map the function to some custom URI like http://{service ip}:{port}/projects/xxx?

[2017-07-27 04:40] ngtuna commented on #233
@zdlgrj There is already a PR #201 for the ingress route. Once it's landed, user can define custom domain and the URL can be like this: http://<function_name>.<domain> However the DNS configuration is out of kubeless scope and it is mandatory to have an ingress controller running.

[2017-07-27 09:09] sebgoa commented on #227
The main difference right now are:

* you can inject source code directly into a pod (no need to build a container)
* the functions are automatically monitored
* serverless plugin https://github.com/serverless/serverless-kubeless

For the cost benefit to become interesting, we will need to actually have a billing system in place (tied to the monitoring). Also since kubeless (or openwhisk or fissio

[2017-07-27 18:24] ngtuna commented on #213
Yes because currently I just read content of the dep file and throw into a deps variable (type string). We should do some parsing/formatting.

[2017-07-27 18:26] ngtuna commented on #211
Sure. There are several places in code I only throw out the err value. This is not urgent but we should fix. Do you want to take it in your spare time ?

[2017-07-29 14:07] sebgoa opened #239 "error when deleting chart"
when we delete the chart there is an error:

[code]

cc/ @sameersbn

[2017-07-30 00:04] danutc opened #241 "working with istio"
Hi
We intend to use istio (https://istio.io/). I could not find any resource that shows how I could combine kubeless with istio. I know it is early days but did you give any consideration in using the two together?

[2017-07-30 07:23] sebgoa commented on #241
@danutc actually we did. I tried istio when it came out, as you say it is still early but very promising. It would be a great complement to kubeless. Specifically the auth part and the tracing part. The problem that I faced is that istio injects their own agent in your pods, and it dramatically slowed down the startup of the functions.

We need to monitor the development and see how best to integr

[2017-07-30 08:24] danutc commented on #241
@sebgoa you may raise a github ticket with istio and explain the problem you faced; they may have a simple solution that can be implemented; I guess they are unaware of your experience.

[2017-08-02 09:51] andresmgot opened #244 "Ingress controller manifest for GCE"
I tried the Ingress controller manifest in GCE and it didn't work out of the box because it is using `hostPort` for exposing the service and for making it work it is necessary to open a firewall rule for the required port.

Maybe we can mix that solution with the one suggested for AWS (https://github.com/kubernetes/ingress/blob/master/examples/aws/nginx/nginx-ingress-controller.yaml) that creates

[2017-08-08 09:11] ngtuna commented on #58
We have more tests on the repo now and we are running with the habit to add tests for every PR so I will close this

[2017-08-08 09:11] #58 closed

[2017-08-09 12:41] ngtuna commented on #182
I am closing this as we have KUBECONFIG here https://github.com/kubeless/kubeless/blob/master/pkg/utils/k8sutil.go#L103

[2017-08-09 12:41] #182 closed

[2017-08-09 12:42] ngtuna commented on #107
We have it now as part of the PR #217

[2017-08-09 12:42] #107 closed

[2017-08-09 12:44] ngtuna commented on #12
Ingress rule has landed (2nd time). So close this

[2017-08-09 12:44] #12 closed

[2017-08-09 13:00] ngtuna opened #252 "Update license header"
s/2016/2017
s/skippbox/bitnami

[2017-08-09 19:32] solsson commented on #196
We've released kubernetes-kafka v2.0.0 now, and I just confirmed how easy it is to set up Kubeless on top of it. Summarized in https://github.com/Yolean/kubernetes-kafka/pull/48.

As you predicted @sebgoa the CLI's topic support fails with `FATA[0000] Can't find any kafka pod`. Maybe it could use the `kafka.kubeless` service to find brokers, or does it need an equivalent zookeeper service? Anyway

[2017-08-09 22:34] seanhuxy opened #254 "Unable to run the example code with Minikube"
I am trying to use kubeless on top of a Minikube on top of a Ubuntu16 host, along with virtual box.

I take exactly the same step as listed in the home page, but still get an error while trying to call the `get-python` function

[code]

Status looks good to me.

[code]

Here is the log from kubeless controller
[code]

minikube version: v0.20.0

kubectl version:
Client Version: version.Info{Major:"

[2017-08-09 23:07] ngtuna commented on #254
Hi @seanhuxy Thanks for pointing out 👍

There was a change at runtime validation so the example version you tried is a bit out-dated. Please try the example code on master branch. We just updated it yesterday. `get-python-metadata` won't work until the next release as we've landed some function metadata support.

[2017-08-09 23:22] seanhuxy commented on #254
Hi @ngtuna

I just tried /example and they work good.

After examine, I found the only problem is the README example missed a ``.`` at ``python2.7``

the command
[code]
should have a `.` at ``python27``

this is why it is saying
``The given runtime and version does not have a valid image for http based functions``
 I guess..

[2017-08-09 23:33] ngtuna commented on #254
Correct. Will update the README shortly.

[2017-08-09 23:36] ngtuna commented on #254
Oh sorry @seanhuxy  I clicked on wrong button. Re-open and I will let you decide to close if you are happy with this.

[2017-08-10 00:20] seanhuxy commented on #254
@ngtuna No worries, I just forget to close it. Thanks.

[2017-08-10 00:20] #254 closed

[2017-08-11 14:14] #239 closed

[2017-08-15 08:03] ngtuna commented on #233
@zdlgrj Please check the [latest release](https://github.com/kubeless/kubeless/releases/tag/0.0.20) of kubeless. We provided ingress route for function with default option to master node and alternative option to user-defined hostname (with proper DNS configuration) Let me know if you need any help on this

[2017-08-15 10:23] sebgoa commented on #206
we cleaned up the readme, since we do not support `go get` like this.
Sorry about the confusion.

[2017-08-15 10:23] #206 closed

[2017-08-15 10:28] sebgoa commented on #196
@solsson great, thanks for trying this.

If I recall correctly the `kafka topic` find the kafka broker pod via a label query with labels `kubeless:kafka` so assuming you label your broker with that, the command should work...I think...

cc/ @ngtuna see comment about creating a manifest with a kafka setup `kubeless-no-kafka.yaml` ? and probably we need to be able to point to a different DNS name th

[2017-08-15 10:29] sebgoa commented on #167
done

[2017-08-15 10:29] #167 closed

[2017-08-15 10:30] sebgoa commented on #63
done

[2017-08-15 10:30] #63 closed

[2017-08-15 16:43] ngtuna commented on #208
I just added a PR https://github.com/kubeless/kubeless/pull/263 for this. However I haven't tested the binary yet as I don't have windows machine

[2017-08-16 16:38] pilsy commented on #148
What about doing something along the lines of what i did in the CleverStack framework?
https://github.com/CleverStack/clever-background-tasks

Examples:  (they are from 3 years ago so they aren't ES6 so don't shoot me lol)
- https://github.com/CleverStack/backend-example-module/blob/master/tasks/ExampleTask.js
- https://github.com/CleverStack/backend-example-module/blob/master/tasks/ExampleLocking

[2017-08-16 17:07] pilsy commented on #148
These are the open issues that sort of get resolved/improved by the above suggestions:

- Easily solves https://github.com/kubeless/kubeless/issues/214
- Easily implemented and solves concerns in https://github.com/kubeless/kubeless/issues/178
- Would make this one easier https://github.com/kubeless/kubeless/issues/157
- Would pretty much solve this one completely for node https://github.com/kubel

[2017-08-17 12:59] solsson commented on #196
Tested with the label in https://github.com/Yolean/kubernetes-kafka/pull/48/commits/fe3a6b3a0943366168deda25abce21cdf5234385, but still getting `FATA[0000] Can't find any kafka pod`. Does it assume that the label is in the kubeless namespace?

[2017-08-18 07:18] sebgoa commented on #196
@ngtuna can you check this ? thx

[2017-08-18 07:19] solsson commented on #196
Took the time to investigate this myself now :) Yes it assumes kafka is in the `kubeless` namespace, and it also assumes an install path with [/opt/bitnami/kafka/bin/kafka-topics.sh](https://github.com/kubeless/kubeless/blob/0.0.20/cmd/kubeless/topicCreate.go#L44). But as I suggested before we can scope this out because those who have a kafka cluster already will be comfortable with creating topic

[2017-08-18 07:49] ngtuna commented on #196
@solsson sorry for a bit delay in response. So I just wrap up this:

- the current deployment places kafka and zk statefulset into `kubeless` namespace and hard-coding the dns to `kafka.kubeless`
- `kubeless topic` executes this command `/opt/bitnami/kafka/bin/kafka-topics.sh` in the kafka pod. It finds the kafka pod by label `kubeless: kafka`

So:

- that's easy to make a kubeless-without-kafka/z

[2017-08-18 07:57] solsson commented on #196
This means that there wont be a `Service` with `name:kafka` in the `kubeless` namespace, but that pubsub will look up brokers directly? I think that would be great, because k8s services obscure actual broker listeners.

[2017-08-18 08:17] ngtuna commented on #196
Even if there is a `kafka` in `kubeless` namespace it's still be fine because the pubsub runtime is prioritized to get the `KUBELESS_KAFKA_NAMESPACE` first.

Yeah. But for `kubeless topic`, there still remains a tricky point that someone deploys kafka and label it as `kubeless: kafka`. What we are doing is we just pick up the first pod in the list.

[2017-08-18 08:49] ngtuna commented on #141
That's possible now as we embedded the whole pod spec into the func spec :-)

[2017-08-19 15:33] sebgoa commented on #148
thanks @pilsy for the long post. We are definitely open to ideas and PR so feel free to send your proposals and codes.

The main issues that we have right now and that we need to fix are:

* decouple the triggers from the runtime (currently a trigger type -pubsub or http- is bundled in the language runtime and it won't scale). So we need language agnostic triggers and a communication mechanism for

[2017-08-20 19:08] sebgoa commented on #213
we should just print the content of `dependencies` in  a `package.json`

[2017-08-25 08:22] arapulido opened #272 "Removing a function doesn't remove the ReplicaSet"
When removing a function using kubeless, the ReplicaSet is not removed (just scaled down to 0).

We should remove the ReplicaSet.

[2017-08-29 08:19] arapulido opened #275 "README.md is outdated in terms of runtime support"
The current README.md file reads under Roadmap:
"Add other runtimes, currently only Python and NodeJS are supported"

This is not true, as we already have the Ruby runtime and other runtimes are possible through custom runtimes.

We should update the README file to reflect this

[2017-08-30 03:33] ngtuna commented on #233
I am closing this as we provided ingress support and there is no feedback from the sender. I am happy to re-open it at any point for other requests about it.

[2017-08-30 03:33] #233 closed

[2017-08-30 03:36] ngtuna commented on #213
+1. As the dependency file is now only being shown with `-o yaml/json`, they still must be "fillet"

[2017-08-30 03:37] #252 closed

[2017-08-30 09:10] andresmgot opened #276 "Ingress controller (http-only) not working when using a deployment path"
When trying to use the following ingress rule with the current ingress controller:
[code]
every time I try to access the function I get redirected to the port 443 but the Nginx server is not listening in that port:
[code]
This is because the following piece of Nginx configuration that is generated in the ingress controller (from the Nginx controller pod):
[code]

A different but related issue is t

[2017-08-30 11:32] ngtuna opened #277 "integration test is using old image for controller"
The integration test should use the latest controller image. But now it's using the old one declared in `kubeless.jsonnet` file. The file must be updated before the test is executed.

[2017-08-31 10:07] arapulido commented on #276
@ngtuna Can you look at this one, please? @prydonius Any clues?

[2017-08-31 10:18] prydonius commented on #276
The forcing SSL can be avoided by setting a hostname on the Ingress resource, for some reason wildcard routes force https.

As for the address, I'm not sure. Perhaps the healthz endpoint has changed in that version. Have you tried this with the nginx-ingress chart which I believe uses a newer version?

[2017-08-31 11:58] andresmgot commented on #276
it works using a `nip.io` hostname we need to change the usage from `192.168.99.100/hello` to `192.168.99.100.nip.io/hello` but is a valid usage. Thanks!

[2017-08-31 15:04] #276 closed

[2017-08-31 16:29] ngtuna commented on #275
I added a PR for this https://github.com/kubeless/kubeless/pull/278

[2017-08-31 16:34] ngtuna commented on #276
Oh that's interesting. I didn't know `192.168.99.100/hello` doesn't work. Actually I did check the ingress-controller setup yesterday but couldn't find any reason. Thanks @andresmgot for that.

[2017-08-31 21:02] arjunrao87 opened #280 "Unable to access native kubeless api via REST"
I want to submit a function ( via http-trigger ) from a NodeJS process to kubeless but I do not want to use the js equivalent of
[code]
because that needs me to know the actual IP address of the service running the function. I want to be able to access the kubeless api that gives me the level of indirection by just knowing the name of the function
[code]
Is there anyway to access the above ( funct

[2017-09-01 04:32] ngtuna commented on #280
Thanks @arjunrao87 for the question. Currently we haven't supported API for calling function yet. That's already in our plan. Please stay tuned.

Meanwhile, we support you to create a route for function with `kubeless ingress` command. If you're familiar with Kubernetes Ingress, that's it. Here below is steps to go:

- Make sure to have an ingress controller running in your cluster. If you're in M

[2017-09-01 06:05] ekryski commented on #280
I'd love to see actual API support as well, but so far @ngtuna that is a great solution. 😄

[2017-09-01 17:54] DazWilkin opened #281 "Clarify "kubeless function deploy" example"
I feel this README example would benefit from clarification:
[code]
I like to tweak and comprehend commands before I use them and this was slightly confusing until I played around with it.

RECOMMEND some form of preamble explaining that this:
-- Deploy a function named "my-function" (better than the curious "get-python")
-- Runtime options are python2.7, nodejs6.... [others?]
-- Handler -- our Py

[2017-09-01 18:00] DazWilkin opened #282 "Provide example using "kubeless function list""
In the README, after first deployment:

```kubeless function deploy```

The next command, slightly disjointedly (albeit understandably) is:

```kubectl get functions```

I feel it would be more clear to follow the `kubeless function deploy` with a `kubless function list`:

[code]
and then explain "another way of confirming this is to use kubectl and the Custom Resource"...

[code]

[2017-09-01 18:43] arjunrao87 commented on #280
Thanks @ngtuna. Ill mark the issue closed for now since you already have it in your roadmap. You can reference that issue/PR here if you'd like :100:

[2017-09-01 18:43] #280 closed

[2017-09-01 18:53] arjunrao87 commented on #196
@ngtuna is this available in the latest release?

[2017-09-01 20:04] arjunrao87 opened #283 "Accessing external dependencies in Nodejs kubeless function"
I need an npm dependency ( 'request' ) in my serverless function to make a GET call to an external resource. I am a little confused as to how this works in kubeless.

My folder structure is
fun-folder/
|
-- bar.js
-- package.json
-- node_modules/

where bar.js is

[code]

and package.json is

[code]

I have run 'npm install' in my folder so technically all dependencies are available but when I sub

[2017-09-01 20:10] DazWilkin opened #284 "Using Container Engine Network & HTTP Load-Balancing"
Thanks to kubeless' integration with Kubernetes, it works well with [Google Container Engine (GKE)](https://cloud.google.com/container-engine/).

When kubeless http-triggered functions are deployed, they are exposed as NodePorts. With GKE this means that the service can be available through an HTTP/S load-balancer (using Ingress) or through a network load-balancer (by creating another service of `

[2017-09-01 20:25] sebgoa commented on #284
Thanks @DazWilkin so everything works fine correct ?

I super happy you are testing this. Let us know how to improve it for GKE...we could even have GKE specific docs.

[2017-09-01 20:26] sebgoa commented on #282
yes, good suggestion. Happy to take a PR if we are too slow to do it.

[2017-09-01 20:27] sebgoa commented on #281
good point again. We stared too long at the Google functions and AWS lambda CLI and assumed it was clear.

we will clarify it

[2017-09-01 20:29] sebgoa commented on #283
when you deploy the function you need to specify the `package.json` as dependency requirements.

`kubeless function deploy .... --dependencies package.json`

[2017-09-01 20:53] DazWilkin commented on #284
Hmmm.... I inadvertently stumbled on `kubeless ingress` :-)

It does what I did in #1 above.... It requires a DNS which is correct but not mandatory

But, it is equivalent to what I said in #1 above:

[code]
That's neat.

[2017-09-01 22:29] arjunrao87 commented on #283
that works! thanks

[2017-09-01 22:29] #283 closed

[2017-09-03 04:08] pavelnikolov commented on #169
What needs to be done in order to support Go runtime?

[2017-09-04 12:27] #272 closed

[2017-09-04 16:48] sebgoa commented on #169
Hi @pavelnikolov

you need to create a runtime in: https://github.com/kubeless/kubeless/tree/master/docker/runtime

the first thing would be to start with an http-trigger, here is an example for python:

https://github.com/kubeless/kubeless/blob/master/docker/runtime/python-3.4/http-trigger/kubeless.py

then we modify the controller a bit to know about this new runtime.

However, there is a need t

[2017-09-06 08:28] slintes commented on #40
@sebgoa I think this can be closed

[2017-09-06 08:41] sebgoa commented on #40
yes, thanks

[2017-09-06 08:41] #40 closed

[2017-09-06 14:51] arjunrao87 commented on #88
I wanted to follow up on this discussion. We have a use case where we are looking to chain a bunch of kubeless functions and I was wondering what the community approach was to solve this problem.

From what I see for Azure they seem to use the Azure Service Bus for this ( https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus )

Amazon has 2 approaches

- Simpler app

[2017-09-06 15:17] sebgoa commented on #88
Also you can do basic chaining with the serverless plugin, check out this example:

https://github.com/serverless/serverless-kubeless/tree/master/examples/node-chaining-functions

[2017-09-07 04:35] ngtuna opened #292 "support custom runtime in cli"
As we provide a way to declare custom runtime in function object, we should cover it in kubeless cli as well. Probably using with `--runtime-image` flag

[2017-09-07 13:12] #275 closed

[2017-09-07 21:46] arjunrao87 opened #294 "Proxy issues with Kubeless"
I am working behind a Cisco AnyConnect VPN and am having issues with the --dependencies flag that gets passed when deploying functions.
I am using NodeJS and passing the package.json with the required dependencies. The issue I am seeing is that the function pod never gets initialized because the npm install fails. I think this is an npm proxy issue because there is no problem outside the VPN. When

[2017-09-08 10:56] nicdoye commented on #282
This is in my PR https://github.com/kubeless/kubeless/pull/295 . I hadn't read this issue beforehand, so the wording and order is different.

You create it with:

[code]

You will see the function custom resource created:

[code]

[2017-09-08 12:06] sebgoa commented on #282
yes, thanks for the PR, it is merged so I am closing this.

[2017-09-08 12:06] #282 closed

[2017-09-08 12:33] sebgoa commented on #294
@arjunrao87 hi, I don't think you pasted the correct error message, I am not seeing any errors in your snippet.

Also can you run a `npm install` within a pod in the cluster that's behind your firewall ? It seems to me this would be a network issue not related to kubeless.

I will investigate.

[2017-09-08 15:20] shevegen opened #297 "[Minor docu problem] Link at https://github.com/kubeless/kubeless/docs/runtimes.md is invalid or empty"
https://github.com/kubeless/kubeless/docs/runtimes.md is mentioned from the main readme
but does not show anything useful right now. I was expecting a bit more information.

By the way, since ruby now is supported \o/ don't forget the crystal guys; perhaps a crystal dude can help with bindings towards crystal (should be trivial if ruby is supported, since the crystal folks state that it is very ea

[2017-09-08 17:38] arjunrao87 commented on #294
When i run ````npm install```` inside the pod, i get this

[code]

whereas outside the vpn it works as expected

[code]

[2017-09-08 17:40] sebgoa commented on #294
Right, but does this happen inside any pod that you create ?

or is just inside a pod that kubeless creates ?

[2017-09-08 22:06] SEJeff commented on #30
Tie that all up with the [kafka-operator](https://github.com/krallistic/kafka-operator) to OPERATOR ALL THE THINGS!

[2017-09-09 16:15] sebgoa commented on #297
@shevegen fixed ,thanks for reporting the issue. the link is fixed and fwiw, the page is at: https://github.com/kubeless/kubeless/blob/master/docs/runtimes.md

[2017-09-09 16:15] #297 closed

[2017-09-11 22:51] arjunrao87 commented on #294
@sebgoa it is inside a pod that kubeless creates. For any other pod I create I am able to pass env vars to the docker image running within the pod

[2017-09-12 04:03] ngtuna commented on #294
Hi @arjunrao87 May I ask your current kubeless version ? And the command you used to deploy your function ?

[2017-09-12 04:53] anguslees commented on #294
Looks like we're not setting the environment for the init container.

[2017-09-12 15:46] arjunrao87 commented on #294
@ngtuna minikube version: v0.21.0

Command to deploy
[code]

[2017-09-13 04:38] ngtuna commented on #294
@arjunrao87 Thanks. Kubeless currently supports to pass env var to the function pod with `--env` flag. However it only supports function with no dependency. In your case, Kubeless creates the function pod that contains two containers: 1) init container goes up first to load the dependency, 2) runtime container starts when the init container finishes his job in order to execute the function code.

[2017-09-13 07:38] ngtuna commented on #176
Done as the PR #290 got merged

[2017-09-13 07:38] #176 closed

[2017-09-13 07:39] ngtuna commented on #204
I've had it landed in the PR #278

[2017-09-13 07:39] #204 closed

[2017-09-14 15:36] ngtuna commented on #277
Close this as #291 has landed

[2017-09-14 15:36] #277 closed

[2017-09-19 07:22] ngtuna commented on #214
I close this one as the PR #264 got merged

[2017-09-19 07:22] #214 closed

[2017-09-19 07:22] ngtuna commented on #215
This one can also be closed

[2017-09-19 07:22] #215 closed

[2017-09-19 07:25] ngtuna commented on #115
ref #287

[2017-09-19 07:27] ngtuna commented on #10
We added two PRs for the autoscaling stuff #253 and #269

[2017-09-19 13:50] sebgoa opened #301 "Add python3.4 runtime"
I added python3.4 runtime Dockerfile some time back but never added it in the k8s utils code:

https://github.com/kubeless/kubeless/pull/202#issuecomment-330542385

we need to add it here:
https://github.com/kubeless/kubeless/blob/master/pkg/utils/k8sutil.go

@andresmgot that should be an easy one for you ?

cc/ @brunomcustodio

[2017-09-19 16:09] arjunrao87 commented on #294
@ngtuna - I was wondering when this issue would be patched / if you guys are looking at this, since we haven't been able to load dependencies for our functions, as we are behind a proxy.
Thanks for your help!

[2017-09-20 08:17] andresmgot commented on #301
Sure, I'll take it

[2017-09-20 08:56] ngtuna commented on #294
@arjunrao87 I just added a PR to cover this case. We are planning to cut a new release today. Will let you know then.

[2017-09-20 15:44] arjunrao87 commented on #294
@ngtuna Awesome. Thank you!

[2017-09-21 09:13] #301 closed

[2017-09-21 09:53] andresmgot commented on #292
I am taking this one

[2017-09-21 13:34] sebgoa commented on #294
Arjun if you can confirm that it works for you now that would be great.

0.2.0 is available in the release page.

[2017-09-21 13:35] #208 closed

[2017-09-21 13:36] #115 closed

[2017-09-21 18:52] fabriciosanchez opened #305 "Documentation improvements"
Hi all,

I've tried to use Kubeless for the first time some days ago but recurring only to the repo documentation I wasn't able to accomplish the entire process (kubeless cli + kubeless controller).

I'm proposing the improvement of the overall documentation.

[2017-09-21 19:47] sebgoa commented on #305
yes you are right, we let the docs lag the features currently.

where did you get stuck ? the deployment should be fairly straightforward with:

[code]
then downloading the CLI from https://github.com/kubeless/kubeless/releases

[2017-09-21 21:43] arjunrao87 commented on #294
@ngtuna @sebgoa  - Works as expected! Thanks for the quick turnaround
However, I did come across a couple of issues related to
- private npm registry
- multivalue environment variables
I will open new issues for these. Thanks for the help!

[2017-09-21 21:49] arjunrao87 opened #306 "Using private NPM repo in init container"
Currently there is no way to use private repo node modules in the kubeless function. One way to do so was mentioned as passing an env variable of NPM_CONFIG_REGISTRY but this has been proven to not be a working solution ( https://github.com/npm/npm/issues/4444 ). Another way to do so would be to set the npm scope level repos like so
[code]
We tend to have a lot of modules written internally that w

[2017-09-21 21:59] tylerjl opened #307 "Support alternative ingress controllers? (i.e., traefik)"
First of all, fantastic work on this project, it's really some excellent stuff (especially with third-party integrations such as with serverless)!

In regards to support ingress resources natively, it would be really useful to be able to control annotations to some degree in order to support alternative ingress controllers (in my case, I use traefik in some deployments). In the case of traefik in

[2017-09-21 22:00] arjunrao87 opened #308 "Passing multivalues to --env flag in function deploy command"
When passing flags to the deploy command, my use case has flags which can have multiple values but the parsing of these flags gets done incorrectly.
For eg. if I have 2 sets of flags
[code]
and
[code]
If I pass it to my function deploy, cobra ( or more accurately pflag ) doesn't know which value belongs to which key since the kubeless uses StringSliceP for --env flags
[code]
splits into
[code]
The

[2017-09-22 03:11] arjunrao87 commented on #306
#294

[2017-09-22 05:08] zoltancsoka opened #311 "Better documentation for remote installation, problems with UI and pod creations"
Dear Developers,

I took the latest Kubeless and installed it on a remote cluster. During the installation I faced multiple issues, what I had to trace down and fix. The first was the persistent volume, your documentation does not state, that it is required, maybe it would be good to mention, it could save some time for the others.
The second was the permission, I had to grant cluster admin permis

[2017-09-23 02:54] FrankWalter opened #313 "Volume issues: PersistentVolumeClaim is not bound: "datadi-kafka-0""
hi, I'm a newcomer to kubernete. I followed the kubeless Installation guide and tried to deploy kubeless on aws. After defining my hello world function, I tried to trigger it, but it failed. The log showed that:
**Can't find the function pod: There is no pod ready**
I checked the description of the pods, and found that there was a problem with kafka which showed:
**PersistentVolumeClaim is not bou

[2017-09-23 03:25] #313 closed

[2017-09-23 03:50] FrankWalter opened #314 "Unable to call function in installation guide"
hi, I'm a newcomer to kubernete. I followed the kubeless Installation guide and tried to deploy kubeless on aws. After defining my hello world function, I tried to trigger it, but it failed. The log showed that:
`Can't find the function pod: There is no pod ready`
the result of "kubectl get thirdpartyresource" is
`No resources found.`
and the related logs are showed below:
[code]

[code]

[2017-09-23 03:52] FrankWalter commented on #314
My kubernete version is v1.7.4, and the kubeless yaml is [kubeless-v0.2.0](https://github.com/kubeless/kubeless/releases/download/v0.2.0/kubeless-v0.2.0.yaml)

[2017-09-23 08:06] sebgoa commented on #314
Hum, looks like an RBAC issue.

kubeless 0.2.0 now uses Custom REsource Defintions, so you should see something in:

[code]

How did you install k8s on AWS ?

[2017-09-23 08:08] sebgoa commented on #311
Hi Zoltan thanks for the report,

Can you tell us what version of k8s you are running and how you installed it ?

Also could run the following and paste the output:

[code]

thanks,

-Sebastien

[2017-09-23 08:12] sebgoa commented on #307
Hi @tylerjl thanks for the issue.

Yes that's a good point, even though we have to walk a fine line between providing convenience out of the box and not re-writing what is doable in straight up kubernetes.

But definitely that's something to think about, adding a different annotation (or even a class for that annotation) would not be hard. But maintaining it and testing it is more problematic.

So

[2017-09-23 08:15] sebgoa commented on #308
Hi @arjunrao87 usually we recommend `--env foo=bar --env bar=baz ..` but that's something to discuss

@anguslees do you see any problem with supporting `--env foo=bar,baz`

[2017-09-23 08:16] sebgoa commented on #294
so since this particular issue is fixed I will close it. Thanks for opening the other two

[2017-09-23 08:18] sebgoa commented on #306
@andresmgot that's right up your alley...do you mind looking into it.

[2017-09-23 08:18] #294 closed

[2017-09-23 11:59] arjunrao87 commented on #308
@sebgoa - an example of when an env var would have multiple variables ( atleast for us ) is the 'no_proxy' var which takes a list of domain suffixes

[2017-09-23 12:02] sebgoa commented on #308
ok gotcha, I did not get the use cas, sorry...not enough sleep

[2017-09-23 12:45] sebgoa commented on #308
@arjunrao87 so feel free to submit a PR, we can review/comment on the PR itself

[2017-09-25 01:53] FrankWalter commented on #314
I followed the [heptio](https://aws.amazon.com/cn/quickstart/architecture/heptio-kubernetes/) guide to install k8s on AWS, thanks

[2017-09-25 06:49] zoltancsoka commented on #311
Dear Sebastian,

Many thanks for your contact, in the meantime I have resolved the problem. It was related to Topic based function being called from the GUI. I stopped using the GUI and via the CLI everything works fine now. Sorry for the false alarm.

Kind Regards,

Zoltan

[2017-09-25 06:49] #311 closed

[2017-09-25 07:15] andresmgot commented on #306
Sure, I'll take a look

[2017-09-25 12:50] allantargino commented on #158
What about this flow? (very general and high level):
1. User deploys a function, specifying its requirements.
2. Requirements are handled and installed by base image (nowadays init image), sending a signal when installation finishes.
3. A new docker image (which contains the requirements) is build on top of the base image.
4. The new image is registered in a local private registry.
5. The deployme

[2017-09-25 16:38] andresmgot commented on #314
Hi @FrankWalter,

could you try to deploy the YAML that is compatible with RBAC? You can find it in the releases page:
[code]

[2017-09-25 19:21] arjunrao87 opened #317 "Add CONTRIBUTING.MD"
As a new committer I was a little uncertain as to what the procedure is to contributing to the kubeless project. Having some guidelines in a CONTRIBUTING.MD file like in other OSS would help new committers navigate through the process.

[2017-09-25 19:26] sebgoa commented on #317
yes, good point. I will fix that tomorrow

[2017-09-25 20:35] Surya361 opened #318 "kubeless not create to get kube client"
level=fatal msg="Cannot get TPR client: open /var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory"

the secret is created and exists
NAME              SECRETS   AGE
controller-acct   0         1h
default           0         12h

[2017-09-26 00:09] migmartri opened #319 "Error on minio ocr example"
I get the following error when I try to run the minio ocr example found [here](https://github.com/kubeless/kubeless/tree/master/examples/minio#use-kubeless-for-managing-files)

[code]

The init container seems to install the dependencies properly

[code]

[2017-09-26 00:25] migmartri opened #320 "Unable to use Kafka topic after minikube restart"
I have deployed the basic function that shows the received context from [here](https://github.com/kubeless/kubeless/tree/master/examples/minio#use-kubeless-to-echo-minio-events) and the function works properly.

But it seems that the function's CPU usage is too high.

If I do docker stats inside the minikube instance I get 89% CPU usage.

[code]

And from within the container I can see that the py

[2017-09-26 01:04] migmartri commented on #320
I have been able to debug a little bit more.

I previously said that the events were being sent correctly, I was wrong. In minio I am getting the error:

[code]

And the kafka daemonset returns

[code]

So I think we have two possible bugs here:

1 - Kafta is in non-healthy state and I am not sure how to recover it.
2 - The kubeless function pod is in some kind of loop that is draining CPU time wi

[2017-09-26 06:02] sebgoa commented on #319
@migmartri sorry, I had a fix locally but never pushed, the PR is in ....

[2017-09-26 08:04] FrankWalter commented on #314
it works! thanks!

[2017-09-26 14:23] andresmgot commented on #318
Hi @Surya361,

In order to be able to help you we need to know how did you deploy kubeless (and which version) and any other info you can provide in order to reproduce your issue.

[2017-09-26 15:08] Surya361 commented on #318
Hey its sorted we didnt bootstrap our cluster with service-account-private-key so the service account is not creating secret so we got this error.
But now we are facing issue regarding connectivity to apiserver, its using clusterip, which is not routable from inside the pod. can you please help me with this

[2017-09-26 16:24] #319 closed

[2017-09-26 16:39] sebgoa commented on #314
@FrankWalter can you confirm that RBAC was the issue, and that running the v0.2.0 version of kubeless for RBAC installs solved the problem ?

[2017-09-26 17:02] sebgoa commented on #320
Are you on minikube ?

[2017-09-26 17:30] sebgoa commented on #318
@Surya361 you still need to tell us which version of k8s, and which version of kubeless you are using, plus give us additional info:

* which function are you trying to deploy
* any error logs from the pods

Otherwise, we have very little info to help you debug this. From your explanation we cannot tell if it is a kubeless error. It could be a k8s configuration error.

[2017-09-26 17:35] Surya361 commented on #318
We are using kubernetes version 1.7  and kubeless Ver 0.1
The kubeless controller says that it cannot connect to the service virtual ip of the API server. Since service virtual ip are not routable from inside the pods

[2017-09-26 17:37] sebgoa commented on #318
Can you paste the actual logs from the kubeless controller pod ?

[2017-09-26 17:46] Surya361 commented on #318
E0926 17:45:35.487555       7 reflector.go:201] github.com/kubeless/kubeless/pkg/controller/controller.go:119: Failed to list *spec.Function: Get https://172.16.218.249:443/apis/k8s.io/v1/functions?resourceVersion=0: dial tcp

the ip the service virutal ip of kubernetes apiserver

[2017-09-26 19:11] sebgoa commented on #318
Can you put more logs.

It is most likely not an issue of networking, but more an RBAC issue (i.e permissions to access the API server). Are you using RBAC ?

Can you tell us what `kubectl get thirdpartyresources` returns.

[2017-09-26 19:15] Surya361 commented on #318
NAME              DESCRIPTION                              VERSION(S)
function.k8s.io   Kubernetes Native Serverless Framework   v1

[2017-09-26 21:57] migmartri opened #322 "Inaccurate function exposure Information on kubeless.io example"
The main example found in http://kubeless.io/examples/ mentions that the function can be triggered directly if using Minikube by executing.

[code]

This does not work since the function services now defaults to `ClusterIP` instead of `NodePort`, change introduced in this commit https://github.com/kubeless/kubeless/commit/c15c9d04fd9ae5eb47ba5f5499b331f1ace79bcc

[2017-09-26 23:41] migmartri commented on #320
Yes, Minikube v0.22.2

[2017-09-27 10:45] andresmgot commented on #322
Thanks for reporting!

[2017-09-27 10:57] andresmgot opened #324 "Function is not redeployed after being deleted"
If a function is deleted and recreated just after that the function is never deployed:
[code]

[2017-09-27 11:18] #322 closed

[2017-09-27 12:24] deesx commented on #205
Hello, I was just trying out today kubeless sorry if unburying this issue relates to the fact that i'm just getting in.

Anyhow, following the very first and basic python http example provided in the docs, ran into this same error.

Ran `kubectl label pods kafka-0 -n kubeless kubeless=kafka`and the other, first complained with the following `error: 'kubeless' already has a value (kafka), and --ove

[2017-09-27 13:00] arapulido opened #325 "Kubeless Minio example missing steps"
The example here

https://github.com/kubeless/kubeless/tree/master/examples/minio/slack

is missing info on how to pass the Slack token as a secret, as described here:

https://github.com/kubeless/kubeless/tree/master/examples/slack

It may be a good idea also to point people to how to create a legacy token:

https://api.slack.com/custom-integrations/legacy-tokens

[2017-09-27 13:05] arapulido opened #326 "Minio server / client mismatch on the Kubeless example"
When following:

https://github.com/kubeless/kubeless/tree/master/examples/minio

When executing:

mc events add localminio/ocr arn:minio:sqs:us-east-1:1:kafka

You get the error

mc: <ERROR> Cannot enable notification on the specified bucket. A specified event is not supported for notifications.

This is because the mc is trying to add "GET" type events by default (when not specified). There's a

[2017-09-27 13:06] arapulido opened #327 "Kubeless tutorial Minio port issue"
The tutorial in this URL

https://github.com/kubeless/kubeless/tree/master/examples/minio

One of the steps points out this:

mc config host add localminio http://192.168.99.100:32751 foobar foobarfoo

This should be changed so the 32751 port gets substituted by the actual port the service got deployed to or at least explicitly tell the person how to find it out and substitute it manually. Most pe

[2017-09-27 13:11] arapulido commented on #141
@ngtuna Shall we close this issue as fixed, then?

[2017-09-27 15:04] andresmgot commented on #205
Hi @deesx,

Which version of kubeless are you using?
Also, which are the steps you followed and what is the exact the error you are seeing?

[2017-09-27 17:51] deesx commented on #205
sorry for not being accurate,
strictly up until here : https://github.com/kubeless/kubeless#http-function
The function creates successfully, i can run `kubectl get functions -n kubeless` and see it listed

When i run as shown `kubeless function call get-python --data '{"echo": "echo echo"}'`,
i get the error described in the inital post-comment : `panic: runtime error: index out of range`. here's

[2017-09-27 18:59] sebgoa commented on #141
I think we can close it once we merge the support for custom runtime in the CLI.

[2017-09-28 07:12] FrankWalter commented on #314
I followed andresmgot's suggest, and RBAC was the issue, and running the v0.2.0 version of kubeless for RBAC installs did solve the problem.
thanks!

[2017-09-28 07:56] FrankWalter opened #330 "Is there a way to pulish topics in a custom container?"
Kubeless provide
[code]
to invoke  `/opt/bitnami/kafka/bin/kafka-console-producer.sh --broker-list localhost:9092 --topic` in the kafka pod.
This requires the kubernete Execute API to run the remote cmd, however, a custom container may don't have such environment. Should I create a new service to transfer the command to the kafka pod?

Is there a way to directly use kafka-console-producer.sh to pu

[2017-09-28 07:57] ngtuna commented on #317
Hi @arjunrao87 We have something for newcomer here fyi https://github.com/kubeless/kubeless/blob/master/docs/dev-guide.md

[2017-09-28 08:14] #330 closed

[2017-09-28 08:28] ngtuna commented on #324
Can you also give the actual logs on the controller pod ?

[2017-09-28 08:35] andresmgot commented on #324
I checked the logs but it didn't show anything relevant just the usual "success" messages:
[code]
I need to do a deep debug yet.

[2017-09-28 10:50] Surya361 commented on #318
Hey we found out the issue, our pods are not able to communicate with the service virtual ips since we are using macvlan, so we created a hack but now kubeless controller is giving an invalid cert error because of a self signed cert
E0928 10:42:55.983610    3986 reflector.go:201] github.com/kubeless/kubeless/pkg/controller/controller.go:119: Failed to list *spec.Function: Get https://172.16.218.24

[2017-09-28 11:44] andresmgot commented on #330
To run `kubeless` commands the host should be able to reach to the Kubernetes API server and the pods in the cluster.

Did you already solve your issue?

[2017-09-28 12:07] andresmgot commented on #306
Hi @arjunrao87,

the feature is under review but I pushed a temporary controller image so you can test it: `andresmgot/kubeless-controller:custom-registry`

Could you give it a try and let us know if it works for you? For using it you can execute:
[code]
And deploy your function using `--env NPM_REGISTRY=http://your-registry.com` and (if needed) `--env NPM_SCOPE=@yourorg`

[2017-09-28 14:25] andresmgot commented on #327
@arapulido could you verify the documentation updates?

[2017-09-28 14:29] andresmgot commented on #320
Hi @migmartri

I just tested the example and I don't see any errors in the minio pod nor the spikes of CPU you saw. I can see the Kafka warning but apparently it is something harmless (check [this similar issue](https://github.com/bitnami/bitnami-docker-tensorflow-serving/issues/2)):
[code]

I just sent a PR (#331) updating the READMEs to clarify some commands and I tested it with a fresh minikube

[2017-09-28 14:57] arjunrao87 commented on #317
@ngtuna This is great! Definitely very helpful. I just thought that the CONTRIBUTING.md file is the first place newcomers tend to look for across other projects. Maybe having one and linking it to the dev-guide might be helpful? If not, I can close this issue

[2017-09-28 18:28] migmartri commented on #320
I am able to reproduce the issue. If you restart Minikube then the minio demo does not work anymore and the CPU spikes.

I receive the error  ` Error sending event to Kafka - kafka server: In the middle of a leadership election,
there is currently no leader for this partition and hence it is unavailable for writes.`

See below the logs from the MInio pod.
[code]

[2017-09-28 18:57] arjunrao87 commented on #317
Would it help to add instructions to the dev-guide, to pull in dependencies ( go get ./ ... ) and running the test suite( go test ) as a baseline once the project is setup?

[2017-09-28 21:54] arjunrao87 commented on #306
@andresmgot Works like a charm! Thanks so much. After the review is done, it will be part of the next official release right? I'll close this issue now.

[2017-09-28 21:54] #306 closed

[2017-09-28 22:26] arjunrao87 opened #333 "Kubeless 'topic publish' unable to handle double quote marks in data"
This is probably something silly and I am not sure this is necessarily a nodejs problem, but I am having trouble with parsing events consumed off the pubsub queue in a nodejs function.

Lets say that this is the function definition that is listening to the 'foobar' topic
[code]
where insertParams is trying to add a 'geocoding' property to the message object.

For me the 'message' object itself is

[2017-09-29 00:44] anguslees commented on #308
yep, "multivalues" is a bit of a red herring - a simpler way to phrase this issue is simply "environment values should be able to contain commas"

[2017-09-29 04:06] ngtuna commented on #317
Hi @arjunrao87 yes that would be helpful. A PR for that is very welcome 👍

[2017-09-29 05:24] ngtuna commented on #327
@arapulido @andresmgot I checked it. This line fixed the issue. Thanks @andresmgot 👍

[code]

[2017-09-29 07:27] andresmgot commented on #306
Yes, it will :)

[2017-09-29 07:36] andresmgot commented on #333
Hi @arjunrao87,

The messages received by the functions are strings, they are not automatically parsed into JSONs. Your function should be something like:
[code]
I found a different bug in the `kubeless topic publish` command though. The `"` are omitted when passing the message so while that gets fixed you can try escaping the message (note that the JSON fields should use double quotes):
[code]
Le

[2017-09-29 21:05] arjunrao87 commented on #333
@andresmgot  bingo! that is the issue with the topic publish. Thanks! I have another issue with the using kafka for chaining js functions which I will raise another issue for.

[2017-09-29 21:36] arjunrao87 opened #334 "Invalid message being passed between chained functions"
After using the workaround in #333 to escape double quotes in data passed to the topic,  I have 2 functions that I am chaining via the pubsub event trigger mechanism

Lets say function 1 looks like this
[code]
where sendToNextFunction uses a kafka producer to send the next message. Currently that producer looks something like this
[code]
I see the event getting triggered in the next function but t

[2017-10-02 07:31] #325 closed

[2017-10-02 08:13] arapulido commented on #327
@andresmgot shall we close this one?

[2017-10-02 08:14] arapulido commented on #326
@andresmgot Shall we close this one?

[2017-10-02 08:19] andresmgot commented on #334
Regarding the `kaka-node` docs you can only send a `string` or a `KeyedMessage` https://www.npmjs.com/package/kafka-node#sendpayloads-cb (specifying the `key` property).

My advice is to send the message as a string and parse it in the second function:
[code]

[2017-10-02 08:20] andresmgot commented on #326
Yes (I thought is will be automatically closed)

[2017-10-02 08:20] #326 closed

[2017-10-02 08:20] andresmgot commented on #327
Yes. _closing_

[2017-10-02 08:20] #327 closed

[2017-10-02 08:25] andresmgot commented on #211
This will be fixed once #323 is merged

[2017-10-02 11:02] #213 closed

[2017-10-02 12:49] #281 closed

[2017-10-02 13:20] andresmgot commented on #305
I am marking this as solved, let us know if there is something else to check!

[2017-10-02 13:20] #305 closed

[2017-10-02 13:21] andresmgot commented on #314
closing this then, thanks for checking!

[2017-10-02 13:21] #314 closed

[2017-10-02 13:53] andresmgot commented on #318
Hi @Surya361,

We use [client-go](https://github.com/kubernetes/client-go) for connecting to the Kubernetes API. This client takes the certificate information from the secret mounted in `/var/run/secrets/kubernetes.io/serviceaccount` and it seems that the information there is not valid in your case.

Note that for the certificate to work it should use the default hostname. If the IP changed becaus

[2017-10-02 14:49] arjunrao87 commented on #334
Yeah that works! Thank you

[2017-10-02 14:49] #334 closed

[2017-10-02 14:58] andresmgot commented on #320
I see, after a restart the Kafka service is not healthy. I am not able to publish messages even inside the kafka pod. It hangs when I execute:
[code]
It seems that the broker gets misconfigured (from `/opt/bitnami/kafka/logs/state-change.log`):
[code]
@jbianquetti-nami any clue what might be happening?

[2017-10-02 15:39] andresmgot opened #337 "Unable to update function using a trigger topic"
The option `--trigger-topic` is not available when executing `kubeless function update`. When a function is updated the type is hardcoded to `HTTP`.

[2017-10-02 16:16] jbianquetti-nami commented on #320
In  https://github.com/kubeless/kubeless/releases/download/v0.2.1/kubeless-rbac-v0.2.1.yaml, the zookeeper service doesn't have a volumeClaimTemplate like the Kafka one have.
It's possible after restarting the Zookeeper volume and the info about topic has disappeared. That's the reason why for the ID mismatch (1003 on Kafka and 1001 inthe Zookeeper znode).

I'll add the volumeClaimTemplate to the

[2017-10-03 08:46] jbianquetti-nami commented on #320
The problem regarding Zookeeper have the effect of when you restart the cluster, the topic meta-information disappears,  but there's also another problem related to  Kafka.
Looks like Kafka is not persisting the data directory correctly. I will open a task for that.

[2017-10-03 09:26] jbianquetti-nami commented on #320
As a workaround we can provide the environment variable     "KAFKA_LOGS_DIRS="/opt/bitnami/kafka/data"  instead of     "KAFKA_LOGS_DIRS="/opt/bitnami/kafka/logs"

[2017-10-03 10:41] Surya361 commented on #318
@andresmgot thanks changed the IP SAN and it worked

[2017-10-03 10:41] #318 closed

[2017-10-03 15:24] jbianquetti-nami commented on #320
Kafka container version 0.11.0-1-r1 (just released) fix the issue regarding persisting data. I recommend updating to this version in the next release.

I'm working on debugging the Zookeeper issue yet.

[2017-10-03 17:43] arjunrao87 commented on #324
+1 - I see the PR but just wanted to say we noticed the same issue over the last couple of days

[2017-10-03 18:27] arjunrao87 opened #341 "Pointing to custom volume mounts in kubeless functions"
When a function loads up there is no way to specify custom volume mounts to point the container to. Since the functions are ephemeral, if the function crashes there is no way to persist the function logs. The way we preserve logs in our kubernetes deployment is by redirecting logs to an NFS/S3 mount point. Is there anyway to inject that NFS volume ( or any other volume mount )  via the kubeless cl

[2017-10-03 19:01] sebgoa commented on #341
Hum, my gut reaction is that you should not redirect logs like this. You should send your logs to elasticsearch via a log aggregator like fluentd.

fluentd deamon will pick up logs from any functions wherever they land.

[2017-10-03 21:09] arjunrao87 opened #342 "Workflow management mechanism in Kubeless"
This is less of an issue and more of an improvement proposal. Currently we use event chaining to create workflows, but as the serverless functions become more complex and numerous, maintaining the workflow graph will become more complicated.

Since other serverless function frameworks are coming up with workflow management mechanisms I just wanted to start a conversation around something like this

[2017-10-04 08:54] #333 closed

[2017-10-04 16:03] andresmgot commented on #342
Hi @arjunrao87,

thanks for the proposal, it is indeed a interesting feature. We will take it into account for next iterations. In order to achieve something like that we would need to refactor how we handle triggers, being able to use them under a certain logic. Stay tuned for updates :)

[2017-10-04 16:06] arjunrao87 commented on #341
Yeah I tend to agree with you. We have some legacy processes in place and wanted to see if we could leverage that for this problem, but looks like it's not the right way to do it. We will try to see how we can use something like fluentd to streamline this. Thanks!

[2017-10-04 16:07] #341 closed

[2017-10-05 10:17] #324 closed

[2017-10-05 16:48] andresmgot opened #343 "Remove Travis builds for Go 1.7 and OS X"
We are not using the binaries produced for Go 1.7 nor OS X so to avoid unnecessary bottle necks we can drop those builds.

[2017-10-06 08:48] jbianquetti-nami commented on #320
More info about zookeeper: https://github.com/kubeless/kubeless/pull/339#issuecomment-334696344

[2017-10-06 10:17] #292 closed

[2017-10-06 13:53] arjunrao87 commented on #308
Since the PR for this has been merged and before I close this out, I was curious to know what the earliest was when we could get our hands on an updated kubeless version. Thank you!

[2017-10-06 15:04] arjunrao87 opened #345 "Passing data to scheduled functions"
I might have missed the documentation for this but I wasn't able to figure out how to pass data to a scheduled function each time it runs. The way it is done for HTTP-trigger functions is by passing the --data flag each time you "call" the http function. However, the scheduled function ( or any function trigger type) does not support passing parameters to the function at deploy time. For example,

[2017-10-06 15:49] jbianquetti-nami commented on #345
The function data is actually stored in a ConfigMap, and if I understood correctly, you want to test different URLs using the same function, right?

[2017-10-06 16:32] andresmgot commented on #345
@arjunrao87 could you try using environment variables? You can deploy your function using `--env URI=...` and read that environment variable from your function.

[2017-10-06 16:32] andresmgot commented on #308
@arjunrao87 we are want to close #340 before doing the release. We will have a new release soon (probably next Monday).

[2017-10-06 16:52] arjunrao87 commented on #345
It could be an option but isn't there any way I can leverage the "request" parameter ? For eg. my scheduled function looks like this right now
[code]

[2017-10-06 16:53] sebgoa commented on #345
@arjunrao87 so every time the function is "scheduled" you want to pass some different parameters ?

Currently the way this is implemented is that we create a CronJob that regularly triggers the function over http. so the CronJob would need to pass the parameters.

[2017-10-06 16:55] arjunrao87 commented on #345
@sebgoa each time the scheduled function runs I want the same parameters to keep getting passed to it, but each scheduled function that I deploy should run with different parameters that I pass ( in my head its during deploy time because I dont have control on invokation of the scheduled function except for the scheduled time )

[2017-10-06 16:58] sebgoa commented on #345
Ok got it.

We need to check what the UX is on Lambda and Cloud functions

[2017-10-09 07:35] #317 closed

[2017-10-09 13:50] #337 closed

[2017-10-09 15:24] #343 closed

[2017-10-09 16:47] sebgoa commented on #170
@ChrisBellew this was merged 18 days ago. Sorry it took a while, but MSFT stepped in and got it done.

[2017-10-09 16:47] #170 closed

[2017-10-09 17:39] andresmgot commented on #308
@arjunrao87 we just released a new Kubeless version. Happy to have your feedback!

[2017-10-10 07:49] ngtuna commented on #10
As we now have prom and hpa supported, I will close this

[2017-10-10 07:49] #10 closed

[2017-10-10 09:04] ngtuna commented on #345
@arjunrao87 yes the scheduled func feature right now only supports http get request (see #264). I thought about supporting `--data` flag for it but I haven't implemented it yet.

@sebgoa Is this a chance for newcomers to jump into the code?

[2017-10-10 09:04] sebgoa commented on #196
@nikhita this one should be relatively easy to start with.

You should run a kafka deployment outside kubeless...then figure out how to start kubeless to use that specific kafka. Verify that pubsub functions work.

It should give you a smooth intro to running kubeless and using pubsub functions.

[2017-10-10 09:06] sebgoa commented on #211
@andresmgot can you check that this is fixed, a manual test , starting from scratch as  newbie would be great.

[2017-10-10 09:06] sebgoa commented on #244
So we need to verify how we can expose function via ingress on GCE.

[2017-10-10 09:07] sebgoa commented on #307
@nikhita that should be fairly straigtforward as well to start diving in the code.

[2017-10-10 09:10] ngtuna commented on #342
Link related issues together #88

[2017-10-10 09:20] andresmgot commented on #211
The specified error in the description is fixed. I think we can do better to report errors to the user since they need to check the controller logs to check if a deployment succeeded. Anyway that's a different issue so we can close this one.

[2017-10-10 10:11] #211 closed

[2017-10-10 13:02] andresmgot opened #354 "Decouple triggers and runtimes"
Currently for each new runtime we need to add a container image per trigger. We should design a runtime abstraction. So that:
 - Triggers can be added (http or event or something else).
 - These can be in a single language i.e golang
 - Runtimes can be added more easily

We need to define interface between trigger container and runtime. What type of protocol to use to pass the request and response

[2017-10-10 13:09] andresmgot opened #355 "Support more than one file per function"
Some functions require multiple files to be “packaged”. While this can be done by putting all files in the configMap, we will reach the etcd limitation of 1MB.

That means that we need to be able to zip the content (something Lambda does and something serverless.com supports), store it somewhere and retrieve it inside the runtimes.

Discussion document: https://docs.google.com/document/d/1EXnciDEa

[2017-10-10 13:22] andresmgot opened #356 "Add Prometheus metrics for the controller"
We could add metrics for the following:
 - kubeless_controller_function_create_total{namespace, function_name, topic_name, success}
 - kubeless_controller_function_create_duration_seconds_sum{namespace, function_name, topic_name, success} and _count
    - The same for _delete_ and _update_

[2017-10-10 13:24] andresmgot opened #357 "Store function logs and deployment history"
Deployment history and function logs are lost whenever the pod running the controller or the function is restarted. We should implement a way of storing and retrieving this information.

[2017-10-10 15:34] andresmgot commented on #345
Note that if we want to add a `--data` flag it would be for the `deploy` (and `update`) command and it will only be applicable in the case that the trigger is `scheduled`. That would entangle the logic.

I checked the AWS Lambda handles parameters and they use environment variables in [their tutorial](http://docs.aws.amazon.com/lambda/latest/dg/tutorial-scheduled-events-create-function.html). Thei

[2017-10-10 15:57] ngtuna commented on #284
@DazWilkin So I hope `kubeless ingress` serves you perfectly :-)

[2017-10-11 02:39] mike-pun opened #359 "[31mFATA[0m[0000] Can not get kubernetes config: GetFileAttributesEx /.kube/config: The system cannot find the path specified."
Started a fresh install on Google Container Cloud. Completed installation process seemingly successfully. On windows 10 client trying
` kubeless function deploy get-python --runtime python2.7 --from-file test.py --handler test.foobar --trigger-http`

using the test.py example and getting the above message.
Installed v0.2.2 of Kubeless, running on GKE node version 1.7.6

[2017-10-11 02:57] ngtuna commented on #359
Thanks for this good catch @mike-pun. The client missing default detection for kubeconfig. I will submit a fix shortly. Meanwhile you can just declare KUBECONFIG envvar pointing to your kubeconfig file then it will work :-)

[2017-10-11 03:11] mike-pun commented on #359
That works.. thanks...

[2017-10-11 06:38] sebgoa commented on #359
@ngtuna note that Mike seems to be on windows 10 client, so the kubeconfig detection might be a bit different

[2017-10-11 07:30] ngtuna commented on #359
@mike-pun can you confirm the envvar for "home" in windows 10 ? I read somewhere it is `%HOMEPATH%`, not `%USERPROFILE%`. Sorry I don't have windows 10 machine :-(

[2017-10-11 09:04] ahriy opened #361 "How does kubeless achieve parallelism for function execution?"
Kubeless provides the following cmd to deploy a function
[code]
This cmd tells k8s to create a corresponding deployment for the function. However, this cmd doesn't specify the replica, so only one consumer will be created for the function handler. kafka cluster uses multi-consumer to achieve parallelism, does kubeless support multi-consumer?

thanks!

[2017-10-11 09:06] sebgoa commented on #361
We just merged an auto-scaling feature, the runtimes are instrumented via prometheus so the number of replicas will scale depending on the number of function calls.

So yes "parallelism" will be achieved. We are not testing it currently, so there might be some kafka tuning to do

[2017-10-11 09:40] FrankWalter commented on #361
I notice that when typing `kubectl get hpa`, the output is
`No resources found.`
Should I have to setup auto-scaling manually by using `kubectl autoscale deployment test --min=2 --max=10`?
or kubeless can setup auto-scale by itself? and which code does this job?

thanks!

[2017-10-11 09:50] ngtuna commented on #361
Hi @FrankWalter, so the auto-scaling feature in kubeless now requires few manual steps to setup:

1) First, you must be on 1.7 and follow this guideline to setup the "infrastructure" https://github.com/kubeless/kubeless/tree/master/manifests/autoscaling. Stop at the last step (or you might want to try the sample app)

2) As it's not included in the lastest release, at this moment you must build th

[2017-10-11 10:52] ngtuna commented on #308
Can we close this as the new release has been rolled out ? ping @arjunrao87

[2017-10-11 11:07] FrankWalter commented on #361
@ngtuna , thanks for your reply, I will try it!

[2017-10-11 15:44] arjunrao87 commented on #308
Works like a charm! Thanks for all the help

[2017-10-11 15:44] #308 closed

[2017-10-11 21:24] arjunrao87 commented on #320
We are seeing the same issue. When minikube is restarted, the topics that were created prior to restart are unusable. This is the error in the function logs -
[code]
Using nodejs8 runtime ( using kafka-node library to connect to kafka ), minikube v0.21.0, kubeless v0.2.3 (bfefb404)

I was unclear from the above conversation if the kakfa issue is expected to be fixed or not in the newer ( 0.2.3 ) v

[2017-10-11 22:03] arjunrao87 commented on #345
@andresmgot The more I think about it, the more I am comfortable with using env variables to do what you are saying. You are right saying the logic will get tangled up if --data is introduced into the deploy. Since the env vars will be restricted to each container inside the pods, I dont think its a bad way to use them to dictate how the process should run. Let me know what you guys think / if thi

[2017-10-12 04:08] FrankWalter commented on #361
I followed the instruction in https://github.com/kubeless/kubeless/tree/master/manifests/autoscaling
Everything went fine, but when I tried to deploy a test function, I found there was no pod created for this function.
[code]
Is this caused by dind? I didn't see this problem when deploying a function in google cloud.

[2017-10-12 04:13] ngtuna commented on #361
I don't think it's caused by dind. It worked fine with dind in my setup. Can you paste the kubeless-controller log ?

[2017-10-12 07:28] FrankWalter commented on #361
Sorry, I made a mistake, I should use the RBAC-enabled version.
I successfully create a autoscale for test using the following cmd
[code]
And I called this function by using
[code]
But I still didn't see a replica for pod test-xxxxxx
[code]
What qps value should I assign?

[2017-10-12 07:50] ngtuna commented on #361
Cool!!! The qps value is number of incoming requests per second. So you set 1000 requests per second. Can you just check `kubectl get hpa` and paste the output here in order to see it's working properly ?

[2017-10-12 08:02] FrankWalter commented on #361
[code]

[2017-10-12 08:05] FrankWalter commented on #361
There are other things I care about.
I read the developer guild of AWS lambda, and it seems lamdba support event based async invokes.
1. Does kubeless support this?
2. Is there a mechanism to coordinate different functions with dependence?

[2017-10-12 10:06] ngtuna commented on #361
@FrankWalter Basically the HPA controller takes a bit time to catch up the metrics from the custom api server, but it should work. I hope you can see it after few minutes. I want to do the optimization at that point (PR is welcome 😃 ) I post here the recorded video I made just in case you need a worked example: https://www.youtube.com/watch?v=Vywu9dBRh0U

Regarding the event based async invoke, we

[2017-10-12 10:31] FrankWalter commented on #361
@ngtuna thanks for your help! I will follow the kubeless community, and I'm glad to see kubeless becomes better and better.
Great work by the way:smiley:

[2017-10-12 10:41] FrankWalter commented on #361
One more question....
If I want to achieve serial execution for a set of functions with dependence, should I do the synchronization by myself?

[2017-10-12 11:02] sebgoa commented on #361
@FrankWalter it would be terrific if you could confirm that the HPA integration works, a blog would even been super helpful to get the word out. There is also no documentation yet.

As for the function dependency there is an issue filed:

https://github.com/kubeless/kubeless/issues/342

Which we all need to discuss.

[2017-10-12 12:24] FrankWalter commented on #361
ok, I'll try. thanks @sebgoa

[2017-10-12 15:11] deissnerk commented on #354
Very interesting. Is the trigger container supposed to be a side car to the runtime or a pod on its own?

[2017-10-12 15:22] alban opened #365 "functions should have a timeout"
To protect against infinite loops taking the cpu, functions should have a timeout.

Example of function in Python to test this:

[code]
Once the function is triggered, the user cannot cancel the execution of the function without killing the process or the pod.

AWS Lambda have the [following timeout](https://aws.amazon.com/lambda/faqs/):

[2017-10-12 15:53] sebgoa commented on #354
@deissnerk that's TBD. I think Andres has a proposal that he is going to submit as PR, so that we can discuss there.

[2017-10-13 07:38] FrankWalter commented on #361
I modified the test.py file into this to block the function:
[code]
I expected this could cause low qps which would lead to pod autoscale. However, it didn't work, and the number of test pod remained to be 1.
I notice that there was something abnormal in the output of `kubectl get hpa`

[code]
The TARGETS is `<unknown>`, does it matter?

[2017-10-13 07:41] sebgoa commented on #361
You need to call the function in a loop to increase the "query per second" rate. Putting a sleep in there without putting some load on the function will not do anything.

[2017-10-13 07:55] FrankWalter commented on #361
I used
[code]
to increase qps previously. But it didn't work either. :disappointed:

[2017-10-13 08:00] sebgoa commented on #361
@ngtuna does the autoscaling work for pubsub functions ?

[2017-10-13 08:55] #359 closed

[2017-10-13 08:57] ngtuna commented on #359
@mike-pun I closed this issue as the PR #360 was merged. If you find the problem happens again at some points, please let us know.

[2017-10-13 20:36] jjo opened #370 "Fix RBAC controller role"
Current  RBAC rules added by kubeless manifest which are too broad,
and incorrectly using `apiGroups: ['*']`:
[code]

[2017-10-14 08:59] sebgoa commented on #370
we will need to change the function domain before tightening those.

[2017-10-16 07:34] andresmgot opened #373 "Autoupdate brew recipe"
The brew recipe at https://github.com/kubeless/homebrew-tap has to be manually updated. We can integrate it with the release process.

[2017-10-16 07:34] ngtuna commented on #361
If the `qps` metric is used, autoscale will monitor number of "hit" to the function service. Thus, it currently doesn't work for pubsub unfortunately.

So in order to support pubsub function, we need to count the number of messages that the runtime consumes from kafka. I assume we have to define a new prometheus metric accordingly.

[2017-10-16 07:36] sebgoa commented on #373
could we also get it upstream , to avoid telling users to use our tap ?

[2017-10-16 08:06] andresmgot commented on #345
@arjunrao87 for the moment I think we should not implement the `--data` flag for the `deploy` action. In any case, it might be useful to have a `--default-data` when creating a trigger once they are decoupled from the runtime image (more info at: #354).

Feel free to close this issue if for the moment the `--env` flag works for you or leave it open if you think the `--default-data` would fit your

[2017-10-16 08:29] andresmgot commented on #373
We can investigate the possibility

[2017-10-16 11:10] andresmgot opened #375 "Show functions statistics in CLI"
Since functions expose metrics in `/metrics` it may be useful for users to have a command to retrieve the summary of those statistics:
[code]

[2017-10-16 13:30] jjo commented on #370
PR #376 fixes this (still using existing `k8s.io` domain, can easily
modify it ofc if we change it before merging).

[2017-10-16 13:34] andresmgot commented on #354
@deissnerk we are proposing to split triggers and runtimes in different pods. This is the design document we have been preparing:
https://docs.google.com/document/d/1v9WbAyEKlBGqwpSEhzWJxezmutMA6LBHHgyXqDv9nZ0/edit?usp=sharing
Any feedback is welcomed :)

[2017-10-16 14:47] andresmgot commented on #373
I have sent a PR to the upstream project https://github.com/Homebrew/homebrew-core/pull/19506 we will wait for that to be merged, then we can automate the updates.

[2017-10-16 15:15] sebgoa commented on #354
@andresmgot can you submit this doc as a PR so that everyone can review and comment in the PR.

thanks

[2017-10-16 15:20] sebgoa commented on #375
`kubeless function top` ?

to be in-line with `kubectl top pod` ? even though it is <noun>-<verb> and not <verb>-<noun>

[2017-10-16 15:34] andresmgot commented on #375
The information shown is not the same as you mention (even though they are both metrics). I don't have a strong opinion about the verb `top`, `metrics` or `statistics` are fine for me.

[2017-10-17 01:13] mike-pun opened #379 "[31mFATA[0m[0002] address xx.xx.xx.xx: missing port in address"
Getting this message when defining an ingress. Tried it with the sample "get-python" and got the same message.

Command issued was: `kubeless ingress create route01 --function get-python`

On GKE with node version 1.7.8, running kubeless v0.2.3 from windows 10

[2017-10-17 01:59] rodcloutier commented on #244
What exactly is the purpose of the ingress manifest? Currently it exposes a demo service but there is no demo application. Am I missing something? Are we talking pure GCE or GKE cluster?

Perhaps, on GKE we wouldn't need to create a ingress controller per say unless we don't what to use the default ingress controller provided by Google.

[2017-10-17 02:00] rodcloutier commented on #379
Same here on MacOSX, GKE with node version 1.7.6 (default), running kubeless head.

[2017-10-17 03:08] rodcloutier commented on #379
The ingress will still fail. Tracking ingress support for GKE with #244

[2017-10-17 03:13] mike-pun commented on #379
Tried it with a dummy host, and getting this issue. https://stackoverflow.com/questions/45738404/gce-loadbalancer-invalid-value-for-field-namedports0-port-0-must-be-gr

This does not look like a kubeless issue.

[2017-10-17 03:48] rodcloutier commented on #379
This is not the same issue. The PR I have submitted fixes the initial problem. I was able to create ingress using the kubeless client which was not possible before the fix.

[2017-10-17 03:56] ngtuna commented on #379
It's automatically closed as the PR #380 got merged. I am reopening it and let you guys decide to close if it's solved.

[2017-10-17 04:00] rodcloutier commented on #379
I think this issue is solved.

[2017-10-17 07:07] ngtuna commented on #361
Ok so the correct answer is yes! Two of my team mates confirmed that the metric `function_call_total` can also count the number of messages consumed from kafka, then the autoscaling for pubsub function should work.

@FrankWalter Let me try to represent the test environment and do a test quickly but in the meantime may I ask you to represent the test on your setup and give the clue about `kubectl g

[2017-10-17 07:14] ngtuna commented on #375
About pubsub function, I am seeing only the nodejs runtime is exposing the `/metrics` endpoint. Correct me if I am wrong..

[2017-10-17 07:33] FrankWalter commented on #361
thanks! I will redo a quick test now, and please contact me if you need any information.
I will do my test on google cloud compute engine. @ngtuna

[2017-10-17 07:46] sebgoa commented on #244
@rodcloutier that manifest was put there really for convenience to find it :)

A function is automatically exposed via a service, in some cases we also want an ingress for a specific function. We ended up adding the `kubeless ingress` command. To test it you need to have an ingress controller. To be able to get one quickly we put a manifest in the repo.

Clearly the `/manifests` directory needs to

[2017-10-17 09:04] FrankWalter commented on #361
I just redo the test, and the logs are shown below. (google cloud compute instance with 2 vcpus and 4G mem)
What I'm really concern is that the result of  `kubectl get hpa` shows the TARGETS is unknown
[code]

[2017-10-17 22:10] arjunrao87 opened #383 "Tighter control over Scheduled Functions"
I don't see much documentation around Scheduled functions so I wanted to confirm something. If we have a scheduled function running every 2 mins, let's say the first instance is still running( execution time > 2mins ) when the 2nd instance is kicked off. Does the 2nd function get "queued"? I know that the Kubernetes CronJob spec has a bunch of options that can be set around concurrency and suspens

[2017-10-17 22:17] #345 closed

[2017-10-18 09:23] andresmgot commented on #383
Yes, we use the default options that is "Allow" for concurrent cron jobs. It would be interesting to be able to modify that behavior but I would wait until we have specific commands for each trigger to implement it. For the moment, if necessary you can execute `kubectl edit cronjob trigger-<function>` and change the `concurrencyPolicy` to `Forbid`.

As you said there is not much documentation rega

[2017-10-18 10:34] andresmgot opened #385 "Modify default trigger"
If not specified the default trigger is set to `PubSub` under the `kubeless` topic. This is difficult to discover for a new user that just executes `kubeless function deploy get-python --runtime python2.7 --from.file test.py --handler test.foobar`.

It is more common to use an HTTP trigger rather than the `kubeless` topic so we should change the default behavior so the above deployment can be invo

[2017-10-18 15:57] arjunrao87 commented on #357
Yeah I am seeing a lot of functions dying and restarting. Some under heavy load ( probably due to high cpu requirements ) and some just randomly. But trying to figure out why they are restarting is extremely onerous. I will be looking into why our pods are restarting more today but this is definitely something that would be useful

[2017-10-18 17:42] arjunrao87 opened #386 "Metrics/Instrumenting Kubeless"
I wanted to know what is the toolkit(s) available to monitor Kubeless usage, from a resource utilization perspective. I noticed that there is[ Prometheus](https://github.com/kubeless/kubeless/blob/c0622ff73363997db28605cf1e1e48a8bbb25865/manifests/monitoring/prometheus.yaml) monitoring to some degree and I wanted to know

-  Is Prometheus available for all runtimes in kubeless?
- How do we access

[2017-10-18 20:55] arjunrao87 commented on #383
Got it. We have a bunch of functions that we want to run in an automated scheduled manner. I'll need to see whether its feasible it will be to modify each of those cronjobs or have the "allow" policy be for the near term.

[2017-10-19 13:57] arjunrao87 commented on #361
I am a little late to this party, but this is of a lot of interest to us as well. Just so I get this right
- Autoscaling is not the default configuration for Kubeless but can be used if the cluster is set up for HPA
- Autoscaling is supported for HTTP via the "qps" metric and for Pub-sub via the  "function_call_total" metric and both of these are implemented and ready to be used
- If Autoscaling i

[2017-10-19 19:22] ianmiell opened #388 "github.com/kubeless/kubeless/pkg/utils.GetReadyPod ... race condition?"
I wrote a script to automate the running of a basic function:

https://github.com/ianmiell/shutit-scripts/blob/master/minikube/kubeless.py

and I think I've hit a race condition resulting in go barfing:

[code]

I think the above is a race condition; after waiting a little while and re-running it works fine:

[code]

If you want to reproduce I can help with setting up the shutit package and ironin

[2017-10-19 23:09] anguslees commented on #356
sg. We might have to combine _create_ and _update_, since the two are intertwined in the controller code.

Something that counted individual operation failures and/or queue length would be good too, since we should expose the distinction between the count/duration of an individual update attempt, and the overall count/duration of an object update including all the retries.

[2017-10-20 05:01] anguslees commented on #361
Just pointing out that calling a function 100 times/s that returns in 0.01s is the same "qps" value as calling a function 100 times/s that takes 10s to complete - even though the number of simultaneous requests is now 1000x greater.  I would suggest that qps is not a universally applicable proxy for "load"...

[2017-10-20 06:31] sebgoa commented on #388
thanks @ianmiell I will try to reproduce

I think that what is happening is that you are recreating `get-python` before it gets terminated, hence kubeless does not create it and when you try to call it...it can't...

[2017-10-20 07:46] andresmgot commented on #388
hi @ianmiell,

note that when executing `kubeless deploy ...` the program exits when the CRD with the function content is created not when the function pod is ready to receive connections. It will take some time for the pod to be ready. For doing so in our integration tests we implemented the function `k8s_wait_for_pod_ready`, you can check the code [here](https://github.com/kubeless/kubeless/blob

[2017-10-20 07:56] FrankWalter commented on #361
Hi @arjunrao87
in the kube-controller-manager, how do you config --master=apiserver-address:port?
does 127.0.0.1:8080 right?

[2017-10-20 08:02] andresmgot opened #389 "Fix topic deletion"
When trying to delete a topic the Kafka configuration ignores the action:
[code]
For fixing the above we would need to set the parameter `KAFKA_DELETE_TOPIC_ENABLE=true`. That will mark the topic for deletion during the next garbage collection. Also, it would be necessary to remove the topic from Zookeeper to speed up things `zkCli.sh ls /brokers/topics`.

cc/ @anguslees @jbianquetti-nami

[2017-10-20 10:09] jberggg opened #390 "kubeless on Openshift/Minishift 3.6"
I try to run kubeless on the latest Minishift release:

For kubeless version 0.2.3 there seems to be a compatibility issue with Openshift. As far as I understood kubeless uses a new Custom Resource Definition (of Kubernetes v1.7.0+, according to the release notes) from version 0.2.0 on. This probably breaks compatibility with Openshift because version 3.6 is based on Kubernetes 1.6. I run into thi

[2017-10-20 10:23] andresmgot commented on #386
It is not, for the moment is only available for Node.js and Python

Indeed. That is in our roadmap (check #166 and #375)

For the moment we are only exposing with Prometheus the number of calls, the number of errors and the function execution time.

They are for the autoscale feature (I see you already noticed that from #361)

For the moment it is not possible to add new metrics from within a func

[2017-10-20 10:57] jbianquetti-nami commented on #390
See commit https://github.com/kubeless/kubeless/commit/a454772b456eaeae6c4580e47174fe68b05b8b66.

Kubeless versions prior to 0.2.3 must work for you.

[2017-10-20 12:03] jberggg commented on #390
Thank you for your fast reply.

The kubeless-controller prints following log message over and over again.
`E1020 11:57:31.204827       1 reflector.go:201] github.com/kubeless/kubeless/pkg/controller/controller.go:119: Failed to list *spec.Function: User "system:serviceaccount:kubeless:controller-acct" cannot list all functions.k8s.io in the cluster`

[2017-10-20 12:43] sebgoa commented on #390
@jberggg kubeless was only test on openshift 1.5.1 which was the release prior to 3.6.

3.6 does not include TPR afaik, and 3.7 does not include CRD yet.

so you need to use minishift 1.5.0 (which has TPR) and downgrade to kubeless 0.1.0

The version numbers are confusing, the support of TPR and CRD is not yet well advertized in openshift so I know this is very confusing.

We probably need to remo

[2017-10-20 14:05] deissnerk commented on #354
@andresmgot thanks for providing the document! The overall concept looks really promising to me. I have a few questions, though.

# Cardinality of Trigger Pods
It is mentioned that there might be multiple functions per kafka consumer or ingress controller. In which cases would a new consumer be created? For an ingress, I suppose the ingress controller is handling this. Does this mean that there wi

[2017-10-20 14:49] jbianquetti-nami commented on #389
Note: Adding this to `kubeless.jsonnet` will enable the topic deletion on Kafka config file:

[code]
Also, we will need to delete the topic:
[code]
 See this to undertand why the topic deletion doesn't happens in the moment: https://community.hortonworks.com/articles/72622/how-kafka-delete-topic-command-works.html

[2017-10-21 08:17] sebgoa commented on #390
I checked with the openshift folks, 3.7 should come out late november and it should have CRD.

So we should be able to run kubeless on openshift 3.7 just before kubecon :)

[2017-10-21 08:18] sebgoa commented on #370
closing since we merged the tightened rules

[2017-10-21 08:18] #370 closed

[2017-10-22 12:40] phsiao opened #392 "allow creating headless service"
In our environment our pods has regular IPs via DHCP and the service name is integrated into our DNS, so we can simply lookup the IP of a pod via DNS, and no need for ingress controller or proxy.  It would be great if there is an option for function deploy to allow creating headless service and allow it to use standard port (80).

[2017-10-22 17:00] sebgoa commented on #392
Interesting, you are still using a selector to get the endpoints created though, correct ?

could you share an example of your headless service ?

[2017-10-22 22:34] phsiao commented on #392
Correct, we are still using a selector to get the endpoints mapped to the service.

Following the get-python example to deploy a function and we get

  $ kubectl -n default describe svc get-python
  Name:			get-python
  Namespace:		default
  Labels:			function=get-python
  Annotations:		<none>
  Selector:		function=get-python
  Type:			ClusterIP
  IP:			100.73.69.237
  Port:			function-port	8080/T

[2017-10-22 22:55] phsiao opened #393 "kubeless deployment security context and practice"
kubeless starts deployment that runs as root, which arguable may not be needed especially because it only binds to unprivileged port.   Even if it needs to bind to privileged port it may not need to run as root if the underlying kernel is configured to support binding to privileged port by non-root user.

I suggest the following for considerations:

The deployment should create container that does

[2017-10-23 01:51] FrankWalter commented on #361
The autoscaling  worked for http functions, but as for pubsub functions, when I tried to create a autoscale by using:
[code]
Things went wrong.
It seems that the function_call_total metric doesn't exist.

https://github.com/kubeless/kubeless/blob/8187b22f42c9f3c20c1b7d031dbba8065664be6a/cmd/kubeless/autoscaleCreate.go#L39

So I just use the qps metrics
[code]
and use
[code]
to trigger autoscaling.

[2017-10-23 01:53] anguslees commented on #386
Note also that some of the other metrics you mention (cpu/memory use, in particular) are captured by generic k8s/prometheus monitoring, so we don't need to reimplement that in kubeless explicitly (ie: any sort of "kubeless dashboard" would want to include generic k8s pod-level metrics in addition to the kubeless-specific ones).

Adding custom metrics depends on the runtime, and how prometheus inte

[2017-10-23 03:04] #199 closed

[2017-10-23 05:29] Disturbing commented on #141
What's the expected eta until custom runtime in the CLI is done?

[2017-10-23 07:49] andresmgot commented on #141
Sorry for not getting back to this issue. The feature is available since v0.2.2, you can find the available documentation [here](https://github.com/kubeless/kubeless/blob/master/docs/runtimes.md#custom-runtime-alpha).

I am going to close this issue, please open a new one if you find any issue using custom runtime images.

[2017-10-23 07:50] #141 closed

[2017-10-23 07:54] sebgoa commented on #393
Are you running on openshift :)

[2017-10-23 08:03] sebgoa commented on #390
I am going to leave this open and as soon as openshift 3.7 is released we should validate our release on it.

[2017-10-23 08:04] jberggg commented on #390
Thank you for the investigation and your update :)

[2017-10-23 08:29] andresmgot commented on #354
thank you @deissnerk for raising those points, this is how I see them:

Yes, we can call them "trigger controllers". We need an entity that register triggers and associate them to a runtime pod/function. For HTTP triggers, this role can be assumed by the ingress controller and for Kafka we will need to create that new entity that creates these Kafka consumers to trigger functions when messages are

[2017-10-23 08:31] sebgoa commented on #103
this is now #354 so closing it

[2017-10-23 08:31] #103 closed

[2017-10-23 08:32] sebgoa commented on #32
see #354

[2017-10-23 08:32] sebgoa commented on #30
see #354

[2017-10-23 09:58] ngtuna commented on #361
@FrankWalter Sorry for the delay response. TBH I have missed this thread for couple days :-( And the usage should be documented. I will spend time to write it today.

So currently there are two supported metrics: `qps` and `cpu`. They are listed in the help: `kubeless autoscale create --help`. If you use `qps`, the rate of incoming requests to function per second will be collected and monitored fo

[2017-10-23 11:21] ngtuna commented on #361
The warning message happened at the initial time when hpa controller was trying to connect prometheus system and retrieved the metric. You might want to optimize the hpa controller a bit by adjusting the sync period described here: https://github.com/kubeless/kubeless/pull/374

[2017-10-23 11:58] phsiao commented on #393
No we are not.

We run vanilla Kubernetes with reasonable policy and restriction using RBAC/PSP/Initializer/admission controllers.   We have a multi-tenant environments so these practices are important for us to get right early on.   :)

Happy to chat more if you are interested in our environment.

[2017-10-23 12:45] phsiao commented on #392
I would love to give it a shot.  Has not done any work with go so it is going to take me a while to get started, but will shoot for having something this week.

[2017-10-23 13:22] sebgoa commented on #393
@phsiao yes would love to know more. You can reach me at sebgoa@bitnami.com

[2017-10-24 02:01] FrankWalter commented on #361
@ngtuna thanks for your detailed reply, I will try to adjust the max number. :smile:

[2017-10-24 06:55] ahriy commented on #361
adjusting the max number to bigger didn't seem to work either. :disappointed:
[code]

[2017-10-25 08:46] ngtuna commented on #361
Hi @arjunrao87 ,

Yes and no. Actually it's default configuration for `cpu` metric. If you want to use custom metrics (`qps`) then the cluster is set up for HPA controller can retrieve that metric.

No. Autoscaling is supported for both HTTP and Pubsub via the `qps` metric and ready to be used. The `function_call_total` metric is added into HPA object and it represents `qps`.

Yes.

I am not prett

[2017-10-25 09:35] sebgoa commented on #361
to the latest. Correct, there would be only one Kafka consumer.

[2017-10-26 16:10] deissnerk commented on #354
@andresmgot

This way there would be different interfaces for HTTP and other triggers, right?

Have you looked at #241, yet? I wonder, if istio could somehow be a nice addition here.

[2017-10-27 07:39] andresmgot opened #395 "Fix dependencies installation and add liveness probe endpoint for .NET"
We should add a route `/healthz` that returns a 200 OK for the .NET runtime, right now the containers keep restarting because that endpoint returns a 404 so the pod is considered "unhealthy". cc/ @allantargino

[2017-10-27 08:11] andresmgot commented on #354
I was thinking on having the the same interfaces:
 - Between the "trigger controller" and the runtime:  A simple HTTP request with custom headers
 - Between the runtime and the function: The "parameters" object specified in the document
The runtime should have information enough to build the `parameters` object, that information can be specified by the request or by the environment.

Not yet. I wi

[2017-10-27 08:42] andresmgot commented on #354
PR with the document: https://github.com/kubeless/kubeless/pull/396

[2017-10-28 16:43] mike-pun commented on #379
I was on a tight timeline and I got around the issue with straight K8S ingress. Will try next time.

[2017-10-28 16:43] #379 closed

[2017-10-30 17:21] sunilkumarmohanty opened #398 "kubeless controller stuck at container creating state"
Hi,

I am using kubeless version 0.2.3. But, my kubeless controller and zoo are stuck at containercreating state and kafka is stuck at Pending state for ever.

I am using kubernetes v 1.8.2.

edited:
I get the below error message when I describe kubeless controller
Failed create pod sandbox

Best Regards
Sunil

[2017-10-31 03:48] ngtuna commented on #398
Hi @sunilkumarmohanty , I guess it's probably RBAC issue. Can you try this ?
[code]

[2017-10-31 04:01] ngtuna commented on #355
Hi @andresmgot can you make a PR to submit this document markdown-ed to /docs/proposals ?

[2017-10-31 04:07] ngtuna commented on #361
ping @ahriy if increasing the max number doesn't work out, can you just add more requests to the function and adjust the hpa sync period? It should work. If you need a screen capture from my setup I will do

[2017-10-31 06:48] anguslees commented on #393
I think this was made possible with https://github.com/kubeless/kubeless/pull/217, it just isn't exposed in the CLI.  So .. if you're comfortable creating API objects from `kubectl create -f $yaml` (or similar), then you can construct all sorts of podspec templates right now, including this one.

Having said that, I sympathise with the original proposal - theoretically we _should_ be able to enabl

[2017-10-31 08:07] andresmgot commented on #355
@ngtuna Yes, that's true, I will update the document with the latest changes and submit it along with the implementation (that is almost finished).

[2017-10-31 09:58] ccll opened #399 "Scheduled function not running periodically in k8s 1.8"
I have a simple python function:
[code]

Deployed with kubeless (0.2.3) to a GKE cluster (1.8.1-gke.0):
[code]

The function pod is running, but never called periodically, and no CronJobs is created in the Kubernetes cluster.

[2017-10-31 16:08] andresmgot commented on #399
Hi @ccll,

I am able to reproduce your issue. With a GKE cluster (1.8) it is necessary to use the RBAC version of kubeless and the manifest doesn't give the controller permissions to create CronJobs. I can see the following error in the log:
[code]
@jjo can you take a look?

[2017-11-01 03:38] phsiao commented on #393
I have not looked very closely yet, but it appears to me that kubeless is leveraging `initContainers` to do some initialization work such as installing runtime's packages so we can separate the securityContext for the initContainers and the regular runtime.

I think sometimes we need to modify the rootfs to make things flexible, such in the #364 so additional commands can be installed, but _maybe

[2017-11-01 04:29] anguslees commented on #393
Agreed, we should decide if this is a thing we want, and follow-through on that decision.  Such a decision might push us strongly towards a more significant "build" step, for example (although I imagine your original security concern would also impose other restrictions like "no in-cluster docker build daemon")

Have you looked at the actual Function k8s API object (see https://github.com/kubeless

[2017-11-01 06:01] sunilkumarmohanty commented on #398
I think the issue was because of this - https://github.com/kubernetes/kubernetes/issues/34101
and found the solution at https://github.com/davidkbainbridge/k8s-playground/blob/master/ansible/roles/k8s-master/tasks/main.yml

[2017-11-01 06:40] anguslees commented on #361
Look at the targets above:

Your current "load" is 0.566/100 - there's no way it _should_ scale to more than one replica with that configuration!

I suggest you try an autoscale target that is several orders of magnitude smaller, and less than the load you are currently generating (just to watch it work), eg:
[code]
(ie: scale up if the per-pod load exceeds "100m" qps == 0.1 qps == 1 query every 1

[2017-11-01 07:25] ccll commented on #399
@andresmgot Yes, I got same logs as yours.
Then I did some test, added resource permission for `cronjobs.batch` to the ClusterRole, which looks like:
[code]

Apply it and check the resource object:
[code]

Now we have the permission over `cronjobs.batch`, then deploy the scheduled function with `kubeless` again, this time the log of kubeless-controller is different:
[code]

The cronjob is still no

[2017-11-01 08:48] sebgoa commented on #399
@andresmgot gut feeling is that in 1.8 CronJob was made beta, so our controller is still creating cronjob in alpha version group (1.7 like). So the jobs never get created..

[2017-11-01 08:51] sebgoa commented on #398
Great, so can we close this as not a kubeless issue ?

[2017-11-01 08:58] sunilkumarmohanty commented on #398
yes please

[2017-11-01 08:58] #398 closed

[2017-11-01 09:27] ccll commented on #390
Openshift released a RC version `v3.7.0-rc.0` several days ago, I've tried to run kubeless on top of that with minishift.
[code]

All looks good, the CustomResourceDefinition is there:
[code]

But the kubeless-controller failed to deploy functions, the logs:
[code]

Is this problem rooted in Openshift or Kubeless?

[2017-11-01 13:07] phsiao commented on #393
Right, was looking around the various runtime docker images as well as how customization such as ports to listen on for http-trigger and kafka topic to subscribe to for event-trigger, I become clear to me the interface must also be clearly defined for kubeless to be successful.   For example, one of the use case I have is to provide a simple way to build mashups API for internal APIs, but to do th

[2017-11-01 13:14] phsiao commented on #393
Regarding the pod template, I looked at it but did not quite get what you were saying, but I think I do now.   Yes, I can modify the function spec at runtime, but if I have to do that for every function for same/similar things than it is not very efficient.   I think we can introduce a concept of global default pod template, and namespace default pod template, that the controller will import when

[2017-11-01 13:54] sebgoa commented on #390
It seems to be an RBAC issue, we have not tried yet on openshift 3.7.

Can you run `oc api-versions` and check that the endpoint `k8s.io/v1` is present ?

[2017-11-01 15:46] sebgoa commented on #393
@phsiao would love your help with https://github.com/kubeless/kubeless/pull/396

that's where we are going to work on a better design for the function interface.

[2017-11-01 15:49] sebgoa commented on #399
I think the controller is using batch/v2alpha1 and not batch/v1beta1 . I am not clear how we can support both cc/ @ngtuna

[2017-11-01 17:50] vishaltelangre opened #401 "Autoscaling with custom metrics doesn't work if the app is not under default namespace"
I am following [Autoscaling with custom metrics on k8s 1.7](https://github.com/kubeless/kubeless/tree/master/manifests/autoscaling).

It works great if the sample app (which exposes the metrics and has an HPA) is created under the **default** namespace.

But when I create it in another **namespace** with following modifications, it doesn't work.

[code]

In the logs of `custom-metrics-apiserver` p

[2017-11-01 17:52] vishaltelangre commented on #401
cc: @DirectXMan12

[2017-11-02 01:08] ccll commented on #390
@sebgoa Sure, I suppose you meant `kubectl api-versions`?

[code]

[2017-11-02 02:43] ahriy commented on #361
I followed @anguslees 's instruction, and it works!
Thanks for your kindness help! @absoludity @ngtuna @sebgoa
[code]

[2017-11-02 02:44] #361 closed

[2017-11-02 06:47] ngtuna commented on #399
That's right. The controller is currently using batch/v2alpha1. If we want to cover both cases, we will do the cluster version validation. I will take it.

[2017-11-02 07:47] ccll commented on #390
`kubectl api-verions` on a GKE 1.8.1 cluster:
[code]

[2017-11-02 08:18] sunilkumarmohanty commented on #313
hi @ahriy,

did this issue of yours get resolved?

[2017-11-02 08:31] sebgoa commented on #361
terrific, it would be great to read a blog about it , that's really cool

[2017-11-02 10:19] vishaltelangre commented on #401
Looks like the ServiceMonitor object needs to be in the same namespace where the Prometheus object is.

So, to make it work, I needed to create a service monitor inside the `default` namespace:

[code]

Make note of the `namespaceSelector` and `selector` configs above.
The `namespaceSelector` is configured to look for services in all namespaces (reference: https://github.com/coreos/prometheus-oper

[2017-11-02 10:19] #401 closed

[2017-11-02 15:48] allantargino commented on #395
I didn't notice that, @andresmgot - but I just tested and could catch this bug. I'll develop that and make some improvements on the runtime. Thanks!

[2017-11-02 15:51] fernandodelaiglesia opened #402 "Installation question: kubernetes cluster storage class and provisioner"
Dear all,

I'm trying to deploy kubeless (version 0.2.3) in top of a kubernetes cluster version 1.7 (with 2 nodes), but I'm unable to make the kafka-0 pod run. It stucks in Pending.

When describing, I get:

Events:

  Type     Reason            Age               From               Message
  ----     ------            ----              ----               -------
  Warning  FailedScheduling  5s (x7

[2017-11-02 16:25] sebgoa commented on #402
So the Kakfa container is not starting indeed because it cannot find a PV to match the PV claim. So you need to create a PV by hand or configure dynamic storage provisioning.

This is a k8s configuration issue

That said, if you just want to experiment with http triggered functions you can keep on going. The Kafka pod is only required for PubSub functions. Bottom line, kubeless works 50% without K

[2017-11-02 17:57] jimcurtis opened #403 "It would be great to have instructions for setting up on GKE"
For most kubernetes based apps, it is easy to play around with them using Google Container Engine (GKE) because it is the easiest way to setup a native k8s cluster.  It would be nice to have simple instructions similar to https://github.com/projectodd/incubator-openwhisk-deploy-kube/blob/simplify-deployment-openshift/resources/README-GKE.md for how to setup kubeless on GKE.

[2017-11-03 08:15] sunilkumarmohanty opened #404 "Volume issues: PersistentVolumeClaim is not bound: "datadi-kafka-0""
Hi,

My kafka-0 pod is stuck at pending stage. When I did a describe on the pod, I found the above message.

[2017-11-03 08:19] sebgoa commented on #404
You probably do not have any persistent volumes available to match the claim that the Kafka statefulset needs.

You can either create a PV, or setup dynamic provisioning.

that said, http triggered function will work without the kafka pod being in running state.

[2017-11-03 08:20] sebgoa commented on #403
Yes good point Jim, we need to write those docs.

[2017-11-03 09:08] fernandodelaiglesia commented on #402
Agree, this is a k8s conf issue, but IMHO it is worth to warn in the installation instructions that you need to configure it, and hopefully to point to some reference to configure the PV and/or SC in the proper way in order to get your kafka up and running

Thanks

[2017-11-03 09:09] fernandodelaiglesia commented on #404
Same as #402

[2017-11-03 16:14] kdihalas opened #405 "kubeless ingress ls gives error in kubernetes 1.7.5"
**Command:**
kubeless ingress ls

**Error**
panic: runtime error: index out of range

goroutine 1 [running]:
main.printIngress(0x362a5a0, 0xc420098000, 0xc4200b6100, 0x3, 0x4, 0x0, 0x0, 0x0, 0x0)
	/home/travis/gopath/src/github.com/kubeless/kubeless/cmd/kubeless/ingressList.go:74 +0x363
main.doIngressList(0x362a5a0, 0xc420098000, 0x364bb20, 0xc420384320, 0x2954262, 0x7, 0x0, 0x0, 0x0, 0x0)
	/home/

[2017-11-04 11:49] sunilkumarmohanty opened #406 "Kubeless example"
Hi,

I ran the example given in the example folder. Though, I am able to execute the function using kubeless cli, I am unable to run them using curl
The error that I get is

I created my own runtime. Again I am able to run them using kubeless cli, but when I run them using curl, I get the below message

[code]

[2017-11-04 13:45] #406 closed

[2017-11-04 13:46] sunilkumarmohanty commented on #406
I was using the wrong url :-(

[2017-11-05 12:35] andresmgot commented on #405
It seems that the panic error is caused because it finds an Ingress object without any rule. What it does return for you when you execute?:
[code]

[2017-11-06 07:59] ngtuna commented on #395
This leads to the integration test keeps failing at `post-dotnetcore` test I guess

[2017-11-06 10:29] ngtuna commented on #399
@sebgoa Validating k8s version is easy with client-go. However, the current client-go (v3.0.0) doesn't support batch/v1beta1. So it needs to be upgraded to [v5.0.0 which is compatible with k8s 1.8](https://github.com/kubernetes/client-go#compatibility-client-go---kubernetes-clusters), that I am afraid of breaking several features. I am suggesting we eventually upgrade client-go; firstly go with v4

[2017-11-07 04:45] ngtuna commented on #389
Do you have any update on this issue @andresmgot ?

[2017-11-07 04:47] ngtuna commented on #357
That would also be great to stream function log to kubeless-ui then users will truly have a single-interface to interact with kubeless

[2017-11-07 06:30] ngtuna commented on #320
Can we say we have solved this ? cc/ @jbianquetti-nami

[2017-11-07 07:58] ngtuna commented on #383
I think it's nature to have allowing the 2nd instance of the function running in concurrency with the previous one if it doesn't finish yet from the system point of view. We can queue the function instance, but that would probably lead to a worse case where the 1st instance is hanging and the "queue" reaches to the over state. My point is we don't try to cover all real cases and build a perfect sy

[2017-11-07 08:20] andresmgot commented on #389
Nope, we didn't have time to work on this yet

[2017-11-07 10:19] sebgoa commented on #320
no the PR was closed and a new one never re-opened.

[2017-11-07 10:21] sebgoa commented on #357
@arjunrao87 this is very strange. Can you give us more info on what the environment looks like. There is no reason why the functions should restart on their own. It has to be a k8s environment issue/capacity issue

[2017-11-07 10:24] ngtuna commented on #405
@kdihalas I am not be able to reproduce your issue on k8s v1.7.5. It sounds a bit weird that kubeless creates ingress object without rule. Can you give us the output of `$ kubectl get ingress -o yaml` that @andresmgot pointing out above ?

[2017-11-07 15:36] andresmgot commented on #395
BTW, the installation of requirements doesn't work either. There is not a handler to install and load `.NET` dependencies.

[2017-11-08 08:08] kdihalas commented on #405
Sorry for the delay. Asterisks is just a standard domain.

`backend:
  servicename: cluster-tester-metrics
  serviceport:
    type: 0
    intval: 9551
    strval: ""
tls: []
rules: []

backend: null
tls: []
rules:
- host: kubeless-test.****
  ingressrulevalue:
    http:
      paths:
      - path: /
        backend:
          servicename: get-python
          serviceport:
            type: 0

[2017-11-08 08:16] kdihalas commented on #405
So it seems that the problem is the first definition, which i have no idea how this can be valid, but in any case should this be supported?

[2017-11-08 08:28] kdihalas commented on #405
Maybe you can tag the ingress that are created from kubeless cli with some labels?

[2017-11-08 09:32] ngtuna commented on #405
Ah right. We should add ownerReference to both ingress and hpa objects created by kubeless. Then GC can also collect them together with dep, cm and svc. I'll take it.

[2017-11-08 12:01] andresmgot commented on #83
This is now discoverable using `--help`:

[code]

I am closing this Issue, please let me know if you miss something else.

[2017-11-08 12:01] #83 closed

[2017-11-08 12:10] andresmgot commented on #87
I am taking this, we can return the controller logs in case an issue is found and return the control to the user just when the function is successfully deployed

[2017-11-08 14:12] jbianquetti-nami commented on #320
Oh, I didn't notice that was closed when I reset/rebased my personal repository. My bad.

No closed yet.I haven't adequate time to deal with this, @jjo will take care of this.

[2017-11-09 13:30] sebgoa commented on #87
I think the `function ls` call should return a status, like the Pod Status for that function.

We can also add the number of replicas in the deployment, so that we can compute the number of Pods that are READY for that function.

I would not want to block waiting for a successful deployment to become READY.

[2017-11-09 15:25] andresmgot commented on #87
People won't know at the beginning that there is a `function ls` so if the command doesn't tell them anything it would be difficult for them to know if the deployment went fine or wrong (or what happened).

I just submitted a PR with the feedback I would expect but happy to change the approach if I am wrong.

[2017-11-09 15:31] sebgoa commented on #87
So we need to check the CLI behavior on lambda and google cloud function. I think this is not a blocking event since the lambda deploy actually uploads to S3 then deploys...it could take several minutes the first time around, what happens if your network fails during that time ?

[2017-11-09 15:35] andresmgot commented on #87
I will check it

There is a timeout of 10 minutes (by default). If the network fails it will retry 3 times and then it will return an error saying that it is not possible to retrieve the deployment status.

[2017-11-09 15:48] andresmgot commented on #87
So Lambda doesn't load the function until the it's triggered so there is no "deployment". It gives the error log in case the function fails.

Google Cloud Functions takes a similar approach than us. It deploys the function without giving feedback. The documentation tells you to manually check the status of the function afterwards: https://cloud.google.com/functions/docs/quickstart#deploy_a_functio

[2017-11-09 16:41] sebgoa commented on #87
So I appreciate what you have done, I just don't think we should block on deploy. Otherwise the user could seat there waiting for the call to return for 10 minutes.

Instead I really think we should add a state to a function, using the state of the Pod.

[2017-11-09 16:51] andresmgot commented on #87
Sounds reasonable to me as far as we tell the user to check that status.

[2017-11-09 18:05] andresmgot commented on #87
Now the PR is pretty trivial. It is ready for landing.

[2017-11-10 09:23] #87 closed

[2017-11-10 09:57] murali-reddy opened #417 "kubeless list option should give info on http endpoint"
kubeless list option should give info on http endpoint for `--trigger-http` functions. We can use `kubeless call` command to trigger the function, but for external event source that want to trigget the function information of http endpoint would be helpful

Something like information give for [serverless info](https://github.com/serverless/serverless-kubeless#try-out-the-example)

[code]

[2017-11-10 12:47] ccll opened #418 "Does the pubsub message send to only 1 consumer or all consumers?"
I'm a newbie to kafka messaging and found out in it's docs there are two models of messaging:
1. The 'queueing model' where messages are load balanced between a group of consumers.
2. The 'pubsub model' where messages are sent to all consumers.

Since the docs of kubeless call it's event model as 'pubsub', I guess it uses the 'pubsub model' of kafka, right?
Is there any way to achieve the 'queuein

[2017-11-10 15:34] andresmgot commented on #399
mm, actually this only happens in GKE, with Minikube (cluster version 1.8.0) is actually creating the CronJob using the API version batch/v1beta1. I am not fully sure why it does work in Minikube.

[2017-11-10 15:40] sebgoa commented on #399
your minikube is on 1.8 , but GKE is still on 1.7.5

[2017-11-10 15:44] andresmgot commented on #399
Seems that in Minikube it allows you to create the resource using `batch/v2alpha1` and it replicates the object using `batch/v1beta1` on its own. Unfortunately GKE doesn't behave the same so we would need to use client-go 5.0.0.

I already bumped the version to 4.0.0 in #419 and things seems to work fine, I will try with 5.0.0 in both k8s 1.7 and 1.8 and check if the update is possible.

[2017-11-10 15:45] andresmgot commented on #399
I tried with v1.8.2-gke.0

[2017-11-10 16:01] sebgoa commented on #399
we need to ask upstream about this. because if we keep updating client-go it will break older versions of k8s.

[2017-11-10 16:49] andresmgot commented on #399
mm, AFAIK we only support 1.7 and 1.8, isn't it?

Anyway, the [breaking changes of 5.0.0 ](https://github.com/kubernetes/client-go/blob/master/CHANGELOG.md#v500) seems all fixable on our side. We just need to be careful with not breaking CronJobs for 1.7.

[2017-11-10 17:05] andresmgot commented on #399
NVM, I hit a wall when trying to upload it since the module prometheus-operator [is only compatible with client-go 4.0.0](https://github.com/coreos/prometheus-operator/blob/master/Documentation/compatibility.md#kubernetes)

We will need to wait for them to update if we want to migrate to 5.0.0

[2017-11-13 07:37] murali-reddy opened #420 "kubeless autoscale create issues"
[code]
Looks like `--value` is required. This flag need to be marked as required or need a default value.

[code]
HPA creation failing possibly due to required configuration is not there. At the minumum we need better message how to proceed.

[2017-11-13 08:08] ccll commented on #418
Did some test, scaled a function deployment to 2 replicas and then only the second (newer) replica receives the topic messages.
Is this a bug or expected behavior?

[2017-11-13 08:53] andresmgot commented on #420
+1 I found the same for the command `kubeless topic publish`

[2017-11-13 09:25] murali-reddy opened #421 "harden the pod used for function with ingress and egress network policies"
User should be able to express the intent on who can reach the pod's running the functions, and what they can reach out.

kubeless should translate the intent to:

- associating ingress network policy so only intended event source can trigger the function
- associating egress network policy so only intended service or ip etc can reached out

[2017-11-13 10:21] ngtuna commented on #399
Does client-go 4.0 support hpa and cronjob apiversions that we are needing @andresmgot ?

[2017-11-13 10:36] murali-reddy commented on #420
I am using 1.8. That explains.

I will the required field issue.